<!--- 

Randomly get a series of settings

 --->


<cfoutput>
	Start: #now()# <br />
</cfoutput>

<cfset settingNames = application.com.settings.getAllSettingNames()>

<cfset feed = {settingNames = settingNames, number = 200, threads = 2}>

<cfset threadnames = "">

<cfloop index="i" from = "1" to = "#feed.threads#">
	<cfset threadnames = listappend (threadnames,i)>
	 <cfthread name="#i#" feed= #feed#>
		<cfset thread.result = []>
		<cfloop index="i" from="1" to="#feed.number#">
			<cfset num = max(1,int (rand() * arrayLen (allSettingNames)))>
			<cfset settingName = allSettingNames[num]>
			<cfif not settingName contains "defaultcountryselection">
				<cfset setting = application.com.settings.getSetting (settingName)>
			</cfif>
		</cfloop>
	</cfthread>
</cfloop>

<cfthread action="join" name= #threadnames# />


<cfoutput>	
	Threads: #feed.threads#	<br />	
	Settings per thread: #feed.number#<br />
 	End: #now()# <br />
</cfoutput>


	Reloading <br />
	<script>
	location.href = location.href 
	</script>




