/*
 * COLOR KEY:
 * tan:			#FFEFB3
 * dark-tan: 	#B2A46B
 * blueish:		#CCFFFA
 * light-purp:	#CC7BC4
 * dark-purp:	#B274AC 
 */

body {
	/*}background: #FFEFB3; */
	font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 15px !important;;
}
h1,h2,h3 {
	clear: left;
	margin: 0.5em 0 0.5em 0 !important;
}
/* clickable stuff */
	button {
		cursor: pointer;
	}

/* positioning & initial visibility */
	button {
		border: 1px solid #D1E0F3;
		background-color: #E9F2FC;
		color: #15428B;
		font-size: 1.3em;		
		margin-right: 5px;
		padding:5px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	button.active {
		background-color: #BAD0EE;
		font-weight: bold;
	
	}
	#mocker button {
		float: left;
	}
	label, textarea, input, select {
		float: left;
	}
	#mocker p {
		display: block;
		width: 340px;
		float: left;
		margin-right: 25px;
	}
	#statuscode {
		font-size: 2.8em;
		padding: 6px 3px;
	}
	#rest_body {
		float: left;
		clear: left;
	}
	.bump {
		float: left;
		clear: left;
	}
	/* #reloader {
		float: right;
	} */
	#mock {
		display: none;
	}
	select, input {
		font-size: 1.4em;
		color: #FFFFFF;
		background-color: #B2A46B;
		border: 0 none;
		font-size: 1.2em;
		padding: 4px;
	}
	select, input, textarea {
		width: 100%;
	}
	#content {
		width: 705px;
		font-size: 1em;
	}
	#uri {
		margin-bottom: 8px;
	}

/* client mocking tool */
	#submit_get {
		color: #090;
	}
	#submit_put, #submit_delete {
		color: #009;
	}
	#submit_post {
		color: #900;
	}

/* documentation generation tool */
	#docs {
		display: none;
	}
	#docs table {
		font-size: .8em;
		width: 100%;
		border:
	}
	#docs thead td {
		background-color: #EDEEF0;
		color: #000;
		padding:
	}
	

