#canvas {
	background-repeat: no-repeat;
	border: 5px solid #000000;
	clear: left;
	float: left;
	position: relative;
	transform: scale(1);
	transform-origin: 0 0;
	z-index: 0;
}
#canvas a,
#canvas a:link,
#canvas a:visited,
#canvas a:hover,
#canvas a:focus,
#canvas a:active {
  color: inherit;
  text-decoration: inherit;
}

.rectangle {
	-khtml-user-select: none;
	-moz-user-select: none;
	/*opacity: 0.75;*/
	position: absolute;
    white-space: pre-line;
    word-break: normal;
    word-wrap: break-word;
	z-index: 1;
}

.red {
	border: 2px dashed #7fba00;
	background-color: #FFFFFF;
	/*opacity: 0.75;*/
	background: url('/images/icons/text.png') no-repeat 50% 50%;
	background-size: auto 50%;
}
.red.edited {background-image: none;}
.blue {
	background-color: #FFFFFF;
	border: 2px dashed #005b87;
	/*opacity: 0.75;*/
	background: url('/images/icons/image.png') no-repeat 50% 50%;
	background-size: auto 50%;
}
.blue.edited {background-image: none;}

.selectedRed {
	border: 2px dashed rgb(0, 0, 0);
}

.selectedBlue {
	border: 2px dashed rgb(0, 0, 0);
}

.resizeButton {
	background: url("/images/icons/resize.png") no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: -20px;
	bottom: -20px;
	width: 16px;
	height: 16px;
	z-index: 2;
	border: 2px dashed #000;
}

.deleteButton {
	background: url("/images/icons/cobrandingCross.png") no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -20px;
	top: -20px;
	width: 16px;
	height: 16px;
	z-index: 2;
	border: 2px dashed #000;
}

#mainToolbar {
	width: 100%;
	min-width: 1090px;
	margin-top: 1px;
	overflow: hidden;

}

#textToolbar {
	clear: both;
	margin-top:.5em;
	overflow: hidden;
}

#mainToolbar *, #textToolbar * {
	float: left;
	font-size: 14px !important;
	font-weight: normal !important;
	margin-top: 3px;
}

#mainToolbar #pageNumber,
#mainToolbar button{
	margin-top: 12px;
}
#mainToolbar #zoom{
	margin-top: 20px;
	margin-right: 10px;
}
#mainToolbar #zoom span {
	position: relative;
	top: -7px;
}



.colorSelector {
	width: 36px;
	height: 36px;
}

.colorSelectorInterior {
	background: url("/javascript/lib/colorpicker/images/select2.png") repeat scroll center center rgba(0, 0, 0, 0);
	left: 4px;
	top: 4px;
	width: 28px;
	height: 28px;
}



#backgroundColorSelectorInterior {	
	background-color: #FFFFFF;
}

.colorPickerPanel {	
	position: absolute;	
	z-index: 3; 
	padding-top: 3%;
}

.pressed {	
	background-color: #cccccc !important;
}

#opacity {
	width: 50px;
}

#placeholderSection {	
	float: left;	
	margin-left: 1%;
}

label {	
	font-family: Arial;
}

#placeholder {	
	margin-right: 2%;
}

#href {	
	margin-top: 2%;	
	float: none;
}

#iframe { 
	clear: both; 
	float: left;	
	width: 100%; 
	height: 520px;	
	border-right: 1px solid #ddd;	
	border-bottom: 1px solid #ddd;	
	border-left: 1px solid #ddd;	
	border-top: none;
	border-radius: 0 0 4px 4px;	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);	
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);	
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;	
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#mainToolbar button { 
	margin-left:.5em;
}

button:hover { 
	/*background: #cccccc !important;*/
}

#templateDesignerWrapper { 
	overflow:hidden;
	background: #eee; /* Old browsers */
	border:1px solid #ddd; 
	padding:6px 8px 2px;
	border-radius:4px 4px 0 0;
}

#templateDesignerWrapper + iframe {
	margin-bottom: 50px;
}

.ui-corner-all {
	border-radius:0 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background-color: #fff;
	background:#fff !important;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555 !important;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#templateDesignerWrapper #templateDesignerWrapper select,
#templateDesignerWrapper button,
#templateDesignerWrapper #fontSize,
#pageNumber,
#fontFamily,
#fontSize,
#placeholder { 
	color:#474747; 
	padding:.25em; 
	background: #ffffff; 
	border: 1px #ddd solid; 
	border-radius:4px; 
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
	padding-right: .5em;
	padding-left: .5em;    
}

#fontSize { 
	margin-right:.5em; 
}
#zoom {
	margin-top:.5em; 
	margin-left:.5em; 
	min-width:5em;
}

#zoomValue {
	position: relative; 
	top: 12px !important;
}

.textEditorNonActive #fontColorSelectorInterior { 
	background-color: #d9dbd9 !important;
}

.buttonNonActive,
.textEditorNonActive #fontFamily,
.textEditorNonActive #fontSize { 
	background:#d9dbd9 !important;  
} 

.textEditorNonActive #updateBoldButton { 
	margin-right:.5em; 
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -221px #d9dbd9 !important; 
}

.textEditorNonActive #updateItalicButton { 
	margin-right:.5em; 
	text-indent:-9999px;
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -892px #d9dbd9 !important;
}
.textEditorNonActive #updateUnderlineButton { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -2556px #d9dbd9 !important;
}

.textEditorNonActive #textAligncenter { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -957px #d9dbd9 !important;
}

.textEditorNonActive #textAlignright { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -1021px #d9dbd9 !important;
}

.textEditorNonActive #textAlignleft { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -988px #d9dbd9 !important;
}

.textEditorNonActive #textAlignjustify{ 
	margin-right:.5em; 
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -925px #d9dbd9 !important;
}

.textEditorActive #fontColorSelectorInterior { 
	background-color: #000000; 
}

.textEditorActive #updateBoldButton { 
	margin-right:.5em; 
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -221px #fff !important; 
}

.textEditorActive #updateItalicButton { 
	margin-right:.5em; 
	text-indent:-9999px;
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -892px #fff !important;
}

.textEditorActive #updateUnderlineButton { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -2556px #fff !important;
}

.textEditorActive #textAligncenter { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -957px #fff !important;
}

.textEditorActive #textAlignright { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -1021px #fff !important;
}

.textEditorActive #textAlignleft { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -988px #fff !important;
}

.textEditorActive #textAlignjustify { 
	margin-right:.5em; 
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -925px #fff !important;
}

.textEditorActive  button:hover#updateBoldButton { 
	margin-right:.5em; 
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -221px #ccc !important; 
}

.textEditorActive  button:hover#updateItalicButton {
	margin-right:.5em; 
	text-indent:-9999px;
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -892px #ccc !important;
}

.textEditorActive  button:hover#updateUnderlineButton { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -2556px #ccc !important;
}

.textEditorActive  button:hover#textAligncenter { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -957px #ccc !important;
}

.textEditorActive  button:hover#textAlignright { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -1021px #ccc !important;
}

.textEditorActive  button:hover#textAlignleft { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -988px #ccc !important;
}

.textEditorActive  button:hover#textAlignjustify { 
	margin-right:.5em; 
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -925px #ccc !important;
}

.textEditorActive button.pressed#updateBoldButton { 
	margin-right:.5em; 
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -221px #ccc !important; 
}

.textEditorActive button.pressed#updateItalicButton { 
	margin-right:.5em; 
	text-indent:-9999px;
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -892px #ccc !important;
}

.textEditorActive button.pressed#updateUnderlineButton { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -2556px #ccc !important;
}

.textEditorActive button.pressed#textAligncenter { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -957px #ccc !important;
}

.textEditorActive button.pressed#textAlignright { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -1021px #ccc !important;
}

.textEditorActive button.pressed#textAlignleft { 
	margin-right:.5em;
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -988px #ccc !important;
}

.textEditorActive button.pressed#textAlignjustify { 
	margin-right:.5em; 
	text-indent:-9999px; 
	background: url("/ckeditor/skins/moonocolor/icons.png") no-repeat scroll 6px -925px #ccc !important;
}

#fontSize { 
	margin-left:.5em;
} 

 .pressed {
	background:#ccc;
}
 
#fontStyleSection button,
#textAlignSection button { 
	width:30px; 
}

#positionToolbar input {
	width: 4em;
}

#positionToolbar {
	margin-left: 1em;
}

#positionSection, #proportionSection {
	border: 1px solid #ccc; 
	padding: 0 1em; 
	border-radius: 3px; 
	padding:4px .5em;
	background:#fff;
}

#positionSection {
	margin-right: 1em;
}

#positionToolbar .inputSection {
	margin-right: 0.5em;
}

#positionToolbar .inputSection:last-child {
	margin-right: 0em;
}

#placeholder:disabled { 
	background:#d9dbd9 !important; 
}
 
pre {
	margin: 0px;
    white-space: pre-line;
    word-break: normal;
    word-wrap: break-word;
}
    
.backgroundHtml {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

/** positionToolbar **/
#templateDesigner label { 
	font-weight: normal;
	font-size:12px;
	margin-right:5px;
	margin-top:5px;
}

#positionToolbar p {
	margin:2px 5px 0 0;
	padding:0
}
.inputSection input {
	border-radius:4px;
}

#placeholderSection input,
#placeholderSection label {
	float:left;
	font-weight:bold;
}

#placeholderSection label {
	margin-top:.5em;
	margin-right:.25em;
}

@media screen and (max-width: 1024px) {
	#positionToolbar {
		display: block;
		position: relative;
		left: -497px;
		top: 19px;
	}
	#mainToolbar {
		height: 100px;
	}
}