<CF_RelayNavMenu>
        <cf_relayNavMenuItem MenuItemText="phr_Save" CFTemplate="##" onclick="FormSubmit(this);">
        <CF_RelayNavMenuItem MenuItemText="phr_back" CFTemplate="LoginBehaviourManagement.cfm">
</CF_RelayNavMenu>

