<cfcontent reset="true">
<cfheader statusCode = "403" statusText = "Forbidden">
<cfheader statusCode = "403" statusText = "Forbidden">
<cfheader name="Content-Type" value="application/json">
<cfsetting showDebugOutput="No">
{"message":"Forbidden, see logs"}