/*
 * Ext JS Library 1.0
 * Copyright(c) 2006-2007, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://www.extjs.com/license
 */

.x-date-picker {
    border: 1px solid #1b376c;
    border-top:0 none;
    background:#fff;
}
.x-date-picker a {
    -moz-outline:0 none;
    outline:0 none;
}
.x-date-inner, .x-date-inner td, .x-date-inner th{
    border-collapse:separate;
}
.x-date-middle,.x-date-left,.x-date-right {
	background: url(../images/default/basic-dialog/hd-sprite.gif) repeat-x 0 -83px;
	color:#FFF;
	font:bold 11px "sans serif", tahoma, verdana, helvetica;
	overflow:hidden;
}

.x-date-middle .x-btn-left,.x-date-middle .x-btn-center,.x-date-middle .x-btn-right{
	background:transparent !important;
    vertical-align:middle;
}
.x-date-middle .x-btn .x-btn-text {
    color:#fff;
}
.x-date-middle .x-btn-with-menu  .x-btn-center em {
    background:transparent url(../images/default/toolbar/btn-arrow-light.gif) no-repeat right 0;
}
.x-date-right, .x-date-left {
    width:18px;
}
.x-date-right{
    text-align:right;
}
.x-date-middle {
    padding-top:2px;padding-bottom:2px;
}
.x-date-right a, .x-date-left a{
    display:block;
    width:16px;
	height:16px;
	background-position: center;
	background-repeat: no-repeat;
	cursor:pointer;
    -moz-opacity: 0.6;
    opacity:.6;
    filter: alpha(opacity=60);
}
.x-date-right a:hover, .x-date-left a:hover{
    -moz-opacity: 1;
    opacity:1;
    filter: alpha(opacity=100);
}
.x-date-right a {
    background-image: url(../images/default/shared/right-btn.gif);
    margin-right:2px;
}
.x-date-left a{
	background-image: url(../images/default/shared/left-btn.gif);
    margin-left:2px;
}
table.x-date-inner {
    width:100%;
    table-layout:fixed;
}
.x-date-inner th {
    width:25px;
}
.x-date-inner th {
    background: #c3daf9;
    text-align:right !important;
	border-bottom: 1px solid #a3bad9;
    font:normal 10px arial, helvetica,tahoma,sans-serif;
	color:#233d6d;
	cursor:default;
    padding:0;
    border-collapse:separate;
}
.x-date-inner th span {
    display:block;
    padding:2px;
    padding-right:7px;
}
.x-date-inner td {
    border: 1px solid #fff;
	text-align:right;
    padding:0;
}
.x-date-inner a {
    padding:2px 5px;
    display:block;
    font:normal 11px arial, helvetica,tahoma,sans-serif;
	text-decoration:none;
    color:black;
    text-align:right;
    zoom:1;
}
.x-date-inner .x-date-active{
	cursor:pointer;
	color:black;
}
.x-date-inner .x-date-selected a{
	background: #ddecfe;
	border: 1px solid #a3bad9;
    padding:1px 4px;
}
.x-date-inner .x-date-today a{
	border: 1px solid darkred;
    padding:1px 4px;
}
.x-date-inner .x-date-selected span{
    font-weight:bold;
}
.x-date-inner .x-date-prevday a,.x-date-inner .x-date-nextday a {
	color:#aaaaaa;
}
.x-date-bottom {
    padding:4px;
    border-top: 1px solid #a3bad9;
    background: #c3daf9;
}

.x-date-inner a:hover, .x-date-inner .x-date-disabled a:hover{
    text-decoration:none;
    color:black;
    background: #ddecfe;
}

.x-date-inner .x-date-disabled a {
	cursor:default;
	background:#eeeeee;
	color:#bbbbbb;
}
.x-date-mmenu{
    background:#eeeeee !important;
}
.x-date-mmenu .x-menu-item {
	font-size:10px;
	padding:1px 24px 1px 4px;
	white-space: nowrap;
	color:#000;
}
.x-date-mmenu .x-menu-item .x-menu-item-icon {
    width:10px;height:10px;margin-right:5px;
    background-position:center -4px !important;
}