
/*
    * Custom styles which will override vendor styles in isteven-multi-select.css
*/
.multiSelect {
    > button {
        width: 100%;
        text-align: left;
        min-height: 25px !important;
        border-radius: 0;
        user-select: none;
        background-image: none;
        &:hover {
            background-image: none;
        }
        &:disabled {
            background-image: none;
        }
        .buttonLabel {
            padding: 0;
        }
        .caret {
            position: absolute;
            right: 1em;
            top: .7em;
        }
    }
    .multiSelectItem {
        display: block;
        padding: 3px;
        color: #444;
        white-space: nowrap;
        user-select: none;
        border: 1px solid transparent;
        position: relative;
        min-width: 278px;
        min-height: 32px;
        &:not(.multiSelectGroup).selected {
            background-image: none !important;
            color: #555;
            cursor: pointer;
            border-top: 1px solid #e4e4e4;
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #d9d9d9;
        }
        .acol label {
            display: inline-block;
            padding-right: 30px;
            margin: 0px;
            font-weight: normal;
            line-height: normal;
        }
        &:hover {
            background-image: none !important;
            color: #fff !important;
            cursor: pointer;
            border: 1px solid #ccc !important;
        }
    }
    .multiSelectGroup:hover, .multiSelectFocus {
        background-image: none !important;
        color: #fff !important;
        cursor: pointer;
        border: 1px solid #ccc !important;
    }
}
