/*
    * Custom styles which will override vendor styles in ui-grid.css
*/
.ui-grid-top-panel {
  background: #205081;
}
.ui-grid-header-cell-label {
  color: #fff;
}
.ui-grid-selection-row-header-buttons {
  color: #fff !important;
  opacity: 0.5 !important;
}
.ui-grid-all-selected {
  opacity: 1 !important;
	
}
input.ui-grid-filter-input {
  color: #333;
	
}
.ui-grid-icon-up-dir , .ui-grid-icon-down-dir {
	color: #fff;
}