<h1>Angular Build | Test Application - updated</h1>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ui-sref-active="active"><a ui-sref=".home" aria-controls=".home" role="tab">Home</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".sales" aria-controls="sales" role="tab">Sales</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".portal" aria-controls="portal" role="tab">Portal</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".partner" aria-controls="portal" role="tab">Partners</a></li>
</ul>

<div class="tab-content" ui-view="content"></div>