<!--- 
A file to include in a test screen
 --->
This is an included file
<cfoutput>Entity is: #entity.getFullName()#</cfoutput>
<cfset aVariableSetInTemplate = "123">
<cfset local.aVariableSetInTemplate = "123">
