<cfoutput>#structKeyList(application.com.entities.getSessionPersistenceStructForType(entityType))#</cfoutput>

<cfset entityUniqueKey = application.com.relayEntity.getEntityType(entityType).uniqueKey>

<cfif not structKeyExists (url,"entityID") and not structKeyExists (form ,"entityID") and not structKeyexists (form ,entityUniqueKey)>
	<cfquery name="getEntityID">
	select max(#application.com.relayEntity.getEntityType(entityType).uniqueKey#) as entityID from <cf_queryObjectName value="#entityType#">
	</cfquery>
	<cfset url.entityID = getEntityID.entityID>
</cfif>

<cfif structKeyexists (form ,entityUniqueKey)>
	<cfset variables.entityid = form[entityUniqueKey]>
<cfelseif structKeyExists (form ,"entityID")>
	<cfset variables.entityid = form.entityID>
<cfelse>
	<cfset variables.entityid = url.entityID>
</cfif>



<cfparam name="method" default="edit" >

	<cfscript>
		entity = application.com.entities.load (entityType = entityType, entityID = variables.entityID);


		formObject = new form.formobject (entity = entity , screenid  = screenid);
		formObject.appendElementDisplay (type="hidden", name = "screenid", currentvalue = screenid, encrypt=true);
/*		writedump(formObject.renderToStructure());*/

		html = formObject.render();

		writeoutput ("
			<H1>#entityType# #entityID# Screen #screenid#</H1>
			#html#
		");
	</cfscript>

<cfoutput>#entity.isNewRecord()#</cfoutput>
	

