<cfset SQL = "select person.firstname as fn, person.lastname as ln, location.DecimalFlag1 as df1 from person where location.partnerType = 'gold' ">

<cfset SQL = "select location.sitename, location.sitename as df1, persons.firstname from location where persons.firstname = 'william' "		>

<cfset SQL = "select 
					  location.organisationid
					,location.locationid
					,location.sitename
					,location.sitename as df1
					,persons.firstname
					,location.locpartnerLevel  
					,organisation.KeyContactsPrimary
					--,organisation.KeyContactsPrimary.firstname
					,organisation.NumbEmps
					-- , organisation.1to5noie = 1
					,country.countrydescription
				from 
					location 
				where 
						persons.firstname = 'william' 
					and location.locPartnerLevel = 'Partner_Level_SilverIvar' 
					and organisation.NumbEmps = '1to5noe'

					"		>



<cfset runResult = application.com.entities.runEntityQuery (sql)>


<cfoutput>
	<pre>
	#sql#
	</pre>


	<pre>
	#runResult.getMetaData().getExtendedMetaData().sql#
	</pre>
</cfoutput>



<!--- 
<cfset x = entityObj.describe ('persons.firstname')>
<cfdump var="#x#">
 --->


<cfset entityObj = application.com.entities.new("person" )>
<cfdump var="#entityObj.getForeignKeys()#">
<cfdump var="#entityObj.getLocation().getChildEntities()#">
<cfdump var="#entityObj.getLocation().getPersons()#">
<cfdump var="#entityObj.getLocation().getPersons()#">
<cfabort>


<cfset x = entityObj.describe ('location.LOCAPPROVALSTATUS')>















