<cfset x = application.com.entities.describe ("organisation","hq_.locAccManager_.location.locpartnerlevel")>
<cfdump var="#x#">
<cfset x = application.com.entities.describe ("organisation","hq_.locpartnerlevel")>
<cfdump var="#x#">


<cfset x = application.com.entities.describe ("organisation","hq_.locpartnerlevel")>
<cfdump var="#x#">

<cfset entity = application.com.entities.load (entityType = "organisation" , entityID = 1)>

<cfset x = entity.get ("organisation.hq_.locpartnerlevel")>
<cfdump var="#x#">

<cfabort>

<cfset SQL = "select 
					person.personid
					,  location.organisationid
					,location.locationid
					,location.sitename
					,person.firstname
					,location.locpartnerLevel  
					,organisation.KeyContactsPrimary
					--,organisation.KeyContactsPrimary.firstname
					,organisation.NumbEmps
					-- , organisation.1to5noie = 1
					-- ,location.country.countrydescription
					,relatedLocation.sitename as relatedLocation_Sitename
					-- ,person.relatedLocationid
					,organisation.hq 
					,organisation.hq_.locpartnerlevel
					, location.primarycontacts_.fullname
				from 
					person
				where 
						person.firstname = 'william' 
					and location.locPartnerLevel = 'Partner_Level_SilverIvar' 
					and organisation.NumbEmps = '1to5noe'


					"		>



<cfset runResult = application.com.entities.runEntityQuery (sql)>

<cfdump var="#runResult#">

<cfloop query = "runResult">
	<!--- 
	<cfset obj = application.com.entities.load("person", personid )>
	<cfset obj.setRelatedLocationID ( 5016 )>
	<cfset obj.save()>
	
	--->
</cfloop>


<cfoutput>
	<pre>
	#sql#
	</pre>


	<pre>
	#runResult.getMetaData().getExtendedMetaData().sql#
	</pre>
</cfoutput>


<cfset entityObj = application.com.entities.new("person" )>
<cfdump var="#entityObj.getRelationShips()#" expand="false" label = "Relationships" >
<cfdump var="#entityObj.getLocation().getRelationShips()#" expand="false" label = "Relationships" >

