<cfquery name="getID">
select min(organisationid) as organisationid from organisation
</cfquery>

<cfscript>
	entity = application.com.entities.load ('organisation',getID.organisationid);

	writeoutput("Tier1Tier2Distributor: #entity.get ('Tier1Tier2Distributor')#<br />"); 
	writeoutput("Set to Tier1Tier2DistributorTier1<BR>"); 
	entity.set	 ('Tier1Tier2DistributorTier1', 1);
	writeoutput("Tier1Tier2Distributor: #entity.get ('Tier1Tier2Distributor')#<br />"); 
	writeoutput("flagGroup_844: #entity.get ('flagGroup_844')#<br />");
 	writeoutput("get  flag_2743 #entity.get	 ('flag_2743')#<br />" );
	writeoutput("Set  flag_2743<br />");
	entity.set	 ('flag_2743', 1);


</cfscript>
<cfoutput>
	flagGroup_844: #entity.get ('flagGroup_844')#<br />
	get  flag_2743 #entity.get	 ('flag_2743')#<br />
	flagGroup_844: #entity.get ('flagGroup_844')#<br />
	Set  flag_2744 #entity.set	 ('flag_2744', 1)#<br />	
	get  flag_2744 #entity.get	 ('flag_2744')#<br />
	flagGroup_844: #entity.get ('flagGroup_844')#<br />
	UnSet  flag_2743 #entity.set	 ('flag_2743', 0)#<br />
	flagGroup_844: #entity.get ('flagGroup_844')#<br />
	get  flag_2743 #entity.get	 ('flag_2743')#<br />
	flagGroup_844: #entity.get ('flagGroup_844')#<br />
	<cfset newvalue = listRest(entity.get ('flagGroup_844'))>
	flagGroup_844 set to #newValue#	#entity.set ('flagGroup_844', newvalue)#	
	Save <cfset entity.save()>
</cfoutput>