/*.glyphicon { 
  margin-right:5px;
}
*/
.list-group .resultsHeader {margin-left: -5px; margin-right: -5px;}
.gridviewlayout .hiddenGrid {display:none !important;}
.listviewlayout .hiddenList {display:none !important;}

.thumbnail{
  margin-bottom: 0px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item{
  float: none;
  width: 100%;
  margin-bottom: 10px;
}

.item.list-group-item .list-group-image{
  margin-right: 10px;
}

.item.list-group-item .thumbnail{
  margin-bottom: 0px;
}

.item.list-group-item .caption{
  padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, 
.item.list-group-item:after{
  display: table;
  content: " ";
}

.item.list-group-item img{
  float: left;
}

.item.list-group-item:after{
  clear: both;
}

.list-group-item-text{
  margin: 0 0 11px;
}

.item.grid-group-item{
  min-height:300px;	
}

.item.grid-group-item img{
  width:50%;
}

.filterlabel, .filterfield, 
.ui-checkbox, .ui-radio, 
.filterOption {display:inline-block;}

#filterSearch .checkbox-inline input[type=checkbox]{
  margin-left:10px;
}

/* Media Library Advanced */
/* Table */
#mla-list-view th {
	color: #fff;
	border-bottom: none;
}

.mla-image-td img {
	width: 100%;
}

/* Grid View */
.mla-grid-view {
	/*background: #f4f4f4;*/
	text-align: center;
  /* Arsam 01/08/2016 */
  background: #f5f5f5;
  /*height: 250px;  */
  margin-top: 20px;
}

.mla-grid-view a {
	text-decoration: none;
}

.mla-grid-view h1 {
	/*background: #29cdff;*/
	/*color: #fff;*/
	padding: .9em .5em .5em .5em;
	font-size: 16px;
	min-height:60px;
  /* Arsam 01/08/2016 */
  /*height: 50px;*/
  background-color: transparent;
  color: #5E6D78;
  text-align: left;
  font-weight: 500;
}
.mla-image {
  height: 125px;
}
.mla-image img {
  /* Arsam 01/08/2016 */
  max-width: 100%;
  max-height: 125px;
  margin: 0;
}

.mla-grid-view p {
	margin-top: 15px;
	padding: 1em;
	font-size: 12px;
  /* Arsam 01/08/2016 */
  background-color: transparent;
  color: #5E6D78;
  text-align: left;
}
.mla-results-title
{margin-top:10px;}

/* Arsam 01/08/2016 */
#list, #grid {
  color: #A6B2B3;
  border-radius: 0;
  font-size: 14px;
  line-height: 36px;
}

#list:hover, #grid:hover ,
#list:active, #grid:active ,
#list:focus, #grid:focus ,
#list.selected, #grid.selected {
  color: #5E6D78;  
  background-color: transparent;
}

#grid {
  
}

.search-results-pagination a{
  color: #5E6D78;
}

.search-results-pagination a.active{
  background: rgb(221, 221, 221);
}

.btn-group .fa::before {
  margin-right: 10px;
  font-size: 1.75em;
  position: relative;
  top: 5px;
}



/* =======================================================
    GRID VIEW LAYOUT
======================================================= */
.gridviewlayout {

}
.jscroll-added{
  width: 100%;
  float: left;
  display:table;
}

.gridviewlayout .resultsHeader{
  display: none;
}
.gridviewlayout .resultsRow{
  display: inline-block;
  float: left;
  padding: 5px;
}

.gridviewlayout .resultsRow .insideAnchor{
  background-color: #ddd;
  float: left;
  height: 100%;
  width: 100%;
  padding: 15px 10px;
}

.gridviewlayout .resultsRow .insideAnchor:hover {background-color: #eee;}

.gridviewlayout .resultsRow  div[class^=col-] {
  display: block;
  width: 100%;
  height: auto;
}


.gridviewlayout .result-title{  
  /*height: 20px;*/
  padding: 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gridviewlayout .result-title p {
  font-weight: 500;
}
.gridviewlayout .result-img{
  padding: 0;
}
.gridviewlayout .result-description{
  padding: 5px;
}

#search-results .resultsRow {word-break: break-all;}

#search-results .resultsRow .insideAnchor:hover {background-color: #eee;}

#search-results .next {width:100%;float:left;}

/* ------------------------------------
  AS 18/08/2016 MEDIA LIBRARY ¯\_(ツ)_/¯
------------------------------------ */


.filterOption{
  margin-right: 10px;
}

.result-img {
  text-align: center;
}


.resultsTitle {
  background-color: #fff;
  z-index: 3 !important;
}

.backToTop{
  margin-top: 13px; 
}

.gridlist, .backToTop,
.backToTop p, .backToTop i {
  display: inline-block;
}

.backToTop, .backToTop a {
  color: #A6B2B3;
  font-size: 1.125em;
  float: right;
  opacity: 0;
  pointer-events: none;
}

.backToTop a:hover{
  text-decoration: none;
  color: #5E6D78;
}

.backToTop p {
  margin-right: 5px;
    margin-bottom: 0;
    margin-top: 0;

}


#resultsTitle.is_stuck{
    position: fixed !important;
    top: 0px !important;
    bottom: auto !important;
}
.is_stuck{
  padding-bottom: 0;
}

.is_stuck  .backToTop a,
.is_stuck  .backToTop {
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
}

/*.is_stuck */
.resultsTitle{
  padding: 10px 5px;
  padding-bottom: 0px;
}

/* LOAD MORE BUTTON */
.next{
  margin-top: 50px;
}

.next a {
  background-color: #FFD100;  
  margin-right: 10px;
}
.next:hover a,
.next:focus a,
.next:active a{
  background-color: #ffdb3d;
}

.next a i {
  margin-right: 10px;  
}
.next:hover a i,
.next:focus a i,
.next:active a i{
}

.next p {
  display: inline-block;
  color: #aaa;
  font-size: 12px;
  position: relative;
  top: 7px;
}
.next p::before {
  content: '*';
  margin-right: 3px;
}

/* RESULTS HEADER */
.resultsHeader{
  margin-top: 10px;
  background-color: #A4A9AD;
}

.resultsHeader a, .resultsHeader span.headerTitle {
  color: #fff !important; 
  margin-bottom: -3px; 
  padding: 10px 0;
  text-decoration: none;
  font-weight: 700;
  display: block;
}

/* ------------------------------------
  LIST VIEW LAYOUT           ヾ( ･`⌓´･)ﾉﾞ
------------------------------------ */
.listviewlayout #search-results {display:table; width: 100%}
.listviewlayout .resultsRow {display:table-row}
.listviewlayout .resultContent {display:table-cell; margin: 1em 0px}

.listviewlayout .resultsRow:first-child{
  margin-top: 20px;
}

.jscroll-added .resultsRow:first-child{
  margin-top: 0;
}

.listviewlayout .resultsRow{
  padding: 15px 5px;
}

.listviewlayout .resultsRow:nth-child(odd){
  background-color: #ddd;
}
.listviewlayout .jscroll-added .resultsRow:nth-child(odd){
  background-color: #ddd;
}

.listviewlayout div[class^="result-"]{
  text-align: left;
}

.listviewlayout .mla-image{
  text-align: left;
  max-width: 80px;
  height: 80px;
  
}

.filterfield input[type=radio],.filterfield input[type=checkbox],.filterOption input[type=radio],.filterOption input[type=checkbox]{
    float: left;
    top: 10px;
    position: relative;
}

.search-results-pagination a, .resultsRow a, .resultsRow a:hover {color: inherit;}

/* ------------------------------------------------------------------
||    PROD2016-2732 MediaSearch OTB styling                        ||                    
||    A Sarabi 21 November 2016                                    ||
------------------------------------------------------------------ */
.jscroll-inner {
				float:left;
				width: 100%;
				display:table;
			}
/* SEARCH BOX */
form[id="fileSearch"]{
  margin : 15px 0 50px;
}


form[id="fileSearch"] div.checkbox,
form[id="fileSearch"] div.radio{
  margin-right: 10px;
}

form[id="fileSearch"] div.checkbox:first-child,
form[id="fileSearch"] div.radio:first-child{
  padding-left: 0;
}



form[id="fileSearch"] input[type="checkbox"]{
  margin-left: 0;
  top: 2px;
  margin-right: 10px;
}

form[id="fileSearch"] input[type="radio"]{
  margin-left: 0;
  top: 2px;
  margin-right: 10px;
} 

form[id="fileSearch"] .filterMediaGroupTitle{
  padding-left: 0;
}

form[id="fileSearch"] .btn-secondary:focus{
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  border: 1px solid rgba(0, 0, 0, 0);
  color: #333;
  text-decoration: none;
  background-color: #ddd;
}

form[id="fileSearch"] .filterMediaGroupTitle > label{
  position: relative;
  top: 5px;
}

form[id="fileSearch"] .form-group{
  margin: 25px 0;
}

/* SEARCH RESULTS */
.gridviewlayout .resultsRow {
  text-align: center;
}

.gridviewlayout .search-results-pagination {
  float: left;
  clear: left;
}

	.gridlist{
		margin-left: -5px;
		margin-bottom: 10px;
	}


/* MEADIA QUERIES */
@media screen and (max-width: 767px){
  /* #searchElementsBox{
    padding: 20px;
  }
  #search-results {
    padding-left: 20px;
    padding-right: 20px;
  }  */
  #search-results h2{
    font-size: 22px;
    /*margin-left: -2%;
    margin-bottom: 2%;*/
  }   
	.gridlist a{
		display:none;
		margin-left: -5px;
		margin-bottom: 10px;
	} 
}
@media screen and (max-width: 435px){
  form[id="fileSearch"] {
    margin-bottom: 0;
  }
  form[id="fileSearch"] .filterMediaGroupTitle{
    float: none;
    display: block;
    margin-bottom: 5px;
  }
  form[id="fileSearch"] .searchbuttons{
    margin-bottom: 0;
  } 
  form[id="fileSearch"] .searchbuttons input[type="submit"],
  form[id="fileSearch"] .searchbuttons button{
    display: block;
    margin-bottom: 5px;
  } 
	.gridlist{
		margin-left: -5px;
		margin-bottom: 10px;
	}
}
