/* -------------------------------------------------  
  ACTIVITY SCORING WIDGET A. Sarabi 25/08/2016   

    STYLES:
    1. Classic
    2. Ribbon
    3. Rosette

    THEME:
    1. Blue 
    2. Green 
    3. Gold 
    4. Silver 
    5. Bronze 
------------------------------------------------- */

/* =================================================
    BASE STYLES
================================================= */
.scoreSchemeWidget {
  display: inline-block;
  margin: 2em;}
.scoreSchemeWidget.Classic {margin: 0.5em;}
.scheme-title p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

/* =================================================
    STYLES
================================================= */
/* 1. CLASSIC STYLE */
.Classic .scheme-wrapper {
  width: 250px;
  height: 230px;
  border: 1px solid #ccc;
  text-align: center;}
.Classic .scheme-title {
  color: #fff;
  padding: 5px 10px;
  max-height: 30px;
  }
.Classic .scheme-title p {
  margin: 0;
}
.Classic .scheme-score {
  color: #fff;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 15px auto 0;}
.Classic .scheme-score h1 {line-height: 150px;}
.Classic .scheme-score strong {
  max-width: 150px;
  word-wrap: break-word;}
.Classic .scheme-rank {margin-top: 10px;}
.Classic .scheme-rank p {
  color: #777;
  margin: 0;}

/* 2. RIBBON STYLE */
.Ribbon .scheme-wrapper {
  border: 5px solid #fff;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  position: relative;}
.Ribbon .scheme-title {
  width: 80%; 
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 20%;}
.Ribbon .scheme-title p {font-size: 18px;}
.Ribbon .scheme-score {
  width: 100%;
  position: absolute;
  bottom: 17px;
}
.Ribbon .scheme-score h1 {
  font-size: 16px !important;
  width: 100%;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
  margin: 2em auto;
  z-index: 2;}
.Ribbon .scheme-score h1:before,
.Ribbon .scheme-score h1:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  z-index: -1;}
.Ribbon .scheme-score h1:before {
  left: -2em;
  border-right-width: 1.5em;}
.Ribbon .scheme-score h1:after {
  right: -2em;
  border-left-width: 1.5em;}
.Ribbon .scheme-score h1 strong {font-size: 18px;}
.Ribbon .scheme-score h1 strong:before,
.Ribbon .scheme-score h1 strong:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;}
.Ribbon .scheme-score h1 strong:before {
  left: 0;
  border-width: 1em 0 0 1em;}
.Ribbon .scheme-score h1 strong:after {
  right: 0;
  border-width: 1em 1em 0 0;}
.Ribbon .scheme-rank {
  position: absolute;
  bottom: 5%;
  left: 30%;}
.Ribbon .scheme-title{
  overflow: hidden;
  /*word-break: break-all;*/
}

/* 3. Rosette */
.scheme-rank--rosette{display: none;}
.Rosette {
  padding: 0;
  margin: 20px 20px 70px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 25px 0 black, 0 0 25px 0 #000 inset;
  perspective: 800px;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;}
.Rosette .strip {
  z-index: 0;
  display: inline-block;
  width: 205px;
  height: 35px;
  left: -3px;
  top: 82px;
  position: absolute;}
.Rosette .strip:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);}
.Rosette .strip:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);}
.Rosette .strip:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);}
.Rosette .strip:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);}
.Rosette .strip:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);}
.Rosette .strip:after {
  content: "";
  display: inline-block;
  width: 205px;
  height: 35px;
  left: -3px;
  top: 105px;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);}
.Rosette, .Rosette .strip,
.Rosette .strip:after,
.Rosette .strip:before {
  background-size: 4px 4px;}
.Rosette .strip:before {
  content: "";
  display: inline-block;
  width: 205px;
  height: 40px;
  position: absolute;}
.Rosette .scheme-wrapper {
  text-align: center;
  z-index: 10;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-size: 3px 3px;
  position: absolute;
  left: 34px;
  top: 34px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 1s;}
.Rosette .scheme-wrapper.flipped{
  transform: rotateY( 180deg );  
  -webkit-transform: rotateY( 180deg );  
  -ms-transform: rotateY( 180deg );}
.Rosette .scheme-wrapper:after,
.Rosette .scheme-wrapper:before {
  display: none;}
.Rosette .scheme-wrapper .scheme-score {
  position: absolute;
  text-align: center;
  font-size: 18px; 
  top: 40px;
  left: -2px;
  width: 100%;
  opacity: 0;  
  transition: 0.2s opacity linear;
}
.Rosette .scheme-wrapper.flipped .scheme-score {
  opacity: 1;
  transition: 0.2s opacity linear;}
.Rosette .scheme-wrapper .scheme-score:before,
.Rosette .scheme-wrapper .scheme-score:after {
  position: absolute;}
.Rosette .scheme-wrapper .scheme-score:before {
  top: 1px;
  left: 1px;
  color: #262626;
  color: rgba(38, 38, 38, 0.39);}
.Rosette .scheme-wrapper .scheme-score:after {
  top: 2px;
  left: 2px;}
.Rosette .tail {
  position: absolute;
  top: 165px;
  left: -15px;
  background: none;
  z-index: -1;}
.Rosette .tail:before,
.Rosette .tail:after {
  content: "";
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  left: 0;
  border-left: 25px solid #fff;
  border-right-width: 150px;}
.Rosette .tail:before {
  -webkit-transform: rotate(-75deg);
  transform: rotate(-75deg);}
.Rosette .tail:after {
  -webkit-transform: rotate(-105deg);
  transform: rotate(-105deg);
  top: 0;
  left: 55px;}
.Rosette .scheme-score{
  -moz-transform:perspective(800px) rotateY(-180deg);
  -webkit-transform:perspective(800px) rotateY(-180deg);
  -ms-transform:perspective(800px) rotateY(-180deg);
  transform:perspective(800px) rotateY(-180deg);
  -webkit-transition:0.2s all linear;
  -moz-transition:0.2s all linear;
  transition:0.2s all linear;  
}
.Rosette .scheme-title {
  
  position: absolute;
  top: 40%;
  left: 10%;
  
  font-size: 16px;
  font-weight: 600;
  -moz-backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden; 
  -webkit-transition:0.2s all linear;
  -moz-transition:0.2s all linear;
  transition:0.2s all linear;
  width: 75%;
  z-index: 100;
  -moz-transform:perspective(800px) rotateY(0deg);
  -webkit-transform:perspective(800px) rotateY(0deg);
  transform:perspective(800px) rotateY(0deg);
}

.Rosette .scheme-wrapper.flipped .scheme-title {
  opacity: 0;
  transition: 0.2s all linear;
}

.Rosette .scheme-title p {
  /*display: table-cell;
  vertical-align: middle; */
}
.Rosette .scheme-rank--rosette {
  display: block !important;
  bottom: 5px;
  font-size: 13px;
  left: 9px;}
.Rosette .scheme-rank{display: none;}

.Rosette .scheme-title, 
.Rosette .scheme-score,
.Rosette .scheme-rank {
  overflow: hidden;
  word-break: break-all;
}

.Rosette .scheme-wrapper:hover .Rosette .scheme-title {
-webkit-transform:perspective(800px) rotateY(-179.9deg);
-moz-transform:perspective(800px) rotateY(-179.9deg);
transform:perspective(800px) rotateY(360deg);
}

/*Simultaneously Turns Side-B in Opposite Direction*/
.Rosette .scheme-wrapper:hover .Rosette .scheme-score {
-moz-transform:perspective(800px) rotateY(0);
-webkit-transform:perspective(800px) rotateY(0);
transform:perspective(800px) rotateY(180deg);
}


/* =================================================
    THEMES
 
  1. Blue Dark -> #205081 light -> #428BCA
  2. Green Dark -> #708a28 light -> #9CC038
  3. Gold Dark -> #ccac00 light -> #ffd700
  4. Silver Dark -> #a3a3a3 light -> #e0e0e0
  5. Bronze Dark -> #965a38 light -> #c2815b

  6. FIXES
================================================= */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  1. BLUE
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*CLASSIC SPECIFIC*/
.Classic.Blue .scheme-title,
.Classic.Blue .scheme-score {
  background-color: #205081;}

/*RIBBON SPECIFIC*/
.Ribbon.Blue .scheme-wrapper {
  background-color: #205081;
  box-shadow: 1px 1px 10px #205081;}
.Ribbon.Blue .scheme-score h1 {
  background-color: #428BCA;}
.Ribbon.Blue .scheme-score h1:before,
.Ribbon.Blue .scheme-score h1:after {
  border: 1.5em solid #428BCA;}
.Ribbon.Blue .scheme-score h1 strong:before,
.Ribbon.Blue .scheme-score h1 strong:after {
  border-color: #205081 transparent transparent transparent;}

/*Rosette SPECIFIC*/
.Rosette .strip {background: #3875ff;}
.Rosette .strip:after {background: #3875ff;}
.Rosette,.Rosette .strip,
.Rosette .strip:after,
.Rosette .strip:before {
  background: #0093ff;
  background: linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(178, 216, 255, 0.85) 60%, transparent 60%), linear-gradient(rgba(0, 147, 255, 0.6), rgba(0, 147, 255, 0.6));
  background: -webkit-linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(178, 216, 255, 0.85) 60%, transparent 60%), -webkit-linear-gradient(rgba(0, 147, 255, 0.6), rgba(0, 147, 255, 0.6));
  background: -webkit-gradient(linear, left bottom, right top, color-stop(40%, transparent), color-stop(40%, rgba(113, 113, 113, 0.28)), color-stop(60%, rgba(178, 216, 255, 0.85)), color-stop(60%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 147, 255, 0.6)), to(rgba(0, 147, 255, 0.6)));
  background-size: 4px 4px;}
.Rosette .strip:before {background: radial-gradient(circle, black, rgba(62, 151, 255, 0.25));}
.Rosette .scheme-wrapper {
  background-color: #0093ff;
  background: linear-gradient(90deg, transparent 30%, rgba(0, 130, 226, 0.59) 30%, rgba(106, 192, 255, 0.72) 70%, transparent 70%), linear-gradient(#67bfff, #22a2ff);
  background: -webkit-linear-gradient(0deg, transparent 30%, rgba(0, 130, 226, 0.59) 30%, rgba(106, 192, 255, 0.72) 70%, transparent 70%), -webkit-linear-gradient(#67bfff, #22a2ff);
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, transparent), color-stop(30%, rgba(0, 130, 226, 0.59)), color-stop(70%, rgba(106, 192, 255, 0.72)), color-stop(70%, transparent)), -webkit-gradient(linear, left top, left bottom, from(#67bfff), to(#22a2ff));
  background-size: 3px 3px;
  box-shadow: 0 0 0 1px rgba(253, 253, 253, 0.26) inset, 
              0 0 0 3px #33a9ff inset, 0 0 0 4px #2fa7ff inset, 
              0 0 2px 5px rgba(0, 57, 98, 0.62) inset, 
              0 0 5px 0 rgba(0, 0, 0, 0.57), 0 0 40px 5px rgba(0, 0, 0, 0.42);}
.Rosette .scheme-wrapper .scheme-score {
  color: rgba(255,255,255,0.8);}
.Rosette .scheme-wrapper .scheme-score:after {
  color: rgba(255, 255, 255, 0.29);}
.Rosette .tail:before,
.Rosette .tail:after {
  background-color: #1b8eff;
  background-image: linear-gradient(0deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(178, 216, 255, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(178, 216, 255, 0.85) 80%, transparent 80%), linear-gradient(rgba(26, 134, 214, 0.6), rgba(0, 89, 154, 0.6));
  background-image: -webkit-linear-gradient(90deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(178, 216, 255, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(178, 216, 255, 0.85) 80%, transparent 80%), -webkit-linear-gradient(rgba(26, 134, 214, 0.6), rgba(0, 89, 154, 0.6));
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, rgba(113, 113, 113, 0.28)), color-stop(40%, rgba(178, 216, 255, 0.85)), color-stop(40%, transparent), color-stop(60%, rgba(113, 113, 113, 0.28)), color-stop(80%, rgba(178, 216, 255, 0.85)), color-stop(80%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(26, 134, 214, 0.6)), to(rgba(0, 89, 154, 0.6)));
  background-size: 4px 4px;}
.Rosette .scheme-title {color: rgba(255,255,255,.8);}
.Rosette .scheme-rank--rosette {color: rgba(255,255,255,.8);}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  2. GREEN
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*CLASSIC SPECIFIC*/
.Classic.Green .scheme-title,
.Classic.Green .scheme-score {
  background-color: #708a28;}

/*RIBBON SPECIFIC*/
.Ribbon.Green .scheme-wrapper {
  background-color: #708a28;
  box-shadow: 1px 1px 10px #708a28;}
.Ribbon.Green .scheme-score h1 {
  background-color: #9CC038;}
.Ribbon.Green .scheme-score h1:before,
.Ribbon.Green .scheme-score h1:after {
  border: 1.5em solid #9CC038;}
.Ribbon.Green .scheme-score h1 strong:before,
.Ribbon.Green .scheme-score h1 strong:after {
  border-color: #708a28 transparent transparent transparent;}

/*Rosette SPECIFIC*/
.Rosette.Green .strip {background: #708a28;}
.Rosette.Green .strip:after {background: #708a28;}
.Rosette.Green,.Rosette.Green .strip,
.Rosette.Green .strip:after,
.Rosette.Green .strip:before {
  background: #9CC038;
  background: linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(156,192,56, 0.85) 60%, transparent 60%), linear-gradient(rgba(112,138,40, 0.6), rgba(112,138,40, 0.6));
  background: -webkit-linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(156,192,56, 0.85) 60%, transparent 60%), -webkit-linear-gradient(rgba(112,138,40, 0.6), rgba(112,138,40, 0.6));
  background: -webkit-gradient(linear, left bottom, right top, color-stop(40%, transparent), color-stop(40%, rgba(113, 113, 113, 0.28)), color-stop(60%, rgba(156,192,56, 0.85)), color-stop(60%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(112,138,40, 0.6)), to(rgba(112,138,40, 0.6)));
  background-size: 4px 4px;}
.Rosette.Green .strip:before {background: radial-gradient(circle, black, rgba(84, 104, 30, 0.25));}
.Rosette.Green .scheme-wrapper {
  background-color: #9CC038;
  background: linear-gradient(90deg, transparent 30%, rgba(112,138,40, 0.59) 30%, rgba(156,192,56, 0.72) 70%, transparent 70%), linear-gradient(#9CC038, #708a28);
  background: -webkit-linear-gradient(0deg, transparent 30%, rgba(112,138,40, 0.59) 30%, rgba(156,192,56, 0.72) 70%, transparent 70%), -webkit-linear-gradient(#9CC038, #708a28);
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, transparent), color-stop(30%, rgba(112,138,40, 0.59)), color-stop(70%, rgba(156,192,56, 0.72)), color-stop(70%, transparent)), -webkit-gradient(linear, left top, left bottom, from(#9cc038), to(#708a28));
  background-size: 3px 3px;
  box-shadow: 0 0 0 1px rgba(253, 253, 253, 0.26) inset, 
              0 0 0 3px #9CC038 inset, 0 0 0 4px #9CC038 inset, 
              0 0 2px 5px rgba(84, 104, 30, 0.62) inset, 
              0 0 5px 0 rgba(0, 0, 0, 0.57), 0 0 40px 5px rgba(0, 0, 0, 0.42);}
.Rosette.Green .scheme-wrapper .scheme-score {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);}
.Rosette.Green .scheme-wrapper .scheme-score:before {
  color: #708a28;
  color: rgba(84, 104, 30, 0.39);}
.Rosette.Green .scheme-wrapper .scheme-score:after {
  color: #9CC038;
  color: rgba(84, 104, 30, 0.29);}
.Rosette.Green .tail:before,
.Rosette.Green .tail:after {
  background-color: #9CC038;
  background-image: linear-gradient(0deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(156,192,56, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(156,192,56, 0.85) 80%, transparent 80%), linear-gradient(rgba(156,192,56, 0.6), rgba(112,138,40, 0.6));
  background-image: -webkit-linear-gradient(90deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(156,192,56, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(156,192,56, 0.85) 80%, transparent 80%), -webkit-linear-gradient(rgba(156,192,56, 0.6), rgba(112,138,40, 0.6));
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, rgba(255, 255, 255, 0.28)), color-stop(40%, rgba(156,192,56, 0.85)), color-stop(40%, transparent), color-stop(60%, rgba(255, 255, 255, 0.28)), color-stop(80%, rgba(191, 235, 68, 0.85)), color-stop(80%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(156,192,56, 0.6)), to(rgba(112,138,40, 0.6)));
  background-size: 4px 4px;}
.Rosette.Green .scheme-title {color: rgba(255, 255, 255, 0.75);}
.Rosette.Green .scheme-rank--rosette {color: rgba(255, 255, 255, 0.75);}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  3. GOLD
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*CLASSIC SPECIFIC*/
.Classic.Gold .scheme-title,
.Classic.Gold .scheme-score {
  background-color: #ccac00;}

/*RIBBON SPECIFIC*/
.Ribbon.Gold .scheme-wrapper {
  background-color: #ccac00;
  box-shadow: 1px 1px 10px #ccac00;}
.Ribbon.Gold .scheme-score h1 {
  background-color: #ffd700;}
.Ribbon.Gold .scheme-score h1:before,
.Ribbon.Gold .scheme-score h1:after {
  border: 1.5em solid #ffd700;}
.Ribbon.Gold .scheme-score h1 strong:before,
.Ribbon.Gold .scheme-score h1 strong:after {
  border-color: #ccac00 transparent transparent transparent;}

/*Rosette SPECIFIC*/
.Rosette.Gold .strip {background: #ccac00;}
.Rosette.Gold .strip:after {background: #ccac00;}
.Rosette.Gold,.Rosette.Gold .strip,
.Rosette.Gold .strip:after,
.Rosette.Gold .strip:before {
  background: #ffd700;
  background: linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(255,215,0, 0.85) 60%, transparent 60%), linear-gradient(rgba(204,172,0, 0.6), rgba(204,172,0, 0.6));
  background: -webkit-linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(255,215,0, 0.85) 60%, transparent 60%), -webkit-linear-gradient(rgba(204,172,0, 0.6), rgba(204,172,0, 0.6));
  background: -webkit-gradient(linear, left bottom, right top, color-stop(40%, transparent), color-stop(40%, rgba(113, 113, 113, 0.28)), color-stop(60%, rgba(255,215,0, 0.85)), color-stop(60%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(204,172,0, 0.6)), to(rgba(204,172,0, 0.6)));
  background-size: 4px 4px;}
.Rosette.Gold .strip:before {background: radial-gradient(circle, black, rgba(207, 168, 0, 0.25));}
.Rosette.Gold .scheme-wrapper {
  background-color: #ffd700;
  background: linear-gradient(90deg, transparent 30%, rgba(204,172,0, 0.59) 30%, rgba(255,215,0, 0.72) 70%, transparent 70%), linear-gradient(#ffd700, #ccac00);
  background: -webkit-linear-gradient(0deg, transparent 30%, rgba(204,172,0, 0.59) 30%, rgba(255,215,0, 0.72) 70%, transparent 70%), -webkit-linear-gradient(#ffd700, #ccac00);
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, transparent), color-stop(30%, rgba(204,172,0, 0.59)), color-stop(70%, rgba(255,215,0, 0.72)), color-stop(70%, transparent)), -webkit-gradient(linear, left top, left bottom, from(#ffd700), to(#ccac00));
  background-size: 3px 3px;
  box-shadow: 0 0 0 1px rgba(253, 253, 253, 0.26) inset, 
              0 0 0 3px #ffd700 inset, 0 0 0 4px #ffd700 inset, 
              0 0 2px 5px rgba(207, 168, 0, 0.62) inset, 
              0 0 5px 0 rgba(0, 0, 0, 0.57), 0 0 40px 5px rgba(0, 0, 0, 0.42);}
.Rosette.Gold .scheme-wrapper .scheme-score {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);}
.Rosette.Gold .scheme-wrapper .scheme-score:before {
  color: #ccac00;
  color: rgba(207, 168, 0, 0.39);}
.Rosette.Gold .scheme-wrapper .scheme-score:after {
  color: #ffd700;
  color: rgba(207, 168, 0, 0.29);}
.Rosette.Gold .tail:before,
.Rosette.Gold .tail:after {
  background-color: #ffd700;
  background-image: linear-gradient(0deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(255,215,0, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(255,215,0, 0.85) 80%, transparent 80%), linear-gradient(rgba(255,215,0, 0.6), rgba(204,172,0, 0.6));
  background-image: -webkit-linear-gradient(90deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(255,215,0, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(255,215,0, 0.85) 80%, transparent 80%), -webkit-linear-gradient(rgba(255,215,0, 0.6), rgba(204,172,0, 0.6));
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, rgba(255, 255, 255, 0.28)), color-stop(40%, rgba(255,215,0, 0.85)), color-stop(40%, transparent), color-stop(60%, rgba(255, 255, 255, 0.28)), color-stop(80%, rgba(255, 224, 50, 0.85)), color-stop(80%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(255,215,0, 0.6)), to(rgba(204,172,0, 0.6)));
  background-size: 4px 4px;}
.Rosette.Gold .scheme-title {color: rgba(255, 255, 255, 0.75);}
.Rosette.Gold .scheme-rank--rosette {color: rgba(255, 255, 255, 0.75);}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  4. SILVER
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*CLASSIC SPECIFIC*/
.Classic.Silver .scheme-title,
.Classic.Silver .scheme-score {
  background-color: #a3a3a3;}

/*RIBBON SPECIFIC*/
.Ribbon.Silver .scheme-wrapper {
  background-color: #a3a3a3;
  box-shadow: 1px 1px 10px #a3a3a3;}
.Ribbon.Silver .scheme-score h1 {
  background-color: #e0e0e0;}
.Ribbon.Silver .scheme-score h1:before,
.Ribbon.Silver .scheme-score h1:after {
  border: 1.5em solid #e0e0e0;}
.Ribbon.Silver .scheme-score h1 strong:before,
.Ribbon.Silver .scheme-score h1 strong:after {
  border-color: #a3a3a3 transparent transparent transparent;}

/*Rosette SPECIFIC*/
.Rosette.Silver .strip {background: #a3a3a3;}
.Rosette.Silver .strip:after {background: #a3a3a3;}
.Rosette.Silver,.Rosette.Silver .strip,
.Rosette.Silver .strip:after,
.Rosette.Silver .strip:before {
  background: #e0e0e0;
  background: linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(224,224,224, 0.85) 60%, transparent 60%), linear-gradient(rgba(163,163,163, 0.6), rgba(163,163,163, 0.6));
  background: -webkit-linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(224,224,224, 0.85) 60%, transparent 60%), -webkit-linear-gradient(rgba(163,163,163, 0.6), rgba(163,163,163, 0.6));
  background: -webkit-gradient(linear, left bottom, right top, color-stop(40%, transparent), color-stop(40%, rgba(113, 113, 113, 0.28)), color-stop(60%, rgba(224,224,224, 0.85)), color-stop(60%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(163,163,163, 0.6)), to(rgba(163,163,163, 0.6)));
  background-size: 4px 4px;}
.Rosette.Silver .strip:before {background: radial-gradient(circle, black, rgba(85,85,85, 0.25));}
.Rosette.Silver .scheme-wrapper {
  background-color: #e0e0e0;
  background: linear-gradient(90deg, transparent 30%, rgba(163,163,163, 0.59) 30%, rgba(224,224,224, 0.72) 70%, transparent 70%), linear-gradient(#e0e0e0, #a3a3a3);
  background: -webkit-linear-gradient(0deg, transparent 30%, rgba(163,163,163, 0.59) 30%, rgba(224,224,224, 0.72) 70%, transparent 70%), -webkit-linear-gradient(#e0e0e0, #a3a3a3);
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, transparent), color-stop(30%, rgba(163,163,163, 0.59)), color-stop(70%, rgba(224,224,224, 0.72)), color-stop(70%, transparent)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#a3a3a3));
  background-size: 3px 3px;
  box-shadow: 0 0 0 1px rgba(253, 253, 253, 0.26) inset, 
              0 0 0 3px #e0e0e0 inset, 0 0 0 4px #e0e0e0 inset, 
              0 0 2px 5px rgba(85,85,85, 0.62) inset, 
              0 0 5px 0 rgba(0, 0, 0, 0.57), 0 0 40px 5px rgba(0, 0, 0, 0.42);}
.Rosette.Silver .scheme-wrapper .scheme-score {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);}
.Rosette.Silver .scheme-wrapper .scheme-score:before {
  color: #a3a3a3;
  color: rgba(85,85,85, 0.39);}
.Rosette.Silver .scheme-wrapper .scheme-score:after {
  color: #e0e0e0;
  color: rgba(85,85,85, 0.29);}
.Rosette.Silver .tail:before,
.Rosette.Silver .tail:after {
  background-color: #e0e0e0;
  background-image: linear-gradient(0deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(224,224,224, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(224,224,224, 0.85) 80%, transparent 80%), linear-gradient(rgba(224,224,224, 0.6), rgba(163,163,163, 0.6));
  background-image: -webkit-linear-gradient(90deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(224,224,224, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(224,224,224, 0.85) 80%, transparent 80%), -webkit-linear-gradient(rgba(224,224,224, 0.6), rgba(163,163,163, 0.6));
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, rgba(255, 255, 255, 0.28)), color-stop(40%, rgba(224,224,224, 0.85)), color-stop(40%, transparent), color-stop(60%, rgba(255, 255, 255, 0.28)), color-stop(80%, rgba(255, 255, 255, 0.85)), color-stop(80%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(224,224,224, 0.6)), to(rgba(163,163,163, 0.6)));
  background-size: 4px 4px;}
.Rosette.Silver .scheme-title {color: rgba(255, 255, 255, 0.75);}
.Rosette.Silver .scheme-rank--rosette {color: rgba(255, 255, 255, 0.75);}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  5. BRONZE
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*CLASSIC SPECIFIC*/
.Classic.Bronze .scheme-title,
.Classic.Bronze .scheme-score {
  background-color: #965a38;}

/*RIBBON SPECIFIC*/
.Ribbon.Bronze .scheme-wrapper {
  background-color: #965a38;
  box-shadow: 1px 1px 10px #965a38;}
.Ribbon.Bronze .scheme-score h1 {
  background-color: #c2815b;}
.Ribbon.Bronze .scheme-score h1:before,
.Ribbon.Bronze .scheme-score h1:after {
  border: 1.5em solid #c2815b;}
.Ribbon.Bronze .scheme-score h1 strong:before,
.Ribbon.Bronze .scheme-score h1 strong:after {
  border-color: #965a38 transparent transparent transparent;}

/*Rosette SPECIFIC*/
.Rosette.Bronze .strip {background: #965a38;}
.Rosette.Bronze .strip:after {background: #965a38;}
.Rosette.Bronze,.Rosette.Bronze .strip,
.Rosette.Bronze .strip:after,
.Rosette.Bronze .strip:before {
  background: #c2815b;
  background: linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(194,129,91, 0.85) 60%, transparent 60%), linear-gradient(rgba(150,90,56, 0.6), rgba(150,90,56, 0.6));
  background: -webkit-linear-gradient(45deg, transparent 40%, rgba(113, 113, 113, 0.28) 40%, rgba(194,129,91, 0.85) 60%, transparent 60%), -webkit-linear-gradient(rgba(150,90,56, 0.6), rgba(150,90,56, 0.6));
  background: -webkit-gradient(linear, left bottom, right top, color-stop(40%, transparent), color-stop(40%, rgba(113, 113, 113, 0.28)), color-stop(60%, rgba(194,129,91, 0.85)), color-stop(60%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(150,90,56, 0.6)), to(rgba(150,90,56, 0.6)));
  background-size: 4px 4px;}
.Rosette.Bronze .strip:before {background: radial-gradient(circle, black, rgba(105, 63, 39, 0.25));}
.Rosette.Bronze .scheme-wrapper {
  background-color: #c2815b;
  background: linear-gradient(90deg, transparent 30%, rgba(150,90,56, 0.59) 30%, rgba(194,129,91, 0.72) 70%, transparent 70%), linear-gradient(#c2815b, #965a38);
  background: -webkit-linear-gradient(0deg, transparent 30%, rgba(150,90,56, 0.59) 30%, rgba(194,129,91, 0.72) 70%, transparent 70%), -webkit-linear-gradient(#c2815b, #965a38);
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, transparent), color-stop(30%, rgba(150,90,56, 0.59)), color-stop(70%, rgba(194,129,91, 0.72)), color-stop(70%, transparent)), -webkit-gradient(linear, left top, left bottom, from(#c2815b), to(#965a38));
  background-size: 3px 3px;
  box-shadow: 0 0 0 1px rgba(253, 253, 253, 0.26) inset, 
              0 0 0 3px #c2815b inset, 0 0 0 4px #c2815b inset, 
              0 0 2px 5px rgba(105, 63, 39, 0.62) inset, 
              0 0 5px 0 rgba(0, 0, 0, 0.57), 0 0 40px 5px rgba(0, 0, 0, 0.42);}
.Rosette.Bronze .scheme-wrapper .scheme-score {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);}
.Rosette.Bronze .scheme-wrapper .scheme-score:before {
  color: #965a38;
  color: rgba(105, 63, 39, 0.39);}
.Rosette.Bronze .scheme-wrapper .scheme-score:after {
  color: #c2815b;
  color: rgba(105, 63, 39, 0.29);}
.Rosette.Bronze .tail:before,
.Rosette.Bronze .tail:after {
  background-color: #c2815b;
  background-image: linear-gradient(0deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(194,129,91, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(194,129,91, 0.85) 80%, transparent 80%), linear-gradient(rgba(194,129,91, 0.6), rgba(150,90,56, 0.6));
  background-image: -webkit-linear-gradient(90deg, transparent 20%, rgba(113, 113, 113, 0.28) 20%, rgba(194,129,91, 0.85) 40%, transparent 40%, rgba(113, 113, 113, 0.28) 60%, rgba(194,129,91, 0.85) 80%, transparent 80%), -webkit-linear-gradient(rgba(194,129,91, 0.6), rgba(150,90,56, 0.6));
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, transparent), color-stop(20%, rgba(255, 255, 255, 0.28)), color-stop(40%, rgba(194,129,91, 0.85)), color-stop(40%, transparent), color-stop(60%, rgba(255, 255, 255, 0.28)), color-stop(80%, rgba(255, 169, 119, 0.85)), color-stop(80%, transparent)), -webkit-gradient(linear, left top, left bottom, from(rgba(194,129,91, 0.6)), to(rgba(150,90,56, 0.6)));
  background-size: 4px 4px;}
.Rosette.Bronze .scheme-title {color: rgba(255, 255, 255, 0.75);}
.Rosette.Bronze .scheme-rank--rosette {color: rgba(255, 255, 255, 0.75);}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  FIXES
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.Ribbon.Blue .scheme-score h1:before {
  border-left-color: transparent;}
.Ribbon.Blue .scheme-score h1:after {
  border-right-color: transparent;}
.Ribbon.Green .scheme-score h1:before {
  border-left-color: transparent;}
.Ribbon.Green .scheme-score h1:after {
  border-right-color: transparent;}
.Ribbon.Gold .scheme-score h1:before {
  border-left-color: transparent;}
.Ribbon.Gold .scheme-score h1:after {
  border-right-color: transparent;}
.Ribbon.Silver .scheme-score h1:before {
  border-left-color: transparent;}
.Ribbon.Silver .scheme-score h1:after {
  border-right-color: transparent;}
.Ribbon.Bronze .scheme-score h1:before {
  border-left-color: transparent;}
.Ribbon.Bronze .scheme-score h1:after {
  border-right-color: transparent;}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  WIDGET OPTIONS MENU STYLES
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
#showRank_formgroup,
#themecolour_formgroup{
  display: none;
}