/* ----------------------------------------------------
//  Banner Item search box
---------------------------------------------------- */
#bannersearchbox {
  width: 35%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;}
#bannersearchbox::-ms-clear {
  display: none;}
label[for=bannersearchbox]{
  display: block;}
#recordsFound_aReport{
  margin-top: 0;
  padding-left: 10px;}
/* ----------------------------------------------------
//  Banner
---------------------------------------------------- */
#rwbanner {
  width: 100%;
  height: 600px;
  overflow-y: hidden;  
  position: relative;
  font-size: 16px;}  
/* ----------------------------------------------------
//  Banner indicators
---------------------------------------------------- */
#rwbanner .carousel-indicators {
  position: absolute;
  bottom: 5%;}
#rwbanner .carousel-indicators li {
  width: 15px;
  height: 15px;}
/* ----------------------------------------------------
//  Banner controls
---------------------------------------------------- */
#rwbanner .carousel-control{z-index: 15;}
/* ----------------------------------------------------
//  Banner inner
---------------------------------------------------- */
#rwbanner .carousel-inner{
  height: 100%;
  position: relative;}
#rwbanner .carousel-inner:hover{

}
#rwbanner .carousel-inner div[id^=bannerID] {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;}
  
/* ----------------------------------------------------
//  Banner caption
---------------------------------------------------- */
#rwbanner .carousel-caption{ 
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;  
  top: 0;
  transition: 0.3s background-color ease-in-out;}
#rwbanner .captionText{  
  max-height: 50%;
  overflow: hidden;}
#rwbanner .carousel-caption:hover{
  transition: 0.3s background-color ease-in-out;
  background-color: rgba(0,0,0,0.4);
}
#rwbanner .carousel-caption h1{
  text-align: left;
  font-size: 4em;}
#rwbanner .carousel-caption p{
  display: block;
  text-align: justify;
  width: 100%; 
  margin: 1% 0 !important;}
#rwbanner .carousel-caption a{margin-top: 15px;}
/* ----------------------------------------------------
//  Media Queries
---------------------------------------------------- */
@media screen and (max-width: 768px){
  #rwbanner .carousel-caption h1{font-size: 3em;}
}
@media screen and (max-width: 768px){  
  #rwbanner .captionText {max-height: 65%;}
}
@media screen and (max-width: 425px){
  #rwbanner .carousel-control{display: none}
  #rwbanner .carousel-caption{ 
  padding: 5% 5%}
  #rwbanner .carousel-caption h1{font-size: 2em;}
  #rwbanner .captionText {max-height: 70%;}  
}
@media screen and (max-width: 320px){
  #rwbanner .carousel-indicators{display: none}
  #rwbanner .carousel-caption{ 
  padding: 5% 5%}
  #rwbanner .carousel-caption h1{font-size: 1.5em;}
  #rwbanner .captionText {max-height: 75%;}  
}
/* ----------------------------------------------------
//  Add Banner page
---------------------------------------------------- */
#headingcolour_label, 
#paragraphcolour_label {
  display: block;
}
.minicolors{
  display: block !important;
  width: 100% !important;
}
#headingcolour,
#paragraphcolour{
  width: 50%;
  height: 30px !important;
}
.minicolors-swatch{
  top: 6px;
}