#canvas {
	border: none;
	clear: left;
	float: left;
	position: relative;
	z-index: 0;
	border: none !important;
	background-repeat: no-repeat;
	}

.rectangle {
	-khtml-user-select: none;
	-moz-user-select: none;
	position: absolute;
	white-space: normal;
	word-break: normal;
	word-wrap: break-word;
	z-index: 1;
	border: none !important;
	cursor: auto !important;
	}
.rectangle.blue{background-repeat: no-repeat !important;}
.textNode {
	background: url("/images/transparentSpacer.png") repeat transparent;
	opacity: inherit !important;
	cursor: auto !important;
    white-space: normal;
    word-break: normal;
    word-wrap: break-word;
    text-decoration: none;
	}
pre {margin: 0px;
    white-space: normal;
    word-break: normal;
    word-wrap: break-word;}
a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: inherit;
}
body.converted .rectangle {background: url("/images/transparentSpacer.png") repeat transparent;}
body {margin: 0px; padding: 0px}