/* Logo */
#rwLogo { background-image: url("/images/theme/logoSmall.png"); }

/* Icons top right */
#mastHeadnav li.mastHeadnavDropHover { background:url("/images/profile_header_off.png") no-repeat !important;}
#mastHeadnav li:hover.mastHeadnavDropHover { background:url("/images/profile_header_on.png") no-repeat !important; }

#mastHeadnav li#about a { background-image:url("/images/help_header_off.png") !important;  }
#mastHeadnav li#about a:hover { background-image:url("/images/help_header_on.png") !important;}

#mastHeadnav li > ul > li#username a {background:url("/images/profileIcon.png") no-repeat 2px 5px !important;}
#mastHeadnav li > ul > li#logout a { background:url("/images/logoutHeaderMenu.png") #f5f5f5 no-repeat 8px 8px !important;}
.mastHeadnavDropHover h3 { background:url("/images/themeIcon.png") no-repeat 8px 6px !important; }

/* Home icon */
span.homeIcon, 
span.house, 
span.home {background-image: url(/images/home_over.png); text-indent:-9999px; padding:0 0 0 18px !important;}

.x-tab-strip-active span.homeIcon, 
.x-tab-strip-active span.house, 
.x-tab-strip-active span.home {background-image: url(/images/home.png); } 

/* Toggle Menu */
#westHeaderToggle a#toggleCloseMenu { background-image:url("/images/arrowCloseMenu_int.png") !important; background-repeat: no-repeat; background-position: center;  } 
#westHeaderToggle a:hover#toggleCloseMenu {  background-image:url("/images/arrowCloseMenu_hover_int.png") !important; background-repeat: no-repeat; background-position: center; }

#westHeaderToggle a#toggleOpenMenu { background-image:url("/images/arrowOpenMenu_int.png") !important; background-repeat: no-repeat; background-position: center;}
#westHeaderToggle a:hover#toggleOpenMenu { background-image:url("/images/arrowOpenMenu_hover_int.png") !important; background-repeat: no-repeat; background-position: center;}


/* Icons on navigation */
#leftNav div.cashback, #leftNav div.incentive, #leftNav div.orders, #leftNav div.salesoutdata {  background-image: url(/images/menuicons/26pxiE8/Incentives-26px.png); background-size:26px 26px;  }

#leftNav li.show div.cashback, 
#leftNav li.show div.incentive, 
#leftNav li.show div.orders, 
#leftNav li.show div.salesoutdata,
#leftNav div:hover.cashback, 
#leftNav div:hover.incentive, 
#leftNav div:hover.orders, 
#leftNav div:hover.salesoutdata {  background-image: url(/images/menuicons/26pxiE8_hover/Incentives-26px.png); background-size:26px 26px;  }

#leftNav div.cjm, #leftNav div.discussions { background-image: url(/images/menuicons/26pxiE8/Discussions-26px.png); background-size:26px 26px;  }

#leftNav li.show div.cjm, 
#leftNav li.show div.discussions,
#leftNav div:hover.cjm, 
#leftNav div:hover.discussions { background-image: url(/images/menuicons/26pxiE8_hover/Discussions-26px.png); background-size:26px 26px;  }

#leftNav div.communicate { background-image: url(/images/menuicons/26pxiE8/Communication-26px.png); background-size:26px 26px;  }
#leftNav li.show div.communicate,
#leftNav div:hover.communicate { background-image: url(/images/menuicons/26pxiE8_hover/Communication-26px.png); background-size:26px 26px;  }
#leftNav div.content { background-image: url(/images/menuicons/26pxiE8/Portal-26px.png); background-size:26px 26px;  }
#leftNav li.show div.content,
#leftNav div:hover.content { background-image: url(/images/menuicons/26pxiE8_hover/Portal-26px.png); background-size:26px 26px;  }

#leftNav div.files { background-image: url(/images/menuicons/26pxiE8/Media-Library-26px.png); background-size:26px 26px;  }
#leftNav li.show div.files,
#leftNav div:hover.files { background-image: url(/images/menuicons/26pxiE8_hover/Media-Library-26px.png); background-size:26px 26px;  }
#leftNav div.datatools, #leftNav div.workflow { background-image: url(/images/menuicons/26pxiE8/Account-Management-26px.png); background-size:26px 26px;  }
#leftNav li.show div.datatools, 
#leftNav li.show div.workflow,
#leftNav div:hover.datatools, 
#leftNav div:hover.workflow { background-image: url(/images/menuicons/26pxiE8_hover/Account-Management-26px.png); background-size:26px 26px;  }

#leftNav div.screens { background-image: url(/images/menuicons/26pxiE8/Screenbuilder-26px.png); background-size:26px 26px;  }

#leftNav li.show div.screens,
#leftNav div:hover.screens { background-image: url(/images/menuicons/26pxiE8_hover/Screenbuilder-26px.png); background-size:26px 26px;  }

#leftNav div.elearning { background-image: url(/images/menuicons/26pxiE8/Training-26px.png); background-size:26px 26px;  }

#leftNav li.show div.elearning,
#leftNav div:hover.elearning { background-image: url(/images/menuicons/26pxiE8_hover/Training-26px.png); background-size:26px 26px;  } 

#leftNav div.events {
	background-image: url(/images/menuicons/26pxiE8/Events-26px.png);
	background-size:26px 26px; 	
}

#leftNav li.show div.events,
#leftNav div:hover.events {
	background-image: url(/images/menuicons/26pxiE8_hover/Events-26px.png);	
	background-size:26px 26px; 
}

#leftNav div.funds {
	background-image: url(/images/menuicons/26pxiE8/Marketing-Collaboration-26px.png);	
	background-size:26px 26px; 
}

#leftNav li.show div.funds,
#leftNav div:hover.funds {
	background-image: url(/images/menuicons/26pxiE8_hover/Marketing-Collaboration-26px.png);
	background-size:26px 26px; 	
}

#leftNav div.leadmanager {
	background-image: url(/images/menuicons/26pxiE8/Sales-Collaboration-26px.png);	
	background-size:26px 26px; 
}

#leftNav li.show div.leadmanager,
#leftNav div:hover.leadmanager {
	background-image: url(/images/menuicons/26pxiE8_hover/Sales-Collaboration-26px.png);
	background-size:26px 26px; 	
}


#leftNav div.profilemanager, #leftNav div.security, #leftNav div.plugins, #leftNav div.myfavorites {
	background-image: url(/images/menuicons/26pxiE8/My-Favourites-26px.png);
	background-size:26px 26px; 	
}

#leftNav li.show div.profilemanager, 
#leftNav li.show div.security, 
#leftNav li.show div.plugins, 
#leftNav li.show div.myfavorites,
#leftNav div:hover.profilemanager, 
#leftNav div:hover.security, 
#leftNav div:hover.plugins, 
#leftNav div:hover.myfavorites {
	background-image: url(/images/menuicons/26pxiE8_hover/My-Favourites-26px.png);	
	background-size:26px 26px;
}

#leftNav div.demomanagement, #leftNav div.about {
	background-image: url(/images/menuicons/26pxiE8/Demo-Management-26px.png);	
	background-size:26px 26px;
}
#leftNav li.show div.demomanagement, 
#leftNav div:hover.about,
#leftNav div.demomanagement, 
#leftNav div.about {
	background-image: url(/images/menuicons/26pxiE8_hover/Demo-Management-26px.png);
	background-size:26px 26px;	
}

#leftNav div.admin {
	background-image: url(/images/menuicons/26pxiE8/Adminisation-26px.png);	
	background-size:26px 26px;
}

#leftNav li.show div.admin,
#leftNav div:hover.admin {
	background-image: url(/images/menuicons/26pxiE8_hover/Adminisation-26px.png);	
	background-size:26px 26px;
}

#leftNav div.config {
	background-image: url(/images/menuicons/26pxiE8/Adminisation-26px.png);
	background-size:26px 26px;	
}

leftNav li.show div.config,
#leftNav div:hover.config {
	background-image: url(/images/menuicons/26pxiE8_hover/Adminisation-26px.png);	
	background-size:26px 26px;
}

#leftNav div.products {
	background-image: url(/images/menuicons/26pxiE8/Products-26px.png);	
	background-size:26px 26px;
}

#leftNav li.show div.products,
#leftNav div:hover.products {
	background-image: url(/images/menuicons/26pxiE8_hover/Products-26px.png);	
}

#leftNav div.salesforce, #leftNav div.connector {
	background-image: url(/images/menuicons/26pxiE8/Salesforce-26px.png);	
	background-size:26px 26px; 
}
#leftNav li.show div.salesforce, 
#leftNav li.show div.connector,
#leftNav div:hover.salesforce, 
#leftNav div:hover.connector {
	background-image: url(/images/menuicons/26pxiE8_hover/Salesforce-26px.png);	
	background-size:26px 26px; 
}

#leftNav div.reportmanager, #leftNav div.reports {
	background-image: url(/images/menuicons/26pxiE8/Reporting-26px.png);
	background-size:26px 26px; 	
}

#leftNav li.show div.reportmanager, 
#leftNav li.show div.reports,
#leftNav div:hover.reportmanager, 
#leftNav div:hover.reports {
	background-image: url(/images/menuicons/26pxiE8_hover/Reporting-26px.png);	
	background-size:26px 26px; 
}

#leftNav div.social {
	background-image: url(/images/menuicons/26pxiE8/Social-26px.png);	
	background-size:26px 26px; 
}

#leftNav li.show div.social,
#leftNav div:hover.social {
	background-image: url(/images/menuicons/26pxiE8_hover/Social-26px.png);
	background-size:26px 26px; 	
}