.infoblock, .successblock, .warningblock, .errorblock {
    border: 1px solid;
    border-radius: 3px;
    font: 11px arial,sans-serif;
    margin: 0.2em 0;
    padding: 6px;
}
.infoblock a.close, .successblock a.close, .warningblock a.close, .errorblock a.close {
    background: url("/images/icons/icon_close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    height: 24px;
    width: 24px;
	 margin-left: 10px;
}
.infoblock {
    background-color: #D9EDF7;
    border-color: #3A87AD;
    color: #3A87AD;
}
.infoblock a {
    color: #3A87AD;
}
.successblock {
    background-color: #DFF0DD;
    border-color: #468847;
    color: #468847;
}
.successblock a {
    color: #468847;
}
.warningblock {
    background-color: #FCFBE3;
    border-color: #C09853;
    color: #C09853;
}
.warningblock a {
    color: #C09853;
}
.errorblock {
    background-color: #F2DEDF;
    border-color: #BA4A48;
    color: #D8000C;
}
.errorblock a {
    color: #D8000C;
}