/*** MOBILE CSS 
***************/
@media (max-width: 767px) {

	/**** GLOBAL ****/
	.col-xs-12 select.form-control, 
	.col-xs-12 input.form-control {
		margin-bottom: 15px;
	}
	
	/**** FRAME ****/
	#west-panel { 
		width:25%; 
	}
	#relayTabPanel { 
		width: 75%;
	}
	
	#rwLogo {
	    background-repeat: no-repeat;
	    background-position: right;
	    height: 40px;
	    margin-top: 12px;
	}

	/**** LOGIN FORM ****/
	#loginDiv { 
		width:90%;
	}
	
	/**** RESPONSIVE TABLES ***/
	table.responsiveTable thead { display: none; }
	table.responsiveTable tbody td { 
		display: block; padding: .6rem; 
	}
	table.responsiveTable tbody tr td:first-child { 
		background: #666; color: #fff; 
	}
	table.responsiveTable tbody td:before { 
		content: attr(data-th); 
	    font-weight: bold;
	    display: inline-block;
	    width: 6rem;  
	}
	
	/**** CONNECTOR ***/
	.direction {
		float:none;
	}
	
	#datePickerConnector #frmFromDate,
	#datePickerConnector #frmToDate { 
		width:96% !important; 
	}
	
	/**** CMS ***/
	.accordionElementTree {
		width:100%;
	}
	
	#ParentElementIDAndSiteName {
		width:100%;
	}
	
	/**** HOMEPAGE ***/
	.fullScreenHundred {
		width:100% !important;
	}
	
	/**** FLAG GROUPS ***/
	.flagGroup3 {
		width: 100%;
	}
	
	/**** SB - 11/03/2016 Added for WYSIWIG page layout PROD2016-690 - ***/
	#topColCMS .translationCMS {
		width: 100%; 
		margin-bottom:15px; 
	}
	
	#topColCMS #translationString {
		width: 100%;
	}

	/* AS [#1473] Restyling of 'add contact record' popup window 27/07/2016 */
	.actionsForm #txtDate,
	.phoningForm #txtDate {
		width: 49%;
	}

 	.actionsForm select#frmNextActionHour,
	.actionsForm select#frmNextActionMinute,
	.phoningForm select#frmHour,
	.phoningForm select#frmMinute {
		width: 49% !important;
	}

}