/*** MEDIUM DESKTOP CSS
***************/
@media (min-width: 992px) {

	/**** BOOTSTRAP RESETS **/
	#undocumentedParamsTable,
	.form-control,
	.help-block {
		width:50%;
	}

	/**** FLAG GROUPS ***/
	.flagGroup3 {
		width: 50%;
	}

	.flagGroup3 .form-control {
		width:100%;
	}

	#elementEdit .form-control {
		width:100%;
	}

	.col-sm-6 .help-block {
		width:100%;
	}

	/**** HEADING **/
	.grey-heading {
		width:50%;
	}

	/**** FRAME ****/
	#west-panel {
		width:16.66666667%;
	}

	#relayTabPanel {
		width: 83.33333333%;
	}

	/**** SECOND LEVEL MENU ****/
	.west-panel-small {
		width:4% !important;
	}

	.relayTabPanel-small {
		width:96% !important;
	}

	/**** Search Box ****/
	/*input.searchBoxAlt {
		width:14em !important;
	}*/

	/**** LOGIN FORM ****/
	#loginDiv {
		width:70%;
	}

	/**** CONNECTOR ***/
	#datePickerConnector #frmFromDate,
	#datePickerConnector #frmToDate {
		width:94% !important;
	}

	/**** CMS ***/
	.accordionElementTree {
		width:70%;
	}

	.accordionElementTree2 {
		width:100%;
	}

	#ParentElementIDAndSiteName {
		width:50%;
	}

	/**** HOMEPAGE ***/
	.fullScreenHundred {
		width:100% !important;
	}

	/**** SB - 11/03/2016 Added for WYSIWIG page layout PROD2016-690 - ***/
	#topColCMS .translationCMS {
		float:left;
		width: 50%;
		margin-top:5px;
		margin-bottom:15px;
	}

	#topColCMS #translationString {
		float:right;
		width: 50%;
		margin-top:5px;
		margin-bottom:15px;
		text-align:right;
	}

}
