/*** TABLET CSS 
***************/
@media (min-width: 768px) {

	/**** BOOTSTRAP RESETS **/	
	#undocumentedParamsTable,
	.form-control,
	.help-block { 
		width:65%;
	}
	
	/**** FLAG GROUPS ***/
	.flagGroup3 {
		width: 65%;
	}
	
	.flagGroup3 .form-control {
		width:100%;
	}
	
	.col-sm-6 .help-block {
		width:100%;
	}
	
	#elementEdit .form-control {
		width:100%;
	} 
	
	/**** HEADING **/	
	.grey-heading { 
		width:65%; 
	}

	/**** FRAME ****/
	#west-panel { 
		width:25%; 
	}
	#relayTabPanel { 
		width: 75%;
	}
	
	/**** SECOND LEVEL MENU ****/
	.west-panel-small { 
		width:5% !important; 
	}
	.relayTabPanel-small {  
		width:95% !important;	
	}
	
	/**** Search Box ****/
	/*input.searchBoxAlt {
		width:7em !important; 
	}*/	
	/**** LOGIN FORM ****/
	#loginDiv { 
		width:90%;
	}
		
	#loginRightCol img { 
		width:95%; 
		float:right;
	}
	
	#loginRightCol:before  {
		float:left; 
		display:block; 
		border:none; 
		color:white; 
		width:1px; 
		height:250px; 
		background: #ffffff; 
		/* Old browsers */ background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 55%, #ffffff 100%); 
		/* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(55%,#cccccc), color-stop(100%,#ffffff)); 
		/* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 55%,#ffffff 100%);
		/* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 55%,#ffffff 100%); 
		/* Opera 11.10+ */ background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 55%,#ffffff 100%); 
		/* IE10+ */ background: linear-gradient(to bottom,  #ffffff 0%,#cccccc 55%,#ffffff 100%); 
		/* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); 
		/* IE6-9 */ content:" ";
	}
	
	/**** CONNECTOR ***/
	.direction {
		float:left;
		width:20%;
	}
	
	.statusReport {
		width:80%;
		float:right;
	}
	
	#datePickerConnector #frmFromDate,
	#datePickerConnector #frmToDate { 
		width:90% !important; 
	}
	
	#ParentElementIDAndSiteName {
		width:100%;
	}


	
}


/* AS [#1473] Restyling of 'merge people!' popup window 28/07/2016 */
@media screen and (max-width: 991px) {
	#mergePeople form[name=formA] input[value=" << "]{
		position: relative;
		right: 15px;
	}
	/* ==========================================================================
	   AS PROD2016-757 01/08/2016 
	============================================================================= */
	#div-org > div.row img, 
	.accordion-inner > div.row img {
		left: -5% !important;
	}
}

@media screen and (max-width: 991px) {
	/* ==========================================================================
	   AS PROD2016-757 01/08/2016 
	============================================================================= */
	#div-org > div.row img, 
	.accordion-inner > div.row img {
		left: -7% !important;
	}

	/* AS [#1473] Restyling of 'add contact record' popup window 11/08/2016 */
 	.actionsForm select#frmNextActionHour,
	.actionsForm select#frmNextActionMinute,
	.phoningForm select#frmHour,
	.phoningForm select#frmMinute {
		width: 38% !important;
	}

}
