    /*@media (max-width: 767px) {
	body:before {
		content: "Mobile Device (None (Auto))"; background:#e5e5e5; color:#999999; text-align:center; padding:.5em; display:block; width:100%; }
}

@media (min-width: 768px) {
	body:before {
		content: "Tablet Device (min-width: 768px)"; background:#e5e5e5; color:#999999; text-align:center; padding:.5em; display:block; width:100%; 
	}
}

@media (min-width: 992px) {
	
	body:before {
		content: "Medium Device Desktop (min-width: 992px)"; background:#e5e5e5; color:#999999; text-align:center; padding:.5em; display:block; width:100%; 
	}
	
}

@media (min-width: 1200px) {
	
	body:before {
		content: "Large Device Desktops (min-width: 1200px)"; background:#e5e5e5; color:#999999; text-align:center; padding:.5em; display:block; width:100%; 
	}
	
}*/
    /* Relayware. All Rights Reserved 2014 */
    /*============================================================================= 
  BOOTSTRAP RESETS
  SB 15/10/15 This is a hack I am trying to see it we can get Bootstrap into Relayware
============================================================================= */
    
    .modal {
        overflow: hidden;
    }
    
    .modal-dialog {
        margin-right: 0;
        margin-left: 0;
    }
    
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 4px;
    }
    
    th,
    .table-striped>tbody>tr:nth-child(2n+1)>th,
    .table-hover>tbody>tr:hover>th {
        background-color: #205081;
        color: #fff;
        /*text-transform:uppercase;*/
    }
    
    p {
        margin-top: 5px;
    }
    
    .radio,
    .checkbox {
        min-height: 0;
    }
    
    .bg-primary,
    .bg-success,
    .bg-info,
    .bg-warning,
    .bg-danger {
        padding: 1em;
    }
    
    .help-block ol li,
    .help-block ul li {
        margin-left: 2em;
    }
    
    .help-block {
        font-style: italic;
    }
    
    .table {
        border: 1px solid #ddd;
    }
    
    .bg-info {
        margin-bottom: 15px;
        margin-top: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    .bg-info h3 {
        margin-top: 0;
    }
    
    label {
        font-weight: 600;
        color: #000;
    }
    
    table h3 {
        margin-top: 0;
    }
    /** Custom global styles */
    
    .margin-bottom-15 {
        margin-bottom: 10px;
    }
    
    .margin-top-10 {
        margin-top: 10px;
    }
    
    .margin-top-25 {
        margin-top: 25px;
    }
    
    .margin-bottom-30 {
        margin-bottom: 30px;
    }
    
    .text-align-center {
        text-align: center;
    }
    
    .float-left {
        float: left;
    }
    
    .float-right {
        float: right;
    }
    
    .text-align-right {
        text-align: right;
    }
    
    .div-floatleft-47 {
        float: left;
        width: 47%;
    }
    
    .div-floatleft-6 {
        float: left;
        width: 6%;
    }
    
    .grey-table-header {
        background: #e9e9e9;
    }
    
    .input-width-50 {
        width: 50% !important;
    }
    /*.grey-box-top .form-group {
		margin-bottom:0;
	}*/
    
    .grey-box-top .form-control,
    .col-xs-6 .form-control,
    .col-sm-6 .form-control,
    #headForm .form-control,
    .col-xs-8 .form-control,
    .col-xs-4 .form-control,
    .col-sm-4 .form-control,
    .col-sm-3 .form-control,
    .col-sm-offset-1 .form-control,
    .col-sm-offset-2 .form-control,
    .col-sm-offset-3 .form-control,
    .col-sm-offset-4 .form-control,
    .col-sm-offset-5 .form-control,
    .col-sm-offset-6 .form-control,
    .col-sm-offset-7 .form-control,
    .col-sm-offset-8 .form-control,
    .col-sm-offset-9 .form-control,
    .col-sm-offset-10 .form-control,
    .col-sm-offset-11 .form-control,
    .col-sm-offset-12 .form-control,
    #searchElementTreeNav .col-sm-5 .form-control,
    table .form-control,
    #screenDefEditCont .form-control,
    #screenScriptCont .form-control,
    #screenEditCont .form-control {
        width: 100% !important;
    }
    
    .border-bottom {
        border-top: 2px solid #cfd6dc;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .font-color-primary {
        color: #0277b7;
    }
    
    .table-wrap td {
        word-wrap: break-word;
        word-break: break-all;
    }
    
    select[multiple],
    select[size] {
        height: inherit;
    }
    
    .form-control {
        height: 28px;
        padding: 2px 6px;
        border-radius: 1px !important;
    }
    
    .input-group-addon {
        padding: 3px 12px;
    }
    
    .form-group {
        margin-bottom: 10px;
    }
    
    .radio-inline label,
    .checkbox-inline label {
        font-weight: normal;
    }
    
    #userMgmtTable table label {
        font-weight: normal;
    }
    
    .btn {
        border-radius: 0 !important;
        padding: 3px 12px;
    }
    /*============================================================================= 
  GLOBAL CLASSES
============================================================================= */
    
    body {
        color: #444;
        font-family: 'Source Sans Pro', sans-serif !important;
        font-size: 14px;
    }
    
    table a,
    #configListDiv a,
    #westHeaderToggle a,
    #recentSearchesDiv a,
    #mastHeadnav a,
    #siteSearchResults a {
        text-decoration: none;
    }
    
    table a:hover {
        text-decoration: underline;
    }
    
    a {
        color: #0277b7;
    }
    
    a:hover {
        color: #7fba00;
        text-decoration: none;
    }
    
    div#recentSearchesDiv a {
        color: #fff;
    }
    
    h1#site {
        color: #fff;
    }
    
    h1 {
        font-size: 22px;
    }
    
    #entityNameDiv {
        font-size: 18px;
    }
    
    h2 {
        margin-top: 0;
        font-size: 16px;
        font-weight: 400;
        margin-top: 5px;
        border-bottom: 1px dotted #ddd;
        padding-bottom: 5px;
        color: #000;
    }
    
    h3 {
        font-size: 18px;
        margin: 5px 0 10px 0 !important;
    }
    
    h1,
    h3 {
        font-style: normal;
        font-weight: 300;
    }
    
    ol,
    ul,
    li {
        line-height: 1.8em;
    }
    
    #homePageRight h2 {
        margin: 0;
    }
    
    li>p {
        margin-top: 0.2em;
    }
    
    .alignCenter {
        text-align: center;
    }
    
    hr {
        border: 1px solid #cfd6dc;
    }
    
    img {
        border: 0;
    }
    
    address,
    caption,
    cite,
    code,
    dfn,
    em,
    var {
        font-style: normal;
        font-weight: normal;
    }
    
    .btn-primary {
        /*background-color: #0277b7;
    border-color: #357ebd;
    color: #fff;
    padding:7px 10px !important;*/
        border-color: #428bca;
        text-decoration: none;
    }
    
    .btn-primary:hover {
        background-color: #9cc038;
        border-color: #9cc038;
        color: #fff;
    }
    
    ul {
        list-style: none;
    }
    
    caption {
        text-align: left;
    }
    
    abbr,
    acronym,
    table,
    fieldset {
        border: 0;
    }
    
    html {
        height: 100%;
        min-height: 100%;
    }
    
    html,
    body,
    img,
    form,
    ul,
    ol {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    .left {
        text-align: left;
    }
    
    .right {
        text-align: right;
    }
    /*body,
blockquote,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
table,
textarea,
p {
	margin:0;
	padding:0; 
}*/
    
    .grey-box-top,
    .white-box-top {
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 100%;
        margin-bottom: 15px;
        /*overflow:hidden;*/
    }
    
    .white-box-top h5 {
        margin-top: 0 !important;
    }
    
    .grey-box-top {
        background: #f5f5f5;
    }
    
    .white-box-top {
        background: #fff;
    }
    /**** HEADING **/
    
    .grey-heading {
        background: #f5f5f5;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 15px;
        overflow: hidden;
        font-size: 18px;
    }
    
    .grey-box-top h3 {
        padding-top: 0;
        margin-top: 0;
    }
    /*============================================================================= 
  iFrames
============================================================================= */
    /* SB - iFrame content padding styling top*/
    
    #homeIframe {
        padding-top: 15px;
    }
    /*============================================================================= 
  Screen Styles
============================================================================= */
    
    td.ScreenLabel {
        background: #eeeee5;
        color: #15428b;
        font-weight: bold;
        font-size: 11px;
        color: #444;
    }
    
    td.ScreenTD {
        background: #fff;
        color: #444;
        font-weight: normal;
        font-size: 11px;
    }
    
    tr.ScreenTR {
        background: #eeeee6;
    }
    
    div.flagGroupName {
        color: #507093;
        font-weight: bold;
        font-size: 10px;
    }
    /*============================================================================= 
  DIV & SPANs
============================================================================= */
    
    div.heading {
        color: #000;
        font-weight: bold;
        font-size: 14px;
        height: 35px;
        margin-left: 10px;
        vertical-align: middle;
        width: 100%;
    }
    
    span.highlight {
        background: #ffff88;
        color: #cc9933;
        font-weight: bold;
        font-size: 10pt;
    }
    
    div.internalBodyPadding {
        padding: 0 30px 0 30px;
    }
    /*============================================================================= 
  Table elements
============================================================================= */
    /*form#mainForm table table {
	padding:0;
}*/
    
    table.withBorderSidesOnly {
        padding: 1em;
    }
    
    table th a {
        color: #fff !important;
        text-decoration: underline;
    }
    
    table th a:hover {
        color: #fff;
        text-decoration: none;
    }
    /*SB 20/10/2015 Removed styling for Bootstrap 
th {
	background:#005b87;
	color:#fff;
	font-size:11px;
	line-height:15px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	text-transform:capitalize; 
	padding:.25em;
}
th[scope=row] {
	background-image:none;
	background-color:#efefef;
}*/
    
    .search th {
        background: url(/images/misc/grid3-hrow1.gif);
        background-position: 0 100%;
        background-repeat: repeat-x;
        color: #666;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        text-transform: capitalize;
    }
    
    .search td {
        vertical-align: top;
        padding: 2px
    }
    
    .nowrap {
        white-space: nowrap;
    }
    
    .organisation {
        background: #F8F8F8;
    }
    
    .center {
        text-align: center;
    }
    
    .tfqoRecordsFound {
        color: #000;
        margin: 1em 0 0 0;
    }
    
    tr.selectedRow {
        background-color: #ccc;
    }
    
    .anyevenrow {
        background: #f7f7f7;
    }
    
    .anyoddrow {
        background: #fff;
    }
    
    .babybluebackground {
        background: #cce6ff;
    }
    
    a.th_link,
    a:visited .th_link {
        text-decoration: none;
        color: #fff;
    }
    /*============================================================================= 
  Tool Tip
============================================================================= */
    
    #qTip {
        padding: 3px;
        border: 1px solid #8EAACE;
        display: none;
        background: #E9F2FF;
        text-align: left;
        position: absolute;
        z-index: 1000;
        font-weight: normal;
        font-size: 11px;
        color: #444;
    }
    
    a.tooltip,
    a.tooltip:visited,
    a.tooltip:hover {
        text-decoration: none;
        border-bottom: 0px;
    }
    
    a.tooltip img {
        display: inline;
        margin-bottom: -2px;
    }
    
    .tooltipText,
    .screenshotText {
        position: absolute;
        white-space: normal;
        width: 180px;
        display: none;
        text-align: left;
        line-height: 150%;
        clear: left;
        font-weight: normal;
        padding: 11px 13px 11px 6px;
        background-color: #ffffdd;
        border: 1px solid #666;
        color: #333;
        font-size: 11px;
    }
    
    div.screenshotText {
        clear: left;
        width: 500px;
    }
    /*============================================================================= 
  General
============================================================================= */
    
    #organisationList,
    #personList {
        margin-top: 2.5em;
    }
    
    .stripes {
        margin-top: 1em;
    }
    
    .stripes tr {
        padding: .25em 0;
    }
    
    .stripes tr:nth-child(odd) {
        background: #ececec;
    }
    
    .withBorderNoMargin {
        border: 1px solid #cfd6dc;
    }
    
    .infoblock,
    .successblock,
    .warningblock,
    .errorblock {
        margin: .2em 0;
        border: 1px solid;
        padding: 6px;
        font-size: 11px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    .successblock a.close {
        float: right;
        background: url('/images/icons/icon_close_success.png') no-repeat;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    
    .infoblock a.close,
    .warningblock a.close,
    .errorblock a.close {
        float: right;
        background: url('/images/icons/icon_close.png') no-repeat;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    
    .infoblock {
        color: #3A87AD;
        background-color: #D9EDF7;
        border-color: #3A87AD;
        margin-bottom: 10px;
    }
    
    h3.leads {
        margin: 0 1em;
    }
    
    .infoblock a {
        color: #3A87AD;
    }
    
    .successblock {
        color: #759812;
        background-color: #e1ecc3;
        border-color: #7fba00;
        /*margin:0 1em;*/
    }
    
    .successblock a {
        color: #cc0000;
        text-decoration: underline;
        cursor: default;
    }
    
    .runReleaseErrorblock {
        cursor: default;
    }
    
    .warningblock {
        color: #C09853;
        background-color: #FCFBE3;
        border-color: #C09853;
        /* background: #FEEFB3 url('/images/icons/icon-warning.png') no-repeat 10px center; */
    }
    
    .warningblock a {
        color: #C09853;
    }
    
    .errorblock {
        color: #D8000C;
        background-color: #F2DEDF;
        border-color: #BA4A48;
    }
    
    .errorblock a {
        color: #D8000C;
    }
    
    #eventFooterSubmit,
    #eventFooterToTop {
        margin-left: 1em;
    }
    
    #eventFooterSave {
        margin-bottom: 1em;
    }
    
    #scrollTo {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: url("/images/backtotop.png") #0277b7 no-repeat center 3px;
        float: right;
        margin: 0 1em 1em 0;
    }
    
    #scrollTo a {
        color: #fff;
        padding: 13px 0 0 5px;
        display: block;
    }
    
    #scrollTo a:hover {
        text-decoration: none;
    }
    
    #scrollTo:hover {
        background: url("/images/backtotop.png") #7fba00 no-repeat center 3px;
    }
    /*#eventFooterContainer1stRow, #eventFooterContainerSave a { 
	margin-left:1em;
}*/
    
    .creambackground {
        background: #feffd7;
    }
    
    .headings {
        background: #c7c7c7;
        color: #cc0000;
        font-weight: normal;
        font-size: 7pt;
    }
    
    .highlightcolor {
        background: #8AA5E8;
    }
    /*.homepageWidgetTD {
	padding-left:20px;
	padding-top:20px;
	padding-right:0px;
	padding-bottom:0px;
}*/
    
    .internalFooter {
        border-bottom: 0;
        background-color: #ededed;
    }
    
    .labelBG {
        background: #eeeee6;
        font-weight: bold;
        font-size: 10px;
    }
    
    .label {
        color: #666;
        /*font-weight:bold; 
	font-size: 11px;*/
    }
    
    .mainbody {
        background: #fff;
        font-size: 9pt;
        margin-left: 1em;
        padding-top: 1em;
        text-align: left;
    }
    
    .mainsectionheading {
        color: #000;
        font-weight: bold;
        font-size: 14pt;
        margin-left: 1em;
        padding-top: 1em;
        text-align: left;
    }
    
    .margin {
        margin: 3pt 6pt;
    }
    
    .help,
    abbr,
    acronym {
        border-bottom: 1px dotted #333;
        cursor: help;
    }
    
    .required {
        color: #CC0000;
    }
    
    .memotext {
        color: #000;
        font: normal 10pt sans-serif;
    }
    
    .messagetext {
        color: #cc0000;
    }
    
    .midlabel {
        background: #fff;
    }
    
    .numbers {
        font-size: 9pt;
    }
    
    .outlinetitle {
        color: #000;
        filter: shadow(Color=#9900FF, Direction=135);
        font-style: italic;
        font-weight: bold;
        font-size: 12pt;
        height: auto;
        position: relative;
        width: auto;
    }
    
    .pinkbackground {
        background: #ffd9d9;
    }
    
    .shadow {
        color: #ffff00;
        filter: shadow(Color=#9900FF, Direction=135);
        font-weight: bold;
        height: auto;
        position: relative;
        width: auto;
    }
    
    .smaller {
        font-size: 8pt;
        padding-bottom: 0pt;
        padding-top: 0pt;
        text-decoration: none;
    }
    
    .smallfontdim {
        color: #666;
        font-size: 80%;
    }
    /* SB 22/10/15 
.smallLink {
	font-weight:bold; 
	font-size: 11px;
	text-decoration:none;
}
*/
    
    .smallLinkHighlight {
        color: #7fba00;
    }
    /* SB 22/10/15 Removed for Bootstrap
.smallLink:hover {
	font-weight:bold; 
	font-size: 11px; 
	text-decoration:underline;
}

.smallLink:active {
	color:#cc0000;
	font-weight:bold; 
	font-size: 11px; 
	text-decoration:none;
}*/
    
    .smalllinknounderline {
        color: #666;
        font-weight: normal;
        font-size: 8pt;
        text-decoration: none;
    }
    
    .smalllinknounderline:hover {
        color: #cc0000;
        font-weight: normal;
        font-size: 8pt;
        text-decoration: none;
    }
    
    .editLink {
        background: url("/images/MISC/iconEditPencil.gif") no-repeat;
        width: 19px;
        height: 19px;
        display: block;
        text-indent: -9999px;
    }
    
    .deleteLink {
        background: url("/images/MISC/iconDeleteCross.gif") no-repeat;
        width: 19px;
        height: 19px;
        display: block;
        text-indent: -9999px;
    }
    
    .listLink {
        background: url("/images/MISC/list.png") no-repeat;
        width: 19px;
        height: 19px;
        display: block;
        text-indent: -9999px;
    }
    /*============================================================================= 
  Logged out when session expires
============================================================================= */
    
    div#message {
        display: block;
    }
    
    #sessionExpiredOuterDiv h1 {
        margin-top: 0;
    }
    
    div#message #loginMessage {
        color: #f88504;
        font-size: 12px;
    }
    
    .miniLoginBackground {
        margin-left: 23px;
        margin-bottom: 25px;
    }
    
    #extLoginDiv .form-control {
        background-color: #fff;
        width: 100%;
    }
    
    #extLoginDiv form {
        width: 90%;
    }
    
    #extLoginDiv {
        -webkit-box-shadow: 2px 2px 2px 0px rgba(142, 142, 142, 0.75);
        -moz-box-shadow: 2px 2px 2px 0px rgba(142, 142, 142, 0.75);
        box-shadow: 2px 2px 2px 0px rgba(142, 142, 142, 0.75);
    }
    /*============================================================================= 
  Menu
============================================================================= */
    
    .Submenu a {
        padding: 0px;
    }
    
    .Submenu:hover {
        text-decoration: none;
    }
    
    .submenucurrent {
        font-weight: normal;
        font-size: 11px;
        text-decoration: none;
        vertical-align: middle;
    }
    
    .submenucurrent:hover {
        text-decoration: none;
    }
    /*============================================================================= 
  Datepicker
============================================================================= */
    
    .datepicker {
        background-color: #e0ffe0;
    }
    
    .datepickerhdr {
        background-color: #c0ffc0;
    }
    
    .datepickerhdrbtn {
        cursor: pointer;
    }
    
    .datepickerbtn {
        cursor: pointer;
    }
    
    .datepickerbtnselect {
        background-color: #c0c0ff;
        cursor: pointer;
    }
    
    ul.mkTree li {
        list-style: none;
    }
    
    ul.mkTree,
    ul.mkTree ul,
    ul.mkTree li {
        margin-left: 3px;
    }
    
    ul.mkTree li .bullet {
        padding-left: 10px;
    }
    
    ul.mkTree li.liOpen .bullet {
        cursor: pointer;
        background: url(/images/misc/icon_mkTreeMinus.gif) center left no-repeat;
    }
    
    ul.mkTree li.liClosed .bullet {
        cursor: pointer;
        background: url(/images/misc/icon_mkTreePlus.gif) center left no-repeat;
    }
    
    ul.mkTree li.liBullet .bullet {
        cursor: default;
        background: url(/images/misc/icon_mkTreeBullet.gif) center left no-repeat;
    }
    
    ul.mkTree li.liOpen ul {
        display: block;
    }
    
    ul.mkTree li.liClosed ul {
        display: none;
    }
    
    ul.mkTree li {
        font-size: 11px;
    }
    
    ul.mkTree li ul li {
        font-size: 10pt;
    }
    
    ul.mkTree li ul li ul li {
        font-size: 8pt;
    }
    
    ul.mkTree ul li ul li ul li li {
        font-size: 6pt;
    }
    /*============================================================================= 
  Manage people
============================================================================= */
    
    .managePeopleList .formlabel {
        font-weight: bold;
    }
    /* masks */
    
    .maskManagementTable td.attributeNamen {
        padding-left: 20px;
    }
    
    .maskManagementTable td.line {
        border-bottom: 1px solid #e2e2e2;
        line-height: 0px;
        height: 1px;
    }
    /*============================================================================= 
  Scorecards
============================================================================= */
    
    .scoreCardChartTable {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .scoreCardChartQuad1 {
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    
    .scoreCardChartQuad2 {
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    
    .scoreCardChartQuad3 {
        border-right: 1px solid #000;
        border-top: 1px solid #000;
    }
    
    .scoreCardChartQuad4 {
        border-left: 1px solid #000;
        border-top: 1px solid #000;
    }
    /*============================================================================= 
  Complex Flag Grid
============================================================================= */
    
    table.flaggrid {
        border: 1px #d5d5ca solid;
        font-size: 11px;
        background: #eeeee6;
    }
    
    th.flaggrid {
        background: #d5d5ca;
        color: #15428b;
    }
    
    input.flaggrid {
        font-size: 11px;
    }
    /*============================================================================= 
  Form elements
  SB 15/10/15 - Removed this because Bootstrap should take care of it.
============================================================================= */
    
    fieldset {
        padding: 15px;
        margin: 15px;
        width: 80%;
        border: 1px solid #999;
    }
    
    fieldset.submit {
        padding: 0px;
        margin: 0px;
        width: 100%;
        border: 0px solid #999;
        text-align: right;
    }
    
    legend {
        font-weight: bold;
        margin-bottom: 15px;
        color: #15428b;
    }
    
    legend.outer-legend {
        margin-bottom: 15px;
        margin-left: 11px;
        color: #15428b;
    }
    
    fieldset label {
        font-weight: bold;
        width: 150px;
        margin-left: 10px;
        float: left;
    }
    /*input { 
	font-size:11px; 
	margin:0 0 4px 0;
	vertical-align:middle;
}

input.radio {
	
	SB I have removed this as it was causing inconsistency with button widths 
	width:20px;

border:none;
vertical-align:middle;

}
input.checkbox {
	SB I have removed this as it was causing inconsistency with button widths 
	width:17px;
    
    border: none;
    vertical-align: middle;
}
*/
    /* 01/08/14 - RMC - Added style provided by SB */
    
    select[name="entityType"],
    select[name="frmScreenID"] {
        width: 45%;
    }
    /* 2013/01/29	YMA		Align salutation to top */
    
    select.small {
        font-size: 0.8em;
    }
    /*textarea {
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
}*/
    
    tr#Indented td.label {
        padding-left: 15px;
    }
    /*2008/07/21 NYF T10 bug 728*/
    
    table.ModulePhrases {
        padding: 0px 0px 0px 0px;
    }
    
    table.ModulePhrases td {
        border-right: solid 1px #888888;
        border-bottom: solid 1px #888888;
    }
    
    table.ModulePhrases td.phrase,
    td.phraseHeading {
        border-left: solid 1px #888888;
    }
    
    table.ModulePhrases td.translateHeading {
        background-color: #BBBBBB;
    }
    
    table.ModulePhrases td.phraseHeading,
    table.ModulePhrases td.language {
        background-color: #DDDDDD;
    }
    
    table.ModulePhrases td.TranslateHeading {
        border-top: solid 1px #888888;
    }
    
    table.ModulePhrases td.Translated {
        background-color: #AAFFAA;
        color: #AAFFAA;
    }
    
    table.ModulePhrases td.UnTranslated {
        background-color: #FF8888;
    }
    
    table.ModulePhrases td.Translated,
    table.ModulePhrases td.UnTranslated,
    table.ModulePhrases td.TranslateHeading,
    table.ModulePhrases td.phraseHeading,
    table.ModulePhrases td.Language {
        font-weight: bold;
    }
    /*START styles for PasswordComplexity widget - added 2010/10/15 NYB*/
    
    #passwordStrengthIndicator .ValidEntry,
    #passwordStrengthIndicator .InvalidEntry {
        text-align: left;
        font-size: 11px;
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: left;
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: bold;
    }
    
    #passwordStrengthIndicator .ValidEntry {
        color: #88CC77;
        background-image: url("/images/icons/tick.png");
    }
    
    #passwordStrengthIndicator .InvalidEntry {
        background-image: url("/images/icons/cross.png");
        color: #FF0000;
    }
    /*END styles for PasswordComplexity widget */
    /* == Menu ================================================================== */
    /*div.header:before { 
	background:#fff; 
	content:" "; 
	height:1em; 
	display:block; 
	margin-top:-12px; 
	left:-1px; 
	border-left:1px solid #fff; 
	border-right:1px solid #fff; 
	position:absolute;width:99%;
}*/
    
    div.header {
        z-index: 4000;
        top: 0;
        /*_position:absolute;
	_top:expression(eval(document.body.scrollTop));*/
        font-weight: normal;
        font-size: 11px;
    }
    
    #EventsConfigH1,
    #AdminConfigH1,
    #CommunicateConfigH1,
    #ContentConfigH1,
    #ProfileManagerConfigH1,
    #FilesConfigConfigH1,
    #DataToolsConfigH1,
    #WorkflowConfigH1,
    #LeadManagerConfigH1,
    #FundsConfigH1,
    #SocialConfigH1,
    #IncentiveConfigH1,
    #OrdersConfigH1,
    #eLearningConfigH1,
    #SecurityConfigH1 {
        font-size: 18px;
        background: #428bca;
        color: #fff;
        padding: 5px 10px;
        margin-bottom: 0;
    }
    
    div.header select {
        padding: 0 6px;
    }
    
    .headerSpacer {
        height: 44px;
        display: block;
    }
    /* SB 22/10/15 Removed this because of Bootstrap 
.header h1 {
	font-weight:normal; 
	padding:5px 0 0 6px;
}
*/
    
    #fileSearchTable {
        margin-left: 10px;
    }
    
    #entityFrameNavDiv #slideHeader {
        margin-top: 10px;
    }
    
    #slideHeader {
        background: #7fba00;
        float: right;
        white-space: nowrap;
        vertical-align: middle;
        padding: 5px 0 5px 5px;
        position: fixed;
        top: 10px;
        right: 0;
        z-index: 9999;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-top-left: 3px;
        -moz-border-radius-bottom-left: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        /*	#slideHeader button.headerOpenHeaderMenu  {
		padding-right: 30px;
	}*/
        #slideHeader {
            padding-right: 30px;
        }
        #slideHeader button.headerCloseHeaderMenu+ul {
            padding-right: 30px;
        }
    }
    
    #slideHeader button.headerCloseHeaderMenu {
        background: transparent;
        border: 0;
        cursor: pointer;
        float: left;
        margin-top: 5px;
        color: #fff;
        font-weight: bold;
    }
    
    #slideHeader button.headerOpenHeaderMenu:hover {
        color: #fff;
    }
    
    #slideHeader button.headerOpenHeaderMenu {
        display: none;
        background: transparent;
        border: 0;
        cursor: pointer;
        float: left;
        margin-top: 5px;
        color: #fff;
        font-weight: bold;
    }
    
    #slideHeader ul,
    #slideHeader form {
        float: right;
    }
    
    #slideHeader li {
        display: inline;
        border-right: 1px solid #fff;
    }
    
    #slideHeader a {
        padding: 0 5px;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }
    
    #slideHeader li:last-child {
        border-right: 1px solid transparent;
    }
    
    #slideHeader a:hover {
        text-decoration: underline;
        color: #fff;
    }
    
    #slideHeader a.subMenuCurrent {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        vertical-align: middle;
    }
    
    #slideHeader a.subMenuCurrent:hover {
        text-decoration: none;
        cursor: default;
    }
    
    .slideHeader2 {
        background: transparent !important;
        position: relative !important;
    }
    
    .slideHeader2 li:first-child {
        border-right: 1px solid #ccc !important;
    }
    
    .slideHeader2 a {
        color: #0277b7 !important;
        font-weight: normal !important;
    }
    
    .slideHeader2 a:hover {
        color: #9cc038 !important;
    }
    /* NJH 2016/11/21 */
    
    #slideHeader .btn-primary,
    #slideHeader .btn-primary:hover {
        border-color: transparent;
        background-color: transparent;
    }
    
    #slideHeader .btn-primary:hover {
        text-decoration: underline;
    }
    
    #slideHeader .btn {
        border-color: transparent;
        padding: 0;
        font-size: 12px;
    }
    /* == Communication Module ================================================================== */
    
    .SelectionsAssigned {
        padding-bottom: 10px;
    }
    
    .SelectionsAssigned td,
    .SendResultItem,
    #GatekeeperTable,
    #ApprovalTable {
        padding-left: 30px;
    }
    
    .SelectionsAssigned td.heading2 {
        padding-left: 10px;
    }
    
    #CommDetailsHomeInfoArea .Info,
    #CommDetailsHomeInfoArea .Label {
        text-align: left;
    }
    /* == DivOpenClose Custom Tag ================================================================== */
    
    #level1header {
        text-transform: capitalize;
        display: block;
        text-decoration: none;
        background: url(/images/misc/grid3-hrow.gif);
        background-position: 0 100%;
        background-repeat: repeat-x;
        color: #666;
        font-size: 11px;
        /* 2015-01-09 ACPK 442468 Internal CSS service failures */
        line-height: 15px;
        font-style: normal;
        font-weight: bold;
        padding: 3px 3px 3px 5px;
    }
    
    #level2header {
        text-transform: capitalize;
        display: block;
        text-decoration: none;
        font-size: 11px;
        font-style: normal;
        font-weight: bold;
        padding: 5px 3px 0px 5px;
    }
    
    #level2header img,
    #level1header img {
        vertical-align: middle;
    }
    
    #level1contents {
        padding: 3px 3px 3px 25px;
    }
    
    #level2contents {
        padding: 0px 3px 3px 25px;
    }
    
    #level2contents ol,
    .level2contents ul {
        margin-left: 25px;
    }
    
    #level2contents li {
        line-height: 12px;
    }
    
    .clickable {
        cursor: pointer;
    }
    
    input.searchBox {
        background: #ffffff url('/images/searchHeaderIcon.png') no-repeat right !important;
        position: relative !important;
    }
    /*input.searchBoxAlt {
    margin: auto !important; 
	border:1px solid #fff !important; 
	padding:7px 25px 7px 7px !important; 
	border-radius:6px !important; 
	width:14em !important; 
	font-size:11px !important; 
	background:#ffffff !important; 
	position:relative !important;
	-webkit-box-shadow: inset 4px 4px 3px -3px #e0e0e0 !important;
	-moz-box-shadow:    inset 4px 4px 3px -3px #e0e0e0 !important;
	box-shadow:         inset 4px 4px 3px -3px #e0e0e0 !important;
}*/
    
    #siteSearchForm {
        position: relative;
    }
    
    #siteSearchForm .searchBoxAlt {
        padding-right: 25px;
    }
    
    #searchButton {
        display: inline-block;
        position: absolute;
        right: 1px;
        top: 7px;
    }
    
    .fileGroupResults {
        border-top: 1px solid #C8C8C8;
        width: 100%;
    }
    
    tr#advancedSearchBlock td select {
        width: 120px;
    }
    
    #level1header.advancedSearchBlock {
        background: none;
    }
    /* my favourites */
    
    #reports li {
        height: 25px;
    }
    
    #reports li a.smallLink {
        line-height: 20px;
    }
    
    .isFavorite {
        display: block;
        background-image: url('/images/icons/star.gif');
        background-position: 0px -32px;
        height: 16px;
        width: 16px;
        float: left;
        margin-right: 3px;
        clear: left;
    }
    
    .notIsFavorite {
        display: block;
        background-image: url('/images/icons/star.gif');
        height: 16px;
        width: 16px;
        float: left;
        margin-right: 3px;
        clear: left;
    }
    
    table.entityListTable {
        width: 100%;
        border-collapse: collapse;
    }
    
    table.entityListTable tr td,
    table.entityListTable tr th {
        padding: 3px 5px;
    }
    
    div.x-tab-panel-bwrap {
        background-color: #fff !important;
    }
    /* Email Marketing */
    
    #cf_layoutareaSetup,
    #cf_layoutareaContent,
    #cf_layoutareaLinks,
    #Message,
    #cf_layoutareaPreview,
    #Selections,
    #cf_layoutareaSend,
    #cf_layoutareaStatistics {
        padding: 15px;
    }
    
    #cf_layoutareaSetup h1,
    #cf_layoutareaSetup h2 {
        margin-left: 0;
    }
    
    #cf_layoutareaMessage p {
        margin: 0 0 10px 0 !important;
    }
    
    #cf_layoutareaSetup h2,
    #cf_layoutareaMessage h2,
    #cf_layoutareaContent h2,
    #cf_layoutareaLinks h2,
    #cf_layoutareaPreview h2,
    #Selections h2,
    #cf_layoutareaSend h2,
    #cf_layoutareaStatistics h2 {
        margin: 0 0 15px 0 !important;
        padding-bottom: 5px !important;
    }
    
    #msgImageDiv {
        margin: 0 0 1em 0;
    }
    
    #cf_layoutareaPreview iframe {
        width: 100%;
    }
    
    #Link .form-control {
        width: inherit !important;
        display: inherit !important;
    }
    
    ul.ui-autocomplete {
        max-height: 300px;
        overflow: auto;
    }
    
    .marginSmall {
        margin: 5px;
    }
    
    .rightMargin {
        margin-right: 5px;
    }
    
    .leftMargin {
        margin-right: 5px;
    }
    
    #msgImageDiv {
        width: 100%;
        overflow: hidden;
    }
    
    #commMessageNavLeft,
    #commMessageNavRight {
        width: 20px;
        font-size: 1.5em;
        margin-top: 1em;
    }
    
    #commMessageNavLeft {
        float: left;
        margin-right: 1.5em;
    }
    
    #commMessageNavRight {
        float: left;
        margin-left: 1.5em;
    }
    
    #commMessageImage {
        float: left;
    }
    
    .topMargin {
        margin-top: 5px;
    }
    
    .bottomMargin {
        margin-bottom: 5px;
    }
    
    .noBottomMargin {
        margin-bottom: 0px;
    }
    
    .noTopMargin {
        margin-top: 0px;
    }
    
    .noLeftMargin {
        margin-left: 0px;
    }
    
    .noRigthMargin {
        margin-right: 0px;
    }
    /* leads editor */
    
    #actionBar {
        /*padding:2px 0; 
	display:block; 
	height:20px;  
	top: 0; 
	width: 100%;*/
        margin-bottom: 15px;
    }
    /*#actionBar li a { 
	background: url("/images/misc/navSpacer.gif") no-repeat scroll left top rgba(0, 0, 0, 0); 
	padding: 0 5px 0 5px;
}*/
    
    #actionBar li a:hover {
        cursor: pointer;
    }
    
    #leadMssg {
        background: green;
        padding: 1em;
    }
    /*Homepage */
    
    #homePageRightBoxes,
    #homePageSearchResultsContainer,
    #graph {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #dddddd;
    }
    
    #graph {
        margin-bottom: 15px;
    }
    
    #homePageSearchResultsContainer {
        position: relative;
    }
    
    #recentSearchList {
        margin-bottom: 15px;
    }
    
    #graph {
        overflow: hidden;
    }
    
    #homepageLeft h2,
    #homePageRight h2 {
        font-size: 20px;
    }
    
    #homePageRight span {
        padding-right: 10px;
    }
    
    #quickLinksContainer {
        overflow: hidden;
    }
    
    #quickLinksContainer h1 {
        margin-top: 0;
    }
    
    #recentSearchList ol {
        margin: 1em 2em 0 2em;
    }
    
    #recentSearchList ol li a {
        font-size: 1em;
    }
    
    #activityStreamHeading h2#headingDiv,
    #recentSearchs h2,
    #graph h2 {
        border-bottom: 1px solid #dddddd;
        padding: 15px;
    }
    
    #activityStreamHeading h2#headingDiv div,
    #recentSearchs h2 div,
    #graph h2 div {
        margin-right: .5em;
    }
    
    #activityStreamHeading h2#headingDiv {
        background: #f5f5f5;
    }
    
    #graph h2 {
        background: #f5f5f5;
        margin: 0;
    }
    
    #recentSearchs h2 {
        background: #f5f5f5;
    }
    
    #quickLinks,
    #latestEmailShots {
        display: block;
        clear: both;
    }
    
    #latestEmailShots {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #dddddd;
    }
    
    #latestEmailShots h2 {
        margin: 0;
        background: url("/images/newIcons/emailShots.png") no-repeat scroll 10px 10px #f5f5f5;
        border-bottom: 1px solid #dddddd;
        padding: .5em 1em .5em 2.25em;
    }
    
    #latestEmailShots p.moreLink {
        text-align: right;
        display: block;
        margin-right: 1em;
    }
    
    #latestEmailShots p.moreLink a {
        padding: 0 0 0 1em;
    }
    /** Extra changes **/
    
    th.internalFooter {
        background: #fff;
    }
    
    #leftNav .subNav>li>a:hover {
        color: #000;
        text-decoration: none;
    }
    /*Business Plans */
    
    form#BusinessPlan {
        padding: 1em;
    }
    
    form#BusinessPlan table {
        border: 0;
    }
    
    form#BusinessPlan table td {
        color: #666;
    }
    
    #Date_2165_8 {
        background: #fff;
        border: 1px solid #cccccc;
        margin: 0 5px 12px 0;
    }
    /* New Style */
    
    #searchBlock_img {
        margin-right: 1em;
    }
    
    #add_post {
        margin-right: 51.5% !important;
    }
    
    #selectgrpindivTable2 input {
        margin-right: 1em;
    }
    /*12/11/15 SB - Why is there a global float right? I have removed this. */
    
    table.withBorder label {
        /*float:right;*/
        margin: .5em 1em 0 0;
    }
    
    #noteSelectgrplist {
        border-bottom: 1px solid #cfd6dc;
    }
    
    .selectgrpindivTable3 {
        float: left;
        width: 30%;
    }
    
    #filterTable_aReport {
        padding: .5em;
        background: #f5f5f5;
        border: 0;
    }
    
    .selectgrpindivTable3Float {
        float: left;
    }
    
    span.tfqoFilterSelectBy {
        font-weight: bold;
    }
    
    #regApprovalReportSearch span {
        margin-right: .5em;
    }
    
    #regApprovalReportSearch select {
        margin-right: 1em;
    }
    
    #field_notescharsLeft {
        margin: 0;
    }
    
    #td_field_notes_value span {
        display: none;
    }
    
    div.customSizeProperties label {
        float: none;
    }
    
    #selectgrpindivTable2 input {
        margin-right: 1em;
    }
    
    #noteSelectgrplist {
        border-bottom: 1px solid #cfd6dc;
    }
    
    .selectgrpindivTable3 {
        float: left;
        width: 30%;
    }
    
    #filterTable_aReport {
        padding: .5em;
        background: #f5f5f5;
        border: 0;
    }
    
    .selectgrpindivTable3Float {
        float: left;
    }
    
    span.tfqoFilterSelectBy {
        font-weight: bold;
    }
    
    #regApprovalReportSearch span {
        margin-right: .5em;
    }
    
    #field_notescharsLeft {
        margin: 0;
    }
    
    #td_field_notes_value span {
        display: none;
    }
    
    div.customSizeProperties label {
        float: none;
    }
    
    .tableWithStripesBlueHead {
        border: 1px solid #cfd6dc;
        margin: 1em 1em 1em 0em;
    }
    
    .tableWithStripesBlueHead tr:nth-child(odd) {
        background: #ececec;
    }
    /* Tables with 100% and padding 1em */
    
    #selectSearchTable,
    #selecttransTable,
    #subMenuNavTable,
    #SPQMyApprovalsTable1,
    #SPQMyApprovalsTable2,
    #pipelineReportTable,
    #pipelineReportTable1,
    #reportOppPipelineHeader h1,
    .tfqoShowRecords,
    #reportBudgetGroupApproversTable1,
    #externalssoContainer form,
    #selectviewContainer #selectViewRow1,
    #socialAdminContainer table,
    table#rightsManager01,
    #commViewContent,
    #viewMessageContainer,
    #reportFundApproversTable {
        width: 100%;
        /*padding:0 1em;*/
    }
    
    #viewMessageContainer {
        margin-top: 1em;
    }
    
    #socialAdminContainer table table {
        padding: 0;
        width: 100%;
        margin: 1em 0;
    }
    
    .paddingRightLeft table.withBorder {
        margin: 0;
    }
    
    #reportFundApproversTable h2 {
        margin: 0;
    }
    
    #reportOppPipelineHeader h1 {
        margin: 1em 0;
    }
    
    table#rightsManager02 {
        margin: 0 !important;
    }
    
    #commCheckTable3 {
        margin-bottom: 10px;
    }
    /* End Tables with 100% and margin 1em */
    
    .tfqoSearchTable {
        border: 0 !important;
    }
    
    .fileSearchTableColBorder {
        border-right: 1px solid #cfd6dc;
        padding-right: 1em;
    }
    
    #subMenuNavContainer .header {
        width: 90%;
    }
    
    #screenlistContainer .header,
    #screenlistContainer table {
        width: 94%;
    }
    
    #selecttransTableInner {
        width: 100%;
    }
    
    .selecttransTableP {
        border-bottom: 1px solid #cfd6dc;
        padding-bottom: .5em;
    }
    
    #selectSearchTable th,
    #elementTreeNavContainer th {
        background: #f5f5f5;
        color: #333;
    }
    
    #selectSearchTable th a {
        color: #0277b7;
    }
    
    #selectSearchTable th a:hover {
        color: #7fba00;
    }
    
    .booleanflag label {
        float: left !important;
    }
    
    #reportBudgetGroupApproversTable1 h2 {
        margin-bottom: .5em;
    }
    
    #reportBudgetGroupApproversTable1 p {
        margin: 0;
    }
    /* Entity Frame Nav */
    
    #entityFrameNavDivLeft {
        float: left;
    }
    
    #entityFrameNavDivLeft h2 {
        border-bottom: none;
        font-style: normal;
        font-weight: 300;
        margin-top: -15px;
    }
    
    #entityFrameNavDivRight {
        background: #7fba00;
        float: right;
        white-space: nowrap;
        vertical-align: middle;
        padding: 5px 0 5px 5px;
        position: fixed;
        right: 0;
        top: 10px;
        z-index: 9999;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-top-left: 3px;
        -moz-border-radius-bottom-left: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    /* Org List */
    /*#organisationList, */
    
    #personList {
        padding: 0 1em;
    }
    
    #organisationList th,
    #personList th {
        /*SB background:#ccc; color:#333;*/
        font-weight: normal;
    }
    
    #organisationList th a,
    #personList th a {
        color: #0277b7;
    }
    
    #organisationList th a:hover,
    #personList th a:hover {
        color: #7fba00;
    }
    
    p.form-control-static {
        margin: .25em 0 0 0 !important;
    }
    /*subMenuNavContainer*/
    
    #subMenuNavContainer div.header {
        margin-bottom: 0;
    }
    
    #subMenuNavContainer table#subMenuNavTable {
        margin: 0;
        padding: 0 .5em 0 1em;
    }
    
    #subMenuNavContainer table#subMenuNavTable th {
        background: #fff;
        text-transform: uppercase;
        color: #333;
        font-weight: normal;
        font-size: 12px;
        padding: .5em;
    }
    
    #subMenuNavContainer table#subMenuNavTable .smallLink {
        font-weight: normal;
    }
    
    #subMenuNavContainer table#subMenuNavTable td {
        background: #f5f5f5;
    }
    
    #configListDiv h1 {
        font-size: 18px;
    }
    
    #subMenuNavContainer table#subMenuNavTable td a,
    #configListDiv table a {
        font-size: 12px;
        display: block;
        padding: .5em;
    }
    
    #subMenuNavContainer table#subMenuNavTable td a:hover,
    #configListDiv table a:hover {
        background: #7fba00;
        color: #fff;
        text-decoration: none;
    }
    /* #configListDiv */
    
    #configListDiv {
        background: #f5f5f5;
        /*padding: 15px; 
	margin-top:15px;  */
    }
    
    #configListDiv li a {
        background: #f5f5f5;
        padding: 5px 10px;
        display: block;
        border-bottom: 1px solid #fff;
    }
    
    #configListDiv li a:hover,
    #configListDiv li a:focus {
        background: #7fba00;
        text-decoration: none;
        color: #fff;
    }
    
    #configListDiv div.header {
        margin: 0;
        padding: 0;
    }
    
    #configListDiv div.header h1 {
        margin: 0 0 15px 0;
    }
    
    #configListDiv table {
        width: 95%;
        border: 0;
        padding: 0 0 0 .75em;
    }
    
    #configListDiv table td a {
        background: #f5f5f5;
        border-bottom: 2px solid #fff;
        font-weight: normal;
    }
    /*reloadapplicationstructureTable */
    
    #reloadapplicationstructureTable table {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    /* 2 pane view */
    
    #frmOrganisationCheck,
    #frmPersonCheck {
        margin-left: 2px;
    }
    /*Header on menu */
    
    #nav_application .navHeader {
        display: none;
    }
    /* stylesheet picker */
    
    .mastHeadnavDropHover h3 {
        background: url("/images/themeIcon_high.png") no-repeat 8px 6px;
        background-size: 17px auto;
        border-top: 1px solid #f5f5f5;
        color: #333;
        padding: 0.5em 2em 0.5em 30px;
        margin: 0;
        font-size: 12px;
    }
    
    #styleSheetColourBox ul {
        position: relative !important;
        left: 8px;
        border: none !important;
        top: 0 !important;
    }
    
    #styleSheetColourBox li {
        float: left !important;
    }
    
    #styleSheetColourBox li a {
        display: block;
        width: 20px;
        height: 20px;
        padding: 0 !important;
        margin-top: 2px !important;
        margin-left: 2px !important;
        margin-bottom: 10px !important;
    }
    
    #styleSheetColourBox li a.blue,
    #styleSheetColourBox li a.grey,
    #styleSheetColourBox li a.lightGrey {
        margin-right: 3px !important;
    }
    
    #styleSheetColourBox li a.blue {
        background: #205081;
    }
    
    #styleSheetColourBox li a:hover.blue {
        background: #428bca;
    }
    
    #styleSheetColourBox li a.grey {
        background: #262626;
    }
    
    #styleSheetColourBox li a:hover.grey {
        background: #535353;
    }
    
    #styleSheetColourBox li a.lightGrey {
        background: #48586E;
    }
    
    #styleSheetColourBox li a:hover.lightGrey {
        background: #8093AF;
    }
    
    #styleSheetColourBox li a.pastel {
        background: #553682;
    }
    
    #styleSheetColourBox li a:hover.pastel {
        background: #2D2736;
    }
    /* Change View 
WAB 2016-05-04 BF-676 change to lowercase entity names 
 */
    
    .entityScreenListCol1 #person,
    .entityScreenListCol1 #location,
    .entityScreenListCol1 #organisation {
        width: 100%;
        float: left;
    }
    
    .entityScreenListCol2 #person,
    .entityScreenListCol2 #location,
    .entityScreenListCol2 #organisation {
        width: 47%;
        float: left;
    }
    
    .entityScreenListCol3 #person,
    .entityScreenListCol3 #location,
    .entityScreenListCol3 #organisation {
        width: 31%;
        float: left;
    }
    
    #Person,
    #Location {
        margin-right: 1em;
    }
    
    li.openAsWordLi,
    li.btnSaveLi {
        border: 0 !important;
    }
    
    li.openAsWordLi input[type="button"],
    li.btnSaveLi input[type="button"],
    li.openAsWordLi input:hover[type="button"],
    li.btnSaveLi input:hover[type="button"] {
        background: none !important;
        padding: 0;
        font-weight: bold;
        font-size: 12px;
        /*SB 22/10/15 - Removed font-family: Arial;*/
        margin: 0 .5em 2px 0;
        border: none;
        color: #fff;
    }
    
    li.openAsWordLi input:hover[type="button"],
    li.btnSaveLi input:hover[type="button"] {
        text-decoration: underline;
    }
    
    input[type="button"]:disabled,
    input[type="submit"]:disabled,
    #slideHeader a.disabled {
        color: #fff !important;
        cursor: not-allowed;
    }
    
    input[type="button"]:disabled:hover,
    input[type="submit"]:disabled:hover {
        color: #ccc !important;
        text-decoration: none !important;
    }
    /* Opportunities */
    
    #ContentDisplayArea {
        margin: 1em;
    }
    
    #ContentDisplayArea label {
        display: block;
        float: left;
        margin-right: 1em;
        width: 15%;
        text-align: right;
    }
    
    #ContentDisplayArea .newLocation {
        padding-top: 6px;
    }
    
    #done {
        background: blue;
    }
    /* Communications */
    
    #CommSelectionForm .smallButton {
        margin-bottom: .5em;
    }
    /* == Settings List ================================================== */
    
    #settingsTable1 {
        font-size: 13px;
        width: 400px;
    }
    
    #settingsTable1 li {
        padding: 0 .5em;
    }
    
    #settingsTable1 li a {
        display: block;
        text-decoration: none;
    }
    
    #settingsTable1 a:hover {
        text-decoration: none;
        color: #9cc038;
        display: block;
    }
    
    #settingsTable1 .settings-level-0 {
        margin-top: 2px;
        font-size: 15px;
        border-left: 5px solid #f5f5f5;
        font-weight: bold;
    }
    
    #settingsTable1 .settings-level-1 a::before,
    #settingsTable1 .settings-level-2 a::before,
    #settingsTable1 .settings-level-3 a::before,
    #settingsTable1 .settings-level-4 a::before {
        content: "- ";
    }
    
    #settingsTable1 .settings-level-1 a,
    #settingsTable1 .settings-level-2 a,
    #settingsTable1 .settings-level-3 a,
    #settingsTable1 .settings-level-4 a {
        border-bottom: 1px dotted #ccc;
    }
    
    #settingsTable1 .settings-level-1 {
        font-size: 13px;
    }
    
    #settingsTable1 .settings-level-1 a {
        margin-left: 7px;
    }
    
    #settingsTable1 .settings-level-2 {
        font-size: 13px;
    }
    
    #settingsTable1 .settings-level-2 a {
        margin-left: 16px;
    }
    
    #settingsTable1 .settings-level-3 {
        font-size: 13px;
    }
    
    #settingsTable1 .settings-level-3 a {
        margin-left: 25px;
    }
    
    #settingsTable1 .settings-level-4 {
        font-size: 13px;
    }
    
    #settingsTable1 .settings-level-4 a {
        margin-left: 33px;
    }
    /* == Action List ================================================== */
    
    .actionListForm {
        margin-top: 15px;
    }
    /* == Utilities Home ================================================== */
    
    #utilitiesHome h1 {
        margin-bottom: 15px;
    }
    /* == Utilities Home ================================================== */
    
    #socialAdminUpdate #frmInsertMergeField {
        margin-bottom: 10px;
        background: none;
        border: 0;
        padding: 0;
        color: #428bca;
        text-decoration: underline;
    }
    
    #socialAdminUpdate #frmInsertMergeField:hover {
        color: #9cc038;
    }
    /* IE11 image fixes */
    
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        /* Logo */
        #rwLogo {
            background-image: url("/images/theme/logoSmall.png");
        }
        /* Icons top right */
        #mastHeadnav li.mastHeadnavDropHover {
            background-image: url("/images/profile_header_off.png");
            background-size: 40px auto;
        }
        #mastHeadnav li:hover.mastHeadnavDropHover {
            background-image: url("/images/profile_header_on.png");
            background-size: 40px auto;
        }
        #mastHeadnav li#about a {
            background-image: url("/images/help_header_off.png");
            background-size: 40px auto;
        }
        #mastHeadnav li#about a:hover {
            background-image: url("/images/help_header_on.png");
            background-size: 40px auto;
        }
        /* Top right Icons */
        #mastHeadnav li.mastHeadnavDropHover {
            background: url("/images/profile_header_off.png") no-repeat;
        }
        #mastHeadnav li:hover.mastHeadnavDropHover {
            background: url("/images/profile_header_on.png") no-repeat;
        }
        #mastHeadnav li#about a {
            background: url("/images/help_header_off.png") no-repeat;
        }
        #mastHeadnav li#about a:hover {
            background: url("/images/help_header_on.png") no-repeat;
        }
        #mastHeadnav li>ul>li#username a {
            background: url("/images/profileIcon.png") no-repeat 2px 5px !important;
        }
        #mastHeadnav li>ul>li#logout a {
            background: url("/images/logoutHeaderMenu.png") #f5f5f5 no-repeat 8px 8px !important;
        }
        .mastHeadnavDropHover h3 {
            background: url("/images/themeIcon.png") no-repeat 8px 6px !important;
        }
        /* Home icon */
        span.homeIcon,
        span.house,
        span.home {
            background-image: url(/images/home_over.png);
            text-indent: -9999px;
            padding: 0 0 0 18px !important;
        }
        .x-tab-strip-active span.homeIcon,
        .x-tab-strip-active span.house,
        .x-tab-strip-active span.home {
            background-image: url(/images/home.png);
        }
        /* Icons on navigation */
        #leftNav div.cashback,
        #leftNav div.incentive,
        #leftNav div.orders,
        #leftNav div.salesoutdata {
            background-image: url(/images/menuicons/26pxiE8/Incentives-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.cashback,
        #leftNav li.show div.incentive,
        #leftNav li.show div.orders,
        #leftNav li.show div.salesoutdata,
        #leftNav div:hover.cashback,
        #leftNav div:hover.incentive,
        #leftNav div:hover.orders,
        #leftNav div:hover.salesoutdata {
            background-image: url(/images/menuicons/26pxiE8_hover/Incentives-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.cjm,
        #leftNav div.discussions {
            background-image: url(/images/menuicons/26pxiE8/Discussions-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.cjm,
        #leftNav li.show div.discussions,
        #leftNav div:hover.cjm,
        #leftNav div:hover.discussions {
            background-image: url(/images/menuicons/26pxiE8_hover/Discussions-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.communicate {
            background-image: url(/images/menuicons/26pxiE8/Communication-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.communicate,
        #leftNav div:hover.communicate {
            background-image: url(/images/menuicons/26pxiE8_hover/Communication-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.content {
            background-image: url(/images/menuicons/26pxiE8/Portal-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.content,
        #leftNav div:hover.content {
            background-image: url(/images/menuicons/26pxiE8_hover/Portal-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.files {
            background-image: url(/images/menuicons/26pxiE8/Media-Library-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.files,
        #leftNav div:hover.files {
            background-image: url(/images/menuicons/26pxiE8_hover/Media-Library-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.datatools,
        #leftNav div.workflow {
            background-image: url(/images/menuicons/26pxiE8/Account-Management-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.datatools,
        #leftNav li.show div.workflow,
        #leftNav div:hover.datatools,
        #leftNav div:hover.workflow {
            background-image: url(/images/menuicons/26pxiE8_hover/Account-Management-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.screens {
            background-image: url(/images/menuicons/26pxiE8/Screenbuilder-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.screens,
        #leftNav div:hover.screens {
            background-image: url(/images/menuicons/26pxiE8_hover/Screenbuilder-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.elearning {
            background-image: url(/images/menuicons/26pxiE8/Training-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.elearning,
        #leftNav div:hover.elearning {
            background-image: url(/images/menuicons/26pxiE8_hover/Training-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.events {
            background-image: url(/images/menuicons/26pxiE8/Events-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.events,
        #leftNav div:hover.events {
            background-image: url(/images/menuicons/26pxiE8_hover/Events-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.funds {
            background-image: url(/images/menuicons/26pxiE8/Marketing-Collaboration-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.funds,
        #leftNav div:hover.funds {
            background-image: url(/images/menuicons/26pxiE8_hover/Marketing-Collaboration-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.leadmanager {
            background-image: url(/images/menuicons/26pxiE8/Sales-Collaboration-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.leadmanager,
        #leftNav div:hover.leadmanager {
            background-image: url(/images/menuicons/26pxiE8_hover/Sales-Collaboration-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.profilemanager,
        #leftNav div.security,
        #leftNav div.plugins,
        #leftNav div.myfavorites {
            background-image: url(/images/menuicons/26pxiE8/My-Favourites-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.profilemanager,
        #leftNav li.show div.security,
        #leftNav li.show div.plugins,
        #leftNav li.show div.myfavorites,
        #leftNav div:hover.profilemanager,
        #leftNav div:hover.security,
        #leftNav div:hover.plugins,
        #leftNav div:hover.myfavorites {
            background-image: url(/images/menuicons/26pxiE8_hover/My-Favourites-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.demomanagement,
        #leftNav div.about {
            background-image: url(/images/menuicons/26pxiE8/Demo-Management-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.demomanagement,
        #leftNav div:hover.about,
        #leftNav div.demomanagement,
        #leftNav div.about {
            background-image: url(/images/menuicons/26pxiE8_hover/Demo-Management-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.admin {
            background-image: url(/images/menuicons/26pxiE8/Adminisation-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.admin,
        #leftNav div:hover.admin {
            background-image: url(/images/menuicons/26pxiE8_hover/Adminisation-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.config {
            background-image: url(/images/menuicons/26pxiE8/Adminisation-26px.png);
            background-size: 26px 26px;
        }
        leftNav li.show div.config,
        #leftNav div:hover.config {
            background-image: url(/images/menuicons/26pxiE8_hover/Adminisation-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.products {
            background-image: url(/images/menuicons/26pxiE8/Products-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.products,
        #leftNav div:hover.products {
            background-image: url(/images/menuicons/26pxiE8_hover/Products-26px.png);
        }
        #leftNav div.salesforce,
        #leftNav div.connector {
            background-image: url(/images/menuicons/26pxiE8/Salesforce-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.salesforce,
        #leftNav li.show div.connector,
        #leftNav div:hover.salesforce,
        #leftNav div:hover.connector {
            background-image: url(/images/menuicons/26pxiE8_hover/Salesforce-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.reportmanager,
        #leftNav div.reports {
            background-image: url(/images/menuicons/26pxiE8/Reporting-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.reportmanager,
        #leftNav li.show div.reports,
        #leftNav div:hover.reportmanager,
        #leftNav div:hover.reports {
            background-image: url(/images/menuicons/26pxiE8_hover/Reporting-26px.png);
            background-size: 26px 26px;
        }
        #leftNav div.social {
            background-image: url(/images/menuicons/26pxiE8/Social-26px.png);
            background-size: 26px 26px;
        }
        #leftNav li.show div.social,
        #leftNav div:hover.social {
            background-image: url(/images/menuicons/26pxiE8_hover/Social-26px.png);
            background-size: 26px 26px;
        }
    }
    
    .relatedRecords th {
        background-color: #E8E9ED;
        color: #333
    }
    
    .popoverContent span {
        font-weight: bold;
        color: #005b87;
    }
    
    .popoverContent p {
        margin: 0;
        padding: 0;
    }
    
    .viewDataTd {
        width: 60px;
        text-align: right;
        padding-right: 3px;
    }
    /* relay tag */
    
    tr.tagSelected td {
        font-weight: bold;
    }
    
    tr.trNormal td {
        padding-left: 5px;
    }
    /* Training Path Course */
    
    #trainingPathTable {
        width: 100%;
    }
    
    #trainingPathTable th,
    #trainingPathTable td {
        padding: 5px;
    }
    
    .courseTh,
    .courseSubTH {
        width: 50%;
    }
    
    .courseSubTH {
        background: #ccc;
    }
    
    #relayTagPicker {
        width: 100%;
        overflow: auto;
        border: 1px solid #ccc;
        resize: both;
    }
    
    #tagEditor {
        border: 1px solid #ccc;
        width: 100%;
        margin-bottom: 15px;
        resize: both;
    }
    
    #tagEditor div.internalBodyPadding {
        padding: 0 !important;
    }
    
    #helpText,
    #HasEditor {
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    #HasEditor {
        color: #CC0000;
    }
    /* Edit Clients One Client */
    /*#editClientsOneClient {
	width:50%;
	margin:0 auto;
}*/
    
    #editClientsOneClient .smallButton {
        margin-bottom: 15px;
    }
    
    #editClientsOneClient button {
        margin-top: 15px;
    }
    /* Two Selects Combo Query  */
    
    #twoSelectsComboQueryButtons-1 {
        padding-top: 25%;
    }
    
    #twoSelectsComboQueryButtons-2 {
        padding-top: 25%;
    }
    /* SB 19/10/15 - TFQO Advanced search */
    
    #filterTable_aReport #searchStringLabel,
    #filterTable_aReport #dateFilterLabel,
    .tfqoFilterLabel {
        display: none;
    }
    
    #showHideFilters {
        clear: both;
        padding-bottom: 15px;
    }
    
    #filterDiv {
        display: block;
        width: 100%;
    }
    
    #filterTable_aReport .tfqoFilterLabel {
        padding-bottom: 10px;
    }
    
    #filterTable_aReport .tfqoFilterSelectBy {
        padding-bottom: 10px;
        display: block;
    }
    
    #FilterSelect1 {
        /*SB 2015/11/20 border-right: 1px solid #ccc;*/
        padding-right: 15px;
    }
    
    #FilterSelect2 {
        /*SB 2015/11/20border-right: 1px solid #ccc; 
	padding-left: 5px;*/
        padding-right: 15px;
    }
    
    #resetTFQOFilterDiv {
        float: left;
        margin-right: 15px;
    }
    /* Translations */
    
    #addPhraseInsertAction {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    #addPhrase2 {
        margin-top: 10px;
    }
    
    .languageResultsButtons {
        margin-top: 15px;
    }
    
    .form-control-inline {
        min-width: 0;
        width: auto;
        display: inline;
    }
    /* Approvals */
    
    #regApprovalReportSearch #gosubmit {
        margin-top: 23px;
        width: 100%;
    }
    /* Function List */
    
    #functionListDiv {
        margin-bottom: 10px;
    }
    /* undeleteLocationOr */
    
    #undeleteLocationOr {
        margin-top: 34px;
    }
    /* Related File Manager */
    
    .relatedFileManCol2 h4:first-child {
        margin-top: 0;
    }
    /* Event top header */
    
    #eventTopHeadRecord {
        padding-top: 5px;
    }
    
    #chooseEventsBtn {
        margin-top: 23px;
    }
    /* Relay Form Element */
    
    #relayFormDisplay h2 {
        margin-bottom: 0;
    }
    
    #relayFormDisplay h3 {
        margin-top: 0px;
    }
    /* Reports List */
    
    .reportsList {
        margin-left: 15px;
    }
    /* Settings */
    /*#relayFormDisplay span {
	display:block;
	padding:0; 
	margin-top:15px;
	text-align:left;
	font-weight:700;
	color:#444;
	font-size:14px;
}*/
    
    #relayFormDisplay input[type=submit] {
        margin-top: 15px;
    }
    
    #relayFormDisplay input[type=file] {
        border: 0;
        box-shadow: none;
        height: inherit;
    }
    
    #editFileContentH3 {
        margin-top: 0;
    }
    /* Media Library */
    
    #mediaLibrarySearch input {
        margin-top: 15px;
    }
    /* CMS */
    
    .accordionElemLjqueryentTree h5 {
        margin-top: 0;
    }
    
    .accordionElementTree {
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        border: 1px solid #ddd;
        margin-top: 10px;
        background-color: #f5f5f5;
    }
    
    .accordionElementTreeLink {
        color: #333;
        padding: 10px 15px;
    }
    
    .accordionElementTreeLink:hover {
        background: #d8d8d8;
        color: #000;
    }
    
    .accordionElementTreeOpen {
        padding: 10px 15px;
        background: #fff;
        border-top: 1px solid #ddd;
    }
    
    .accordionElementTree2 .accordionElementTreeLink:after {
        content: "";
        display: none;
    }
    
    .accordionElementTreeLink:before {
        content: "+";
        float: right;
    }
    
    #treeMainContainer {
        margin-top: 15px;
    }
    
    #treeMainContainer a {
        text-decoration: none;
    }
    
    .dTreeNode img {
        width: 17px;
        margin-right: 10px;
    }
    
    .dTreeNode {
        height: 18px;
    }
    /* Pipeline */
    
    #pipeline_form .pipeline_form_left {
        float: left;
        width: 80%;
        overflow: hidden;
    }
    
    #pipeline_form .pipeline_form_left .form-control {
        width: 100%;
    }
    
    #pipeline_form span {
        float: right;
        width: 20%;
        padding-left: 1em;
        overflow: hidden;
    }
    
    .table1-r2 {
        margin-top: 1em;
    }
    
    .elementTreeNavCont {
        margin-bottom: 5px;
        overflow: hidden;
    }
    
    .elementTreeNavSubCont {
        width: 100%;
    }
    /** RelayFormElementDisplay - Table for laying out help text/icon **/
    
    table.relayFormElementDisplay-help-layout,
    table.relayFormElementDisplay-help-layout td,
    table.relayFormElementDisplay-help-layout tr {
        border: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        background: none !important;
    }
    
    .relayFormElementDisplay-help-layout img {
        float: right;
    }
    
    .relayFormElementDisplay-help-layout {
        position: relative;
    }
    
    .relayFormElementDisplay-help-layout span.help-icon {
        position: absolute;
        right: 9px;
        top: 9px;
    }
    
    *
    /** Screens **/
    
    #screensListNav,
    #screensListType {
        margin-top: 10px;
    }
    
    #screensListType {
        margin-bottom: 10px;
    }
    /* 3 PANE VIEW */
    
    #orgListMoney,
    #orgListFlag,
    #orgListHistory,
    #orgListPencil,
    #orgListEnvelope,
    #orgListPlus,
    #orgListlinkedin,
    #orgListList,
    #orgListGlobe,
    #orgUsers,
    #barChart,
    #viewContents,
    #sysDownload,
    #sysCloseCircle,
    #orgListlinkedinDisabled {
        color: #fff;
        background: #0277b7;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 50%;
        padding: 5px;
    }
    
    #orgListMoney:hover,
    #orgListFlag:hover,
    #orgListHistory:hover,
    #orgListPencil:hover,
    #orgListEnvelope:hover,
    #orgListPlus:hover,
    #orgListlinkedin:hover,
    #orgListList:hover,
    #orgListGlobe:hover,
    #orgUsers:hover,
    #barChart:hover,
    #viewContents:hover #sysDownload:hover,
    #sysCloseCircle:hover {
        background: #9cc038;
    }
    
    #orgListlinkedinDisabled {
        background: #ccc;
    }
    /** Setup **/
    
    #configListDiv h3 {
        background: #428bca none repeat scroll 0 0;
        color: #fff;
        font-size: 18px;
        margin-bottom: 0;
        padding: 5px 10px;
    }
    /** Entity Frame **/
    
    #entityFrameNavDiv {
        margin-top: 25px;
    }
    /** Social Marketing **/
    
    #connectAccount {
        margin-left: -15px;
        margin-bottom: 15px;
        float: left;
    }
    /** Advanced Search **/
    
    #frmLastContactDate {
        background: #fff !important;
    }
    /** UG Record **/
    
    #ugrrecordjoin {
        margin-bottom: .25em;
    }
    
    .ms-choice>span.placeholder {
        color: #555 !important;
        font-size: 14px;
    }
    
    #elementEditUserGroupInherit {
        display: none;
    }
    
    .visibilityBtn {
        text-decoration: underline;
    }
    
    #td_usergroupsvisibility_value a {
        text-decoration: underline;
    }
    
    #visibilityFrom {
        font-weight: bold;
        margin-bottom: 0;
    }
    /** Multi Select Boxes **/
    
    .ms-parent {
        display: inherit;
    }
    
    .ms-parent input[type=checkbox] {
        margin: 0 5px 0 0;
    }
    /** CK Editor **/
    
    .cke_toolbar {
        float: none !important;
    }
    /** 3 Pane view and Screens**/
    
    .showScreenTable1 #control__OrgApprovalStatus label,
    .showScreenTable1 #control__Tier1Tier2Distributor label,
    .showScreenTable1 #control__PartnerLevel label,
    .showScreenTable1 #control__LeadAndOppCheckBoxes label,
    .showScreenTable1 #control__KeyContacts label,
    .showScreenTable1 #control__AllocationSalesTechnical label,
    .showScreenTable1 #control__NumbEmps label,
    .showScreenTable1 #control__AddressInformation label,
    .showScreenTable1 #control__AddressedIndustry label,
    .showScreenTable1 #control__AssignDistributor label,
    .showScreenTable1 #control__PDFCertificateRequired label {
        color: #0277b7;
    }
    
    .flagGroup3 .form-control .input-group-addon {
        margin-bottom: 10px;
    }
    
    .flagGroup3 .input-group-addon {
        margin-bottom: 0;
    }
    
    .flagGroup3 .radio-inline {
        margin-left: 0 !important;
        margin-right: 10px;
        width: 20%;
        vertical-align: top;
    }
    /** Entity last updated **/
    
    #entityLastUpdated {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 50%;
    }
    
    #entityLastUpdated>div>label {
        display: block;
    }
    /** Entity Screen List **/
    
    #entityScreenList ul {
        list-style-type: square;
        margin-left: 22px;
        color: #ccc;
    }
    
    #entityScreenList ul a {
        text-decoration: none;
    }
    
    #entityScreenList ul a:hover {
        text-decoration: underline;
    }
    /** Email Marketing **/
    
    .communicationsh1 {
        margin: 0 15px 15px 15px;
        padding-bottom: 5px !important;
    }
    
    #commDetailsLayout {
        margin-top: 15px;
    }
    
    #frmemailtemplatename_formgroup {
        margin-top: 1em;
    }
    
    #PleaseTypeinSearchCriteria .btn {
        padding: 3px 12px 3px 12px !important;
    }
    
    #commCheck1 {
        margin-bottom: .75em;
    }
    /* undocumentedParamsTable */
    
    #undocumentedParamsTable label {
        text-align: right;
        display: block;
        margin-right: 15px;
    }
    
    #undocumentedParamsTable input {
        margin-bottom: 5px;
    }
    
    #entityLastUpdated .col-md-3 {
        width: 50%;
    }
    /* WAB 2016-02-03 Styles for validation error as used by fnlFormValidation 
		Also in global.css 
*/
    
    .validationError {
        margin: 2px 2px 2px 2px;
        border: 2px solid #CC0000;
        padding: 2px 2px 2px 2px;
    }
    
    .validation-group {
        border: 0 !important;
    }
    
    .validationErrorMessage {
        padding: 2px 0 2px 2px;
        color: #CC0000;
    }
    /** Target Lists **/
    
    #selectSearchAccordion {
        margin-bottom: 1em;
    }
    
    .accordion-heading {
        padding: 10px 15px;
        position: relative;
    }
    
    .accordion-heading a {
        color: #333;
        text-decoration: none;
        display: block;
    }
    
    .accordion-heading a:hover {
        color: #000;
    }
    
    .accordion-group {
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        border: 1px solid #ddd;
        margin-top: 10px;
        background-color: #f5f5f5;
    }
    
    .accordion-group:hover {
        background: #d8d8d8;
    }
    
    .accordion-heading:after {
        content: "+";
        position: absolute;
        right: 1em;
        top: .75em;
    }
    
    .accordion-body {
        padding: 10px 15px;
        background: #fff;
        border-top: 1px solid #ddd;
    }
    /** Flag Groups **/
    /*.radio-inline+.radio-inline,*/
    
    .checkbox-inline+.checkbox-inline {
        margin-right: 10px !important;
        margin-left: 0;
    }
    
    #termsAndConditions {
        margin-top: 1em;
    }
    /** SB - 11/03/2016 Added for WYSIWIG page layout PROD2016-690 - */
    
    .languageContainerCMS {
        margin-top: 10px;
    }
    /** SB - 14/03/16 - PROD2016-750 */
    
    #selectSearchBtn {
        margin-top: 10px;
    }
    
    form#details>table th {
        background-color: transparent;
        color: #222;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
    }
    
    form#details>table th[align=right] {
        color: #aaa;
    }
    
    form#details>table th[align=left] {
        color: #205081;
    }
    
    form#details>table th[align=left] acronym {
        border-bottom: none;
        color: #aaa;
    }
    
    #details #cancel {
        width: auto !important;
    }
    /* ==========================================================================
IE Scrollbar Fix
============================================================================= */
    
    @-ms-viewport {
        width: auto!important;
    }
    
    a.gallerypdf {
        display: none !important;
    }
    /*LOCATION MERGE FORM FIX - ARSAM 20JUL16*/
    
    form[action='loclist.cfm']+table {
        width: 100%;
        margin-top: 20px;
    }
    
    form[action='loclist.cfm']+table form table tr {
        height: 40px;
        /*border: 1px dashed #777;*/
    }
    
    form[action='loclist.cfm']+table form table td {
        padding: 5px 10px;
        border: none;
    }
    
    form[action='loclist.cfm']+table form table td:first-child {
        text-align: left;
        color: #555;
        font-size: 1.09em;
        font-weight: bold;
    }
    
    form[action='loclist.cfm']+table form table td input[type=button],
    form[action='loclist.cfm']+table form table td input[type=reset] {
        background-color: #428bca;
        color: #fff;
        border: 0;
        outline: none;
        -webkit-appearance: none;
        width: 100%;
        padding: 5px 10px;
    }
    
    form[action='loclist.cfm']+table form table td input[type=reset],
    form[action='loclist.cfm']+table form table td input[name=KeepThisOne] {
        display: inline-block;
        width: 46%;
        margin: 0 2%;
        float: left;
    }
    
    form[action='loclist.cfm']+table form table td input[name=KeepThisOne] {
        position: relative;
        top: -20px;
    }
    
    form[action='loclist.cfm']+table form table td select {
        width: 100%;
        height: 25px;
    }
    /** Arsam - 20/07/16 - PROD2016-1467 */
    
    .reportClass td {
        padding: 10px 15px;
    }
    /* ==========================================================================
 AS 21/07/16 - User Group ADMIN USER MANAGEMENT
============================================================================= */
    
    div.header h1 {
        padding: 25px 0;
    }
    
    .usergroup-col {
        width: 25%;
    }
    
    .usergroup-col select {
        /*width: 50% !important;*/
        margin: 0;
    }
    
    .admin-user-table {
        width: 80%;
        margin: 0;
    }
    
    .admin-user-table>tbody>tr>td {
        padding: 20px !important;
    }
    
    .admin-user-table form[action="UserGroupManagement.cfm"] {
        margin-top: 12px;
    }
    
    .admin-user-table form[action="UserGroupManagement.cfm"]>p {
        display: inline-block;
        font-weight: normal;
    }
    
    .admin-user-table form[action="UserGroupManagement.cfm"] p b {
        font-weight: 400;
    }
    
    .admin-user-table form[action="UserGroupManagement.cfm"] input {
        padding: 4px 12px;
        float: right;
    }
    
    .admin-user-table select[name=AddTasks] {
        display: block;
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .admin-user-table select[name=AddTasks] option {
        margin: 0;
        padding: 5px 0 5px 10px;
        border-top: 1px solid #ddd;
    }
    
    .admin-user-table select[name=AddTasks] option:first-child {
        border-top: none;
    }
    
    .admin-user-table table td {
        padding: 5px 10px !important;
        border: 1px solid #ddd !important;
    }
    
    .admin-user-table table tr td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    
    .admin-user-table table tr:first-child td {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    
    .admin-user-table table tr:last-child td {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        text-align: center;
    }
    /*.admin-user-table table img[src*="flag-yes.gif"] {
	margin-right: 20px;
}*/
    
    .admin-user-table table input[type=checkbox] {
        margin-top: 0 !important;
        margin-right: 20px;
        vertical-align: text-bottom;
        position: relative;
        top: 1px;
        width: 16px;
        height: 16px;
        display: inline-block;
    }
    
    .admin-user-table table input[type=checkbox]:last-child {
        margin-right: 0;
    }
    
    .admin-user-table table a {
        vertical-align: text-bottom;
        position: relative;
        top: 1px;
        margin: 0 3px;
    }
    
    .btn-primary b {
        font-weight: normal;
    }
    /*AS [#1470] 22/07/2016*/
    /*#positionSection > .headerSection > label {
	position: relative;
	top: 3px;
}*/
    
    #proportionSection {
        margin-left: 10px;
    }
    /*AS [#1460] 22/07/2016*/
    
    #opportunityForm {
        margin-bottom: 50px;
    }
    /* AS [#1473] Restyling of 'add contact record' popup window 27/07/2016 */
    
    .actionsForm>div.row,
    .phoningForm>div.row {
        margin-bottom: 15px;
    }
    
    .actionsForm .label,
    .phoningForm .label {
        font-size: 1.01125em;
    }
    
    .actionsForm select,
    .phoningForm select {
        margin-bottom: 5px;
    }
    /*.phoningForm p.message {
    font-color: #ff4444;
}*/
    
    .actionsForm #txtDate,
    .phoningForm #txtDate {
        cursor: pointer;
        margin-bottom: 5px;
        width: 25%;
        float: left;
        margin: 0 1% 0 0;
    }
    
    .actionsForm img.ui-datepicker-trigger,
    .actionsForm span[title="serverTime"],
    .phoningForm img.ui-datepicker-trigger,
    .phoningForm span[title="serverTime"] {
        display: none;
    }
    
    .actionsForm select#frmNextActionHour,
    .phoningForm select#frmHour {
        margin-right: 2% !important;
    }
    
    .actionsForm select#frmNextActionHour,
    .actionsForm select#frmNextActionMinute,
    .phoningForm select#frmHour,
    .phoningForm select#frmMinute {
        width: 23%;
        height: 28px;
        margin: 0;
        float: left;
        border-color: #ccc;
        border-radius: 1px;
        color: #555;
    }
    
    #txtDate_EURODATE+.input-group {
        width: 50%;
    }
    
    .actionsForm .completedTime p {
        display: inline-block;
        padding: 0 5px;
    }
    /* ==========================================================================
   AS PROD2016-1434 11/08/2016
   AS PROD2016-1473 28/07/2016
   AS PROD2016-2361 19/10/2016
============================================================================= */
    
    #mergePeople {
        margin-top: 25px;
    }
    
    #mergePeople form {
        display: inline-block;
        width: 100%;
    }
    
    #mergePeople form[name=formB] {
        width: 100%;
    }
    
    #mergePeople p.label {
        font-size: 1.01125em;
    }
    
    #mergePeople .row {
        margin-bottom: 15px;
    }
    
    #mergePeople input:not([type=button]):not([type=RESET]):not([type=RADIO]) {
        width: 100% !important;
        margin: 0;
    }
    
    #mergePeople .buttonsRow {
        margin-top: 35px;
    }
    
    #mergePeople .buttonsRow input[type=button],
    #mergePeople .buttonsRow input[type=RESET] {
        width: 100px !important;
        height: 40px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    #mergePeople .buttonsRow input {}
    
    #mergePeople .secondPersonId {
        margin-left: 27%;
    }
    
    #mergePeople form[name=formA] input.form-control,
    #mergePeople form[name=formA] select.form-control,
    #mergePeople form[name=formB] input.form-control,
    #mergePeople form[name=formB] select.form-control {
        width: 100%;
    }
    
    #mergePeople .radio-inline {
        padding-left: 0;
    }
    
    #mergePeople .radio {
        display: inline-block;
        padding: 0;
    }
    
    #mergePeople .radio:last-child {
        margin-left: 15px;
    }
    
    #mergePeople .radio input {
        margin-left: 0;
    }
    
    #mergePeople .radio label {
        margin-left: 5px;
    }
    
    @media screen and (max-width: 991px) {
        #mergePeople form[name=formA] input[value=" << "] {
            position: relative;
            left: -18px;
        }
        #mergePeople form[name=formA] p.label {
            font-size: 12px !important;
            word-wrap: break-word;
        }
    }
    
    @media screen and (max-width: 711px) {
        #mergePeople form[name=formA] input[value=" << "] {
            left: -23px;
        }
        #mergePeople form[name=formB] input[value=" >> "] {
            position: relative;
            left: -5px;
        }
        #mergePeople form[name=formA] input[name="KeepThisOne"],
        #mergePeople form[name=formA] input[type=reset],
        #mergePeople form[name=formB] input[name="KeepThisOne"],
        #mergePeople form[name=formB] input[type=reset] {
            font-size: 12px;
        }
    }
    /* ==========================================================================
   AS PROD2016-757 01/08/2016 
============================================================================= */
    
    #div-org>div.row,
    .accordion-inner>div.row {
        margin-bottom: 25px;
    }
    
    #div-org>div.row:last-child,
    .accordion-inner>div.row:last-child {
        margin-bottom: 25px;
    }
    
    .form-group>* {
        margin-bottom: 10px;
    }
    
    #div-org>div.row img,
    .accordion-inner>div.row img {
        position: relative;
        top: -34px;
        /*left: -5%;*/
    }
    /* ==========================================================================
   AS PROD2016-1519 08/08/2016 
============================================================================= */
    
    input[name=broadcastAccountID] {
        display: inline-block;
        margin-left: 5px;
        top: 3px;
        position: relative;
    }
    /* ==========================================================================
   AS PROD2016-1433 11/08/2016
============================================================================= */
    
    select[name="locationDropDown"] {
        margin-bottom: 20px;
    }
    /* ==========================================================================
   AS PROD2016-1436 11/08/2016
============================================================================= */
    
    .completedTime input[name="CompletedTime"] {
        width: 19%;
    }
    
    .completedTime input[name="CompletedDate"] {
        width: 19%;
    }
    
    .completedTime a {
        width: 11%;
    }
    
    @media screen and (max-width: 1100px) {
        .completedTime a {
            font-size: 12px;
        }
    }
    
    @media screen and (max-width: 991px) {
        .completedTime input[name="CompletedTime"] {
            width: 23%;
        }
        .completedTime input[name="CompletedDate"] {
            width: 23%;
        }
        .completedTime a {
            width: 18%;
            font-size: 14px;
        }
        .actionsForm select#frmNextActionHour,
        .actionsForm select#frmNextActionMinute,
        .phoningForm select#frmHour,
        .phoningForm select#frmMinute {
            width: 38%;
        }
    }
    /* ==========================================================================
   AS activity score widget mini colour picker 30/08/2016
============================================================================= */
    
    .minicolors,
    #themecolour {
        width: 100% !important;
    }
    
    #themecolour {
        height: 30px;
    }
    
    .minicolors-swatch {
        top: 6px !important;
    }
    
    #secondarythemecolour_formgroup {
        display: none;
    }
    /* ==========================================================================
   A Sarabi Advanced parameters tooltip [#485] 01/09/2016
============================================================================= */
    
    #advparamhelp {
        cursor: pointer;
        margin: 0 5px;
    }
    
    @media screen and (max-width: 1400px) {
        #advparamhelp {
            display: block !important;
        }
    }
    
    .popover {
        padding: 0;
        border-left: 2px solid #205081;
        border-right: 2px solid #205081;
        border-bottom: 2px solid #205081;
    }
    
    .popover .arrow:after {
        border-right-color: #205081 !important;
    }
    
    .popover-content {
        padding-top: 0;
        padding-bottom: 15px;
    }
    
    .advparamtooltip .row:nth-of-type(1) {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: #205081;
        color: #fff;
        font-size: 14px;
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .advparamtooltip .row:first-child div:first-child {
        font-size: 15.5px;
    }
    
    .advparamtooltip .row div:first-child {
        text-align: left;
        padding-left: 15px;
    }
    
    .advparamtooltip .row div:last-child {
        text-align: left;
    }
    
    #bannerID_value {
        display: inline-block;
        margin-top: 0 !important;
    }
    
    #bannerID_formgroup~.form-group {
        margin-bottom: 30px;
    }
    
    .advparamtooltip .fa-times {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 2px solid #428BCA;
        color: #205081;
        border-radius: 100%;
        cursor: pointer;
    }
    
    .advparamtooltip .fa-times:hover,
    .advparamtooltip .fa-times:focus,
    .advparamtooltip .fa-times:active {
        outline: none;
    }
    
    .advparamtooltip .fa-times::before {
        position: relative;
        right: 4px;
    }
    /* ==========================================================================
   MRE OAuth2 PROD2016-2701 2016/01/04
============================================================================= */
    
    .oAuthItalic {
        font-style: italic;
    }
    
    .oAuthBoldItalic {
        font-weight: bold;
        font-style: italic;
    }
    
    .noExternalSite {
        font-style: italic;
    }