/*** DESKTOP LARGE CSS
***************/
@media (min-width: 1200px) {

	/**** BOOTSTRAP RESETS **/

	#undocumentedParamsTable,
	.form-control,
	.help-block {
		width:50%;
	}

	#elementEdit .form-control {
		width:100%;
	}

	.col-sm-6 .help-block {
		width:100%;
	}

	/**** HEADING **/
	.grey-heading {
		width:50%;
	}

	/**** FRAME ****/
	#west-panel {
		width:15%;
	}

	#relayTabPanel {
		width: 85%;
	}

	/**** SECOND LEVEL MENU ****/
	.west-panel-small {
		width:3% !important;
	}

	.relayTabPanel-small {
		width:97% !important;
	}

	/**** LOGIN FORM ****/
	#loginDiv {
		width:50%;
	}

	/**** CMS ***/
	.accordionElementTree {
		width:50%;
	}

	.accordionElementTree2 {
		width:100%;
	}

	#ParentElementIDAndSiteName {
		width:25%;
	}

	/**** HOMEPAGE ***/
	.fullScreenHundred {
		width:100% !important;
	}
}
