/* SB 2015/12/02 Bootstrap */
html{
  height: 100%;
  -ms-overflow-y : scroll;
}

body {
  min-height: 100%;
  -ms-overflow-y : scroll;
}

.padding-offset {
	padding:0 !important;
}

.row {
	min-heigth:100%; 
	height:100%; 
}

/*  Relayware. All Rights Reserved 2014 */
/* Left Navigation */
#leftNav ul, #leftNav li {
	margin:0; 
	line-height:normal;
}

#leftNav li:hover { 
	box-shadow:none;
}

#leftNav .navHeader { 
	padding-left:.3em;
}

#leftNav div.navHeader > span {
	background-repeat: no-repeat; 
	background-position: -5px -6px; 
	padding-left:3px; 
	line-height:22px;
}				

#leftNav div.navHeader > span.closed {
 	text-transform:uppercase; color:#fff;
}
	
#leftNav div.navHeader > span.open {
	background-image: url("/styles/cachedBGImages/level1ArrowClose.PNG")
}				

#leftNav .navSubHeader {
	cursor: hand; 
	cursor: pointer;
	padding: 9px 0 9px 40px; 
}

#leftNav .subNav {
	margin:0; 
	padding: 0 0 2px 0; 
	width: 100%; 
}

#leftNav .subNav ul, #leftNavMyTools {
	padding: 0 0 0 25px; 
}

#leftNav .subNav ul > li:hover, #leftNavMyTools > li:hover {
	background-color:#D4D0C8; 
	border-radius:3px; 
	padding-left:3px;
}

ul.subNav li > ul > li { 
	border-top:none !important; 
	border-bottom:none !important;
}

#leftNav .subNav > li > a > div {
	margin:auto; 
}

#leftNav .subNav > li > a {
	width:100%; 
	font-weight:inherit; 
	color:inherit; 
	display:block; 
	white-space: nowrap;
}	

#leftNav .subNav > li > a:hover {
	color:#CC0000;
}

#leftNavSearchBox {
	padding:8px;
}

.navIcon {
	background-position: 5px center; 
	background-repeat: no-repeat;
}

#leftNav .subNav  div { 
	font-size:15px; 
	font-weight:normal;  
	color: #fff; 
	display: block; 
	white-space: nowrap; 
}

div#west ul#leftNav li > ul.subNav li { 
	position:relative; 
}

.removeText { 
	text-indent: -9000em; 
}
	
	/* Sub Navigation */
	div#west ul#leftNav li > ul.subNav li > ul > li {
		box-shadow:none;  
		font-size:20px; 
		padding:0;
		background: #ffffff; 
		line-height:0%; 
		color:#fff; 
		background: transparent;
	}	
	
	div#west ul#leftNav li > ul.subNav li > ul > h3.subMenuTitle { 
		display:none; 
		margin:0 0 .5em 0; 
		font-size:13px; 
		font-weight:bold; 
		color:#fff; 
	}

	div#west ul#leftNav li > ul.subNav li > ul > li:hover {background:none; }
	div#west ul#leftNav li > ul.subNav li > ul > li a { color:#fff; font-weight:normal; font-size:14px; line-height:150%;vertical-align:middle; padding-bottom:4px;}
	div#west ul#leftNav li > ul.subNav li > ul > li a:hover { color:#000; }
	
		/* Sub Navigation drop down */
		#west ul.subNav, 
		#west ul.subNav li { 
			margin:0; 
			padding:0; 
			list-style:none;  
		}
		
		#west ul.subNav li { 
			width:100%; 
			cursor:pointer; 
		}
		
		#west ul.subNav li:hover,
		#west ul.subNav li.iehover { 
			position:relative; 
		}
		
		#west ul.subNav li a { 
			text-decoration:none; 
		}
		
		/**** SECOND LEVEL MENU ****/
		/* I make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
		#west ul.subNav li.leftNavSub ul.drop,
		#west ul.subNav li.leftNavSub.with-js ul.drop {	padding:1em 1.5em; display:none; width:28em; position:absolute; /*left:15em;*/ z-index:99999; margin:0; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
		
		#west ul.subNav li.leftNavSub ul.drop li { list-style-type: none; }
		#west ul.subNav li.leftNavSub ul.drop li.column-list-0 ul { float:left; } 
		#west ul.subNav li.leftNavSub ul.drop li.column-list-1 ul { float:right; } 
		#west ul.subNav li.leftNavSub ul.drop li.column-list ul { -webkit-box-shadow: 0px 0 0 0 #fff; -moz-box-shadow: 0px 0 0 0 #fff; box-shadow: 0px 0 0 0 #fff; width:46%; padding:0;  margin:0; border:0;position:relative; left:0;}
		#west ul.subNav li.leftNavSub ul.drop li.column-list ul li { margin:0 0 0 1em; padding:0; list-style-type: disc; }
		
		
		#west ul.subNav li.leftNavSub.show ul.drop { display:block;  } 		
		
		div#west ul#leftNav li#nav_application ul.subNav li ul.drop,
		div#west ul#leftNav li#nav_application ul.subNav.with-js li ul.drop {/* -moz-box-shadow: 2px 2px 2px #999999; -webkit-box-shadow: 2px 2px 2px #999999; box-shadow: 2px 2px 2px #999999;*/ top:0px; }
		div#west ul#leftNav li#nav_administer ul.subNav li.leftNavSub ul.drop,
		div#west ul#leftNav li#nav_administer ul.subNav.with-js li.leftNavSub ul.drop { bottom:0px; }		


		/*#west ul.subNav li ul:before { width:5px; height:32px; display:block; left:-3px; background:#fff; content:" "; position:absolute; z-index:99999;}
		div#west li#nav_application ul.subNav li ul:before { top:0; }
		div#west li#nav_administer ul.subNav li ul:before { bottom:0; }*/
		
		#west ul.subNav li ul li.column-list ul:before { width:0px !important;}
	
	/* Color of dots */
	/*li#nav_connector ul > li { color:#7c93b5; }
	li#nav_datatools ul > li { color:#5f9a97; }
	li#nav_content ul > li { color:#6f1f5f; }
	li#nav_leadmanager ul > li { color:#599e43; }
	li#nav_elearning ul > li { color:#08709b; }
	li#nav_incentive ul > li { color:#d11fec; }
	li#nav_myfavorites ul > li { color:#142c93; }
	li#nav_funds ul > li { color:#caaf00; }	
	li#nav_screens ul > li { color:#13b7e7; }
	li#nav_social ul > li { color:#148cd0; }
	li#nav_communicate ul > li { color:#eb6400; }
	li#nav_products ul > li { color:#eca000; }
	li#nav_reportmanager ul > li { color:#4d9fd5; }
	li#nav_discussions ul > li { color:#d71a63; }
	li#nav_config ul > li { color:#9eb425; }
	li#nav_admin ul > li { color:#9eb425; }
	li#nav_events ul > li { color:#6b7dd7; }
	li#nav_files ul > li { color:#ac4298; }*/

	
	
	/* End Sub Navigation */

/* images */
#leftNav div.noIcon { background-image: url(/images/icons/transparent.png); }

#leftNav div.house, #leftNav div.homeIcon, #leftNav div.scorecard, #leftNav div.projects {
	background-image: url(/images/moduleIcons/home.png);	
}

#leftNav div.approvals, #leftNav div.accounts { background-image: url(/images/moduleIcons/partnerAccountManager.png); }

#leftNav div.cashback, #leftNav div.incentive, #leftNav div.orders, #leftNav div.salesoutdata {  background-image: url(/images/menuicons/26px/Incentives-26px.png); background-size:26px 26px;  }

#leftNav li.show div.cashback, 
#leftNav li.show div.incentive, 
#leftNav li.show div.orders, 
#leftNav li.show div.salesoutdata,
#leftNav div:hover.cashback, 
#leftNav div:hover.incentive, 
#leftNav div:hover.orders, 
#leftNav div:hover.salesoutdata {  background-image: url(/images/menuicons/26pxWhite/Incentives-26px.png); background-size:26px 26px;  }

#leftNav div.cjm, #leftNav div.discussions { background-image: url(/images/menuicons/26px/Discussions-26px.png); background-size:26px 26px;  }

#leftNav li.show div.cjm, 
#leftNav li.show div.discussions,
#leftNav div:hover.cjm, 
#leftNav div:hover.discussions { background-image: url(/images/menuicons/26pxWhite/Discussions-26px.png); background-size:26px 26px;  }

#leftNav div.communicate { background-image: url(/images/menuicons/26px/Communication-26px.png); background-size:26px 26px;  }
#leftNav li.show div.communicate,
#leftNav div:hover.communicate { background-image: url(/images/menuicons/26pxWhite/Communication-26px.png); background-size:26px 26px;  }
#leftNav div.content { background-image: url(/images/menuicons/26px/Portal-26px.png); background-size:26px 26px;  }
#leftNav li.show div.content,
#leftNav div:hover.content { background-image: url(/images/menuicons/26pxWhite/Portal-26px.png); background-size:26px 26px;  }

#leftNav div.files { background-image: url(/images/menuicons/26px/Media-Library-26px.png); background-size:26px 26px;  }
#leftNav li.show div.files,
#leftNav div:hover.files { background-image: url(/images/menuicons/26pxWhite/Media-Library-26px.png); background-size:26px 26px;  }
#leftNav div.datatools, #leftNav div.workflow { background-image: url(/images/menuicons/26px/Account-Management-26px.png); background-size:26px 26px;  }
#leftNav li.show div.datatools, 
#leftNav li.show div.workflow,
#leftNav div:hover.datatools, 
#leftNav div:hover.workflow { background-image: url(/images/menuicons/26pxWhite/Account-Management-26px.png); background-size:26px 26px;  }

#leftNav div.screens { background-image: url(/images/menuicons/26px/Screenbuilder-26px.png); background-size:26px 26px;  }

#leftNav li.show div.screens,
#leftNav div:hover.screens { background-image: url(/images/menuicons/26pxWhite/Screenbuilder-26px.png); background-size:26px 26px;  }

#leftNav div.elearning { background-image: url(/images/menuicons/26px/Training-26px.png); background-size:26px 26px;  }

#leftNav li.show div.elearning,
#leftNav div:hover.elearning { background-image: url(/images/menuicons/26pxWhite/Training-26px.png); background-size:26px 26px;  } 

#leftNav div.events {
	background-image: url(/images/menuicons/26px/Events-26px.png);
	background-size:26px 26px; 	
}

#leftNav li.show div.events,
#leftNav div:hover.events {
	background-image: url(/images/menuicons/26pxWhite/Events-26px.png);	
	background-size:26px 26px; 
}

#leftNav div.funds {
	background-image: url(/images/menuicons/26px/Marketing-Collaboration-26px.png);	
	background-size:26px 26px; 
}

#leftNav li.show div.funds,
#leftNav div:hover.funds {
	background-image: url(/images/menuicons/26pxWhite/Marketing-Collaboration-26px.png);
	background-size:26px 26px; 	
}

#leftNav div.leadmanager {
	background-image: url(/images/menuicons/26px/Sales-Collaboration-26px.png);	
	background-size:26px 26px; 
}

#leftNav li.show div.leadmanager,
#leftNav div:hover.leadmanager {
	background-image: url(/images/menuicons/26pxWhite/Sales-Collaboration-26px.png);
	background-size:26px 26px; 	
}


#leftNav div.profilemanager, #leftNav div.security, #leftNav div.plugins, #leftNav div.myfavorites {
	background-image: url(/images/menuicons/26px/My-Favourites-26px.png);
	background-size:26px 26px; 	
}

#leftNav li.show div.profilemanager, 
#leftNav li.show div.security, 
#leftNav li.show div.plugins, 
#leftNav li.show div.myfavorites,
#leftNav div:hover.profilemanager, 
#leftNav div:hover.security, 
#leftNav div:hover.plugins, 
#leftNav div:hover.myfavorites {
	background-image: url(/images/menuicons/26pxWhite/My-Favourites-26px.png);	
	background-size:26px 26px;
}

#leftNav div.demomanagement, #leftNav div.about {
	background-image: url(/images/menuicons/26px/Demo-Management-26px.png);	
	background-size:26px 26px;
}

#leftNav div:hover.demomanagement { background-image: url(/images/menuicons/26pxWhite/Demo-Management-26px.png);	 } 

#leftNav div:hover.about, 
#leftNav div.about {
	background-image: url(/images/menuicons/26pxWhite/Demo-Management-26px.png);
	background-size:26px 26px;	
}

#leftNav div.admin {
	background-image: url(/images/menuicons/26px/Adminisation-26px.png);	
	background-size:26px 26px;
}

#leftNav li.show div.admin,
#leftNav div:hover.admin {
	background-image: url(/images/menuicons/26pxWhite/Adminisation-26px.png);	
	background-size:26px 26px;
}

#leftNav div.config {
	background-image: url(/images/menuicons/26px/Adminisation-26px.png);
	background-size:26px 26px;	
}

leftNav li.show div.config,
#leftNav div:hover.config {
	background-image: url(/images/menuicons/26pxWhite/Adminisation-26px.png);	
	background-size:26px 26px;
}

#leftNav div.products {
	background-image: url(/images/menuicons/26px/Products-26px.png);	
	background-size:26px 26px;
}

#leftNav li.show div.products,
#leftNav div:hover.products {
	background-image: url(/images/menuicons/26pxWhite/Products-26px.png);	
}

#leftNav div.salesforce, #leftNav div.connector {
	background-image: url(/images/menuicons/26px/Salesforce-26px.png);	
	background-size:26px 26px; 
}
#leftNav li.show div.salesforce, 
#leftNav li.show div.connector,
#leftNav div:hover.salesforce, 
#leftNav div:hover.connector {
	background-image: url(/images/menuicons/26pxWhite/Salesforce-26px.png);	
	background-size:26px 26px; 
}

#leftNav div.reportmanager, #leftNav div.reports {
	background-image: url(/images/menuicons/26px/Reporting-26px.png);
	background-size:26px 26px; 	
}

#leftNav li.show div.reportmanager, 
#leftNav li.show div.reports,
#leftNav div:hover.reportmanager, 
#leftNav div:hover.reports {
	background-image: url(/images/menuicons/26pxWhite/Reporting-26px.png);	
	background-size:26px 26px; 
}

#leftNav div.social {
	background-image: url(/images/menuicons/26px/Social-26px.png);	
	background-size:26px 26px; 
}

#leftNav li.show div.social,
#leftNav div:hover.social {
	background-image: url(/images/menuicons/26pxWhite/Social-26px.png);
	background-size:26px 26px; 	
}

#leftNav div.search {
	background-image: url(/images/moduleIcons/search.png);	
}
#leftNav div.loadingIcon{
	background-image: url(/images/icons/loading.gif);
}

#leftNav div.locator{
	background-image: url(/images/moduleIcons/partnerLocator.png);	
	
}
#west-panel { 
	float:left;
	/*box-shadow:-7px 0 5px -5px hsla(0, 0%, 0%, 0.15) inset;*/
}

#relayTabPanel { 
	/* SB - z-index:0; overflow:visible;*/ 
	height:100%; 
	background:#fff; 
	/*min-width:916px;*/ 
	float:left; 
}

#relayTabPanel ul { 
	margin-bottom:0; 
}

/* ------------------------------ */

.noIcon {
	background-image: url(/images/icons/transparent.png);
	background-repeat: no-repeat;
}

.loadingIcon{
	background-image: url(/images/icons/loading.gif);
	background-repeat: no-repeat;
}

body {
	margin: 0px;
	padding: 0px;
}
.x-dd-drop-nodrop .x-dd-drop-icon{
  background-image: url(/images/nosuchimage.gif);
}
.x-dd-drop-ok .x-dd-drop-icon{
  background-image: url(/images/nosuchimage.gif);
}
.x-dd-drop-ok-add .x-dd-drop-icon{
  background-image: url(/images/nosuchimage.gif);
}
#rightClickMenu {	
	/*width:12em;
	margin-left:-1px;*/ 
	border:1px solid #205081; 
	border-top:none;
	background-color:#fff; 
	height:4em; 
	position:absolute;
	padding: .2em 0;	
	display:block;
	z-index:1000;
	-webkit-border-bottom-right-radius: 3px; 
	-webkit-border-bottom-left-radius: 3px; 
	-moz-border-radius-bottomright: 3px; 
	-moz-border-radius-bottomleft: 3px; 
	border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px; 
	-webkit-box-shadow: 2px 2px 2px 0px rgba(142, 142, 142, 0.75); 
	-moz-box-shadow: 2px 2px 2px 0px rgba(142, 142, 142, 0.75); 
	box-shadow: 2px 2px 2px 0px rgba(142, 142, 142, 0.75);
}

#rightClickMenu ul li { padding:0 1em; } 

#rightClickMenu a {
	cursor:pointer;
}

#rightClickMenu a:hover {
	color: #9cc038;
	text-decoration:none;
}
/* icon navigation styling */
#iconNav ul {width:100%;}
#iconNav li {/*float:left; display:inline; text-align:center; width:33.3%; height:140px;*/ margin-bottom:2em; }
#iconNav div.icon {padding-top:2em;}

span.datatools, span.accounts, span.workflow {background-image: url(/images/menuicons/16px/Account-Management-16px.png);}
span.funds {background-image: url(/images/menuicons/16px/Marketing-Collaboration-16px.png);}
span.discussions, span.cjm {background-image: url(/images/menuicons/16px/Discussions-16px.png);}
span.myfavorites {background-image: url(/images/menuicons/16px/My-Favourites-16px.png);}
span.events {background-image: url(/images/menuicons/16px/Events-16px.png);}
span.salesforce, span.connector {background-image: url(/images/menuicons/16px/Salesforce-16px.png);}
span.communicate {background-image: url(/images/menuicons/16px/Communication-16px.png);}
span.content, span.plugins {background-image: url(/images/menuicons/16px/Portal-16px.png);}
span.incentive, span.cashback, span.incentive, span.orders, span.salesoutdata  {background-image: url(/images/menuicons/16px/Incentives-16px.png);}
span.products {background-image: url(/images/menuicons/16px/Products-16px.png);}
span.leadmanager {background-image: url(/images/menuicons/16px/Sales-Collaboration-16px.png);}
span.elearning, span.elearning {background-image: url(/images/menuicons/16px/Training-16px.png);}
span.social {background-image: url(/images/menuicons/16px/Social-16px.png);}
span.screens {background-image: url(/images/menuicons/16px/Screenbuilder-16px.png);}
span.files {background-image: url(/images/menuicons/16px/Media-Library-16px.png);}
span.admin {background-image: url(/images/menuicons/16px/Adminisation-16px.png);}
span.config, span.profilemanager, span.security {background-image: url(/images/menuicons/16px/Adminisation-16px.png);}
span.homeIcon, 
span.house, 
span.home {background-image: url(/images/home_over_high.png); background-size:18px auto; text-indent:-9999px; padding:0 0 0 18px !important;}

.x-tab-strip-active span.homeIcon, 
.x-tab-strip-active span.house, 
.x-tab-strip-active span.home { background-size:18px auto;}


span.search {background-image: url(/images/menuicons/16px/search_16px.png); }
span.scorecard, 
span.projects, 
span.about, 
span.demomanagement, 
span.reports {background-image: url(/images/menuicons/16px/generic_16px.png); }



span.reportmanager {background-image: url(/images/menuicons/16px/Reporting-16px.png);}


#iconNav a {
	width:200px;
	height:74px;	
	margin:0 auto;
	display: inline-block;
	position:relative;
	background-repeat: no-repeat;
	background-position: center 0px
}

#iconNav a span {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 74px;
	padding-top:3px;
	left:0;
	right:0; 
}

#iconNav a span > span {
    background: none repeat scroll 0 0 #fff;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #333;
    color: #9b0f00;
    left: 110px;
    padding: 0;
    top: -70px;
    width: 22px;
}

#iconNav div a {background-image: url(/images/menuicons/72px/RLWR-Default.png);}

#iconNav.datatools a {background-image: url(/images/menuicons/72px/AM-default.png);}
#iconNav.datatools a.dataload {background-image: url(/images/menuicons/72px/AM-LoadData.png);}
#iconNav.datatools a.download {background-image: url(/images/menuicons/72px/AM-ExportData.png);}
#iconNav.datatools a.addnewaccount {background-image: url(/images/menuicons/72px/AM-NewAccount.png);}
#iconNav.datatools a.newaccountapprovals {background-image: url(/images/menuicons/72px/AM-NewAccountApproval.png);}
#iconNav.datatools a.reports {background-image: url(/images/menuicons/72px/AM-Reports.png);}
#iconNav.datatools a.segmentation {background-image: url(/images/menuicons/72px/AM-Segmentation.png);}
#iconNav.datatools a.sso {background-image: url(/images/menuicons/72px/AM-SSO.png);}
#iconNav.datatools a.accounts {background-image: url(/images/menuicons/72px/AM-AccountsandContacts.png);}

#iconNav.myfavorites a.myselections {background-image: url(/images/menuicons/72px/MF-MySelectedLists.png);}
#iconNav.myfavorites a.opportunities {background-image: url(/images/menuicons/72px/MF-Opportunities.png);}
#iconNav.myfavorites a.accounts {background-image: url(/images/menuicons/72px/MF-Accounts.png);}
#iconNav.myfavorites a.fundmanager {background-image: url(/images/menuicons/72px/MF-FundManager.png);}
#iconNav.myfavorites a.myfavouritereports {background-image: url(/images/menuicons/72px/MF-MyFavouriteReports.png);}
#iconNav.myfavorites a.reports {background-image: url(/images/menuicons/72px/MF-Reports.png);}
#iconNav.myfavorites a.actions {background-image: url(/images/menuicons/72px/MF-Accounts.png);}
#iconNav.myfavorites a.leads {background-image: url(/images/menuicons/72px/SC-Pipeline.png);}
#iconNav.myfavorites a.approvals {background-image: url(/images/menuicons/72px/AM-NewAccountApproval.png);}

#iconNav.discussions a.discussiongroups {background-image: url(/images/menuicons/72px/DIS-Groups.png);}

#iconNav.communicate a.campaigns {background-image: url(/images/menuicons/72px/COM-Camaigns.png);}
#iconNav.communicate a.emailtolist {background-image: url(/images/menuicons/72px/COM-Communication.png);}
#iconNav.communicate a.selections {background-image: url(/images/menuicons/72px/COM-EmailtoList.png);}
#iconNav.communicate a.emailtemplates {background-image: url(/images/menuicons/72px/COM-Template.png);}
#iconNav.communicate a.files {background-image: url(/images/menuicons/72px/MF-MyFavouriteReports.png);}
#iconNav.communicate a.reports {background-image: url(/images/menuicons/72px/COM-Reports.png);}
#iconNav.communicate a.twitter {background-image: url(/images/menuicons/72px/COM-Twitter.png);}
#iconNav.communicate a.messages {background-image: url(/images/menuicons/72px/COM-MessagetoActivity.png);}
#iconNav.communicate a.linkedin {background-image: url(/images/menuicons/72px/COM-LinkedIn.png);}
#iconNav.communicate a.facebook {background-image: url(/images/menuicons/72px/COM-Facebook.png);}

#iconNav.events a.events {background-image: url(/images/menuicons/72px/EVT-Calendar.png);}
#iconNav.events a.reports {background-image: url(/images/menuicons/72px/EVT-Reports.png);}
#iconNav.events a.setup {background-image: url(/images/menuicons/72px/EVT-Setup.png);}
#iconNav.events a.diary {background-image: url(/images/menuicons/72px/EVT-Calendar.png);}

#iconNav.funds a {background-image: url(/images/menuicons/72px/MC-default.png);}
#iconNav.funds a.fundaccounts {background-image: url(/images/menuicons/72px/MC-FundAccounts.png);}
#iconNav.funds a.setup {background-image: url(/images/menuicons/72px/MC-Setup.png);}
#iconNav.funds a.fundrequests {background-image: url(/images/menuicons/72px/MC-FundRequests.png);}
#iconNav.funds a.budgets {background-image: url(/images/menuicons/72px/MC-BudgetAllocation.png);}
#iconNav.funds a.reports {background-image: url(/images/menuicons/72px/MC-Reports.png);}
#iconNav.funds a.budgetgroupperiodallocations {background-image: url(/images/menuicons/72px/MC-BudgetGroupAllocation.png);}
#iconNav.funds a.activityapprovals {background-image: url(/images/menuicons/72px/MC-ActivityApprovals.png);}

#iconNav.incentive a {background-image: url(/images/menuicons/72px/INC-default.png);}
#iconNav.incentive a.accounts {background-image: url(/images/menuicons/72px/INC-Accounts.png);}
#iconNav.incentive a.prizes {background-image: url(/images/menuicons/72px/INC-Approvals.png);}
#iconNav.incentive a.claims {background-image: url(/images/menuicons/72px/INC-Claims.png);}
#iconNav.incentive a.orders {background-image: url(/images/menuicons/72px/INC-Orders.png);}
#iconNav.incentive a.promotions {background-image: url(/images/menuicons/72px/INC-Promotions.png);}
#iconNav.incentive a.claimscatalogue {background-image: url(/images/menuicons/72px/INC-ClaimsCatalog.png);}
#iconNav.incentive a.prizescatalogue {background-image: url(/images/menuicons/72px/INC-RewardCatalog.png);}
#iconNav.incentive a.reports {background-image: url(/images/menuicons/72px/INC-Reports.png);}

#iconNav.content a.sitemanager {background-image: url(/images/menuicons/72px/PT-ContentManager.png);}
#iconNav.content a.locatordefinitions {background-image: url(/images/menuicons/72px/PT-LocatorDefinitions.png);}
#iconNav.content a.filemanager {background-image: url(/images/menuicons/72px/PT-MediaLibrary.png);}
#iconNav.content a.translate {background-image: url(/images/menuicons/72px/PT-Translations.png);}
#iconNav.content a.plugins {background-image: url(/images/menuicons/72px/PT-Plugins.png);}
#iconNav.content a.reports {background-image: url(/images/menuicons/72px/PT-Reports.png);}

#iconNav.products a {background-image: url(/images/menuicons/72px/PRD-default.png);}
#iconNav.products a.productcategories {background-image: url(/images/menuicons/72px/PRD-ProductCategories.png);}
#iconNav.products a.productgroups {background-image: url(/images/menuicons/72px/PRD-ProductGroups.png);}
#iconNav.products a.products {background-image: url(/images/menuicons/72px/PRD-Products.png);}
#iconNav.products a.productcatalogues {background-image: url(/images/menuicons/72px/PRD-Catalogs.png);}

#iconNav.leadmanager a {background-image: url(/images/menuicons/72px/SC-default.png);}
#iconNav.leadmanager a.pipeline {background-image: url(/images/menuicons/72px/SC-Pipeline.png);}
#iconNav.leadmanager a.setup {background-image: url(/images/menuicons/72px/SC-Setup.png);}
#iconNav.leadmanager a.leads, #iconNav.leadmanager a.opportunities {background-image: url(/images/menuicons/72px/SC-OpportunityManager.png);}
#iconNav.leadmanager a.products {background-image: url(/images/menuicons/72px/SC-Products.png);}
#iconNav.leadmanager a.myapprovals {background-image: url(/images/menuicons/72px/SC-Approvals.png);}
#iconNav.leadmanager a.promotions {background-image: url(/images/menuicons/72px/SC-Promotions.png);}
#iconNav.leadmanager a.specialpricing {background-image: url(/images/menuicons/72px/SC-SpecialPricing.png);}
#iconNav.leadmanager a.reports {background-image: url(/images/menuicons/72px/SC-Reports.png);}

#iconNav.social a.socialadministration {background-image: url(/images/menuicons/72px/SOC-AdminSocial.png);}

#iconNav.elearning a {background-image: url(/images/menuicons/72px/TRN-default.png);}
#iconNav.elearning a.trainingprograms {background-image: url(/images/menuicons/72px/TRN-TrainiongPrograms.png);}
#iconNav.elearning a.courses {background-image: url(/images/menuicons/72px/TRN-Courses.png);}
#iconNav.elearning a.courseware {background-image: url(/images/menuicons/72px/TRN-Courseware.png);}
#iconNav.elearning a.modules {background-image: url(/images/menuicons/72px/TRN-Modules.png);}
#iconNav.elearning a.quizzes {background-image: url(/images/menuicons/72px/TRN-Quizzes.png);}
#iconNav.elearning a.specialisations {background-image: url(/images/menuicons/72px/TRN-Specializations.png);}
#iconNav.elearning a.certifications {background-image: url(/images/menuicons/72px/TRN-Certification.png);}
#iconNav.elearning a.reports {background-image: url(/images/menuicons/72px/TRN-Reports.png);}
#iconNav.elearning a.registrations {background-image: url(/images/menuicons/72px/TRN-Registration.png);}

#iconNav.files a {background-image: url(/images/menuicons/72px/ML-default.png);}
#iconNav.files a.filemanager {background-image: url(/images/menuicons/72px/ML-MediaLibrary.png);}
#iconNav.files a.filetypeandgroupmanager {background-image: url(/images/menuicons/72px/ML-FileTypeandGroupManager.png);}
#iconNav.files a.reviewfiles {background-image: url(/images/menuicons/72px/ML-ReviewFiles.png);}

#iconNav.screens a.screens {background-image: url(/images/menuicons/72px/SCR-Screens.png);}
#iconNav.screens a.profiles {background-image: url(/images/menuicons/72px/SCR-Profiles.png);}
#iconNav.screens a.workflows {background-image: url(/images/menuicons/72px/SCR-Workflow.png);}
#iconNav.screens a.translate {background-image: url(/images/menuicons/72px/SCR-Translations.png);}
#iconNav.screens a.screenemails {background-image: url(/images/menuicons/72px/SCR-EmailTemplates.png);}
#iconNav.screens a.approvalengine {background-image: url(/images/menuicons/72px/AM-NewAccountApproval.png);}

#iconNav.config a.admin {background-image: url(/images/menuicons/72px/SETUP-Admin.png);}
#iconNav.config a.communications {background-image: url(/images/menuicons/72px/SETUP-Communication.png);}
#iconNav.config a.content {background-image: url(/images/menuicons/72px/SETUP-Portal.png);}
#iconNav.config a.profilemanager {background-image: url(/images/menuicons/72px/SETUP-Profiles.png);}
#iconNav.config a.files {background-image: url(/images/menuicons/72px/SETUP-Files.png);}
#iconNav.config a.datatools {background-image: url(/images/menuicons/72px/SETUP-DataManager.png);}
#iconNav.config a.workflows {background-image: url(/images/menuicons/72px/SETUP-Workflow.png);}
#iconNav.config a.leadmanager {background-image: url(/images/menuicons/72px/SETUP-SalesCollaboration.png);}
#iconNav.config a.marketingcollaboration {background-image: url(/images/menuicons/72px/SETUP-MarketingCollaboration.png);}
#iconNav.config a.social {background-image: url(/images/menuicons/72px/SETUP-Social.png);}
#iconNav.config a.incentivemanager {background-image: url(/images/menuicons/72px/SETUP-Incentives.png);}
#iconNav.config a.orders {background-image: url(/images/menuicons/72px/SETUP-Orders.png);}
#iconNav.config a.catalogmanagement {background-image: url(/images/menuicons/72px/SETUP-CatalogManagement.png);}
#iconNav.config a.elearning {background-image: url(/images/menuicons/72px/SETUP-Training.png);}
#iconNav.config a.security {background-image: url(/images/menuicons/72px/SETUP-Security.png);}
#iconNav.config a.validvalues {background-image: url(/images/menuicons/72px/SETUP-ValidValues.png);}
#iconNav.config a.events {background-image: url(/images/menuicons/72px/SETUP-Events.png);}
#iconNav.config a.projects {background-image: url(/images/menuicons/72px/SETUP-Projects.png);}

#iconNav.salesforce a.reports {background-image: url(/images/menuicons/72px/SF-Reporting.png);}
#iconNav.salesforce a.sfconnectordashboard {background-image: url(/images/menuicons/72px/SF-Dashboard.png);}

#iconNav.connector a.salesforceconnectordashboard, #iconNav.connector a.salesforceconnectorfieldmappings, #iconNav.connector a.salesforceconnectorvaluemappings, #iconNav.connector a.salesforceconnectorobjects {background-image: url(/images/menuicons/72px/SF-Dashboard.png);}

#iconNav.admin a.systemutilities {background-image: url(/images/menuicons/72px/ADM-SystemUtilities.png);}
#iconNav.admin a.useraccessrights {background-image: url(/images/menuicons/72px/ADM-UserRightsAccess.png);}
#iconNav.admin a.usergroups {background-image: url(/images/menuicons/72px/ADM-UserGroups.png);}
#iconNav.admin a.admintools {background-image: url(/images/menuicons/72px/ADM-AdminTools.png);}
#iconNav.admin a.usermanagement {background-image: url(/images/menuicons/72px/ADM-UserManagement.png);}
#iconNav.admin a.reports {background-image: url(/images/menuicons/72px/ADM-Reports.png);}
#iconNav.admin a.homepageoptions {background-image: url(/images/menuicons/72px/ADM-HomePageOptions.png);}
#iconNav.admin a.emailredirection {background-image: url(/images/menuicons/72px/ADM-Default.png);}
#iconNav.admin a.datadeduplicationfuzzyrules {background-image: url(/images/menuicons/72px/ADM-Default.png);}
#iconNav.admin a.datadeduplicationautomatic {background-image: url(/images/menuicons/72px/ADM-Default.png);}

#iconNav.reportmanager a {background-image: url(/images/menuicons/72px/RPT-default.png);}
#iconNav.reportmanager a.reportmanager {background-image: url(/images/menuicons/72px/RPT-ReportDesigner.png);}
#iconNav.reportmanager a.allreports {background-image: url(/images/menuicons/72px/RPT-AllReports.png);}

/* 2014-08-21	RPW	Add to Home Page options to display Activity Stream and Metrics Charts */
#iconNav.homepage a.myselections {background-image: url(/images/menuicons/72px/MF-MySelectedLists.png);}
#iconNav.homepage a.opportunities {background-image: url(/images/menuicons/72px/MF-Opportunities.png);}
#iconNav.homepage a.accounts {background-image: url(/images/menuicons/72px/MF-Accounts.png);}
#iconNav.homepage a.fundmanager {background-image: url(/images/menuicons/72px/MF-FundManager.png);}
#iconNav.homepage a.myfavouritereports {background-image: url(/images/menuicons/72px/MF-MyFavouriteReports.png);}
#iconNav.homepage a.reports {background-image: url(/images/menuicons/72px/MF-Reports.png);}
#iconNav.homepage a.actions {background-image: url(/images/menuicons/72px/MF-Accounts.png);}
#iconNav.homepage a.leads {background-image: url(/images/menuicons/72px/SC-Pipeline.png);}

#iconNav a:hover {background-position: center -86px;}

/*Left Menu Slide in */
#westHeaderToggle { /*border-top:1px solid #f0f0f0;*/  padding:8px 0 0 0; text-align:right; }
#westHeaderToggle a#toggleCloseMenu { color:#fff; padding:0 10px 3px 10px; font-size:20px; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; border-radius: 3px 3px 0 0; margin-right:10px; } 
#westHeaderToggle a#toggleOpenMenu { color:#fff; padding:1px 10px 3px 10px; font-size:20px; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; border-radius: 3px 3px 0 0; margin-right:10px; }

#westHeaderToggle a:hover#toggleCloseMenu,
#westHeaderToggle a:hover#toggleOpenMenu { text-decoration:none; }

#toggleOpenMenu {display:none;}

/* New layout */
#homeIframe,
.lowerPage { width:100%; height:100%; min-height:100%;}

/* Version Number */
.versionNumber { background:#f5f5f5 !important;	color:#333; padding:3px; font-size:11px; text-align:center; font-weight:bold;}

#styleSheetColourBox { overflow:hidden; }
