/* *****************************
	Theme Light
********************************/

/* PRIMARY COLOUR */

.x-tab-panel-header { 
	background:#205081 !important; 
}

#north,
#westHeaderToggle,
#leftNav .navHeader { 
	background:#205081; 
}

/*SECONDARY COLOUR*/

#westHeaderToggle a#toggleCloseMenu,
#westHeaderToggle a:hover#toggleCloseMenu,
#westHeaderToggle a#toggleOpenMenu,
#westHeaderToggle a:hover#toggleOpenMenu,
#west-panel, #west,
#west ul.subNav,
.x-tab-strip a  {
	 background:#428bca;
	 color:#fff;
}

/*TERTIARY COLOUR */

div#west ul#leftNav li > ul.subNav li.show,
div#west ul#leftNav li > ul.subNav li:hover,
#west ul.subNav li.leftNavSub ul.drop,
#west ul.subNav li.leftNavSub.with-js ul.drop {background:#7fba00;}


/* GLOBAL STYLES */

#rwLogo { 
	background-image: url("/images/theme/logoSmall_high.png"); 
}

.x-tab-strip-active span.homeIcon, 
.x-tab-strip-active span.house, 
.x-tab-strip-active span.home {
	background-image: url(/images/home_high.png);
}

#westHeaderToggle a#toggleCloseMenu { 
	background-size:13px auto; 
}

#westHeaderToggle a:hover#toggleCloseMenu {
	background-size:13px auto;
}

#westHeaderToggle a#toggleOpenMenu { 
	background-size:13px auto; 
}

#westHeaderToggle a:hover#toggleOpenMenu { 
	background-size:13px auto;
}