

<cfset application.com.request.setTopHead(queryString = "",topHeadCfm="/relay/singleSignOn/SAML/IDP/editor/SAMLIDPTopNav.cfm")>


<style>
  .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
</style>







<cfif structKeyExists(form,"ServiceProviderToEdit")>
	<cfinclude template="editServiceProviders_oneServiceProvider.cfm">
<cfelse>
	<cfinclude template="editServiceProviders_allServiceProviders.cfm">
</cfif>


