
<cfparam name="headerAttributes.pageTitle" type="string" default="">


<CF_RelayNavMenu pageTitle="#headerAttributes.pageTitle#" thisDir="SAML/IDP/editor">
	<CF_RelayNavMenuItem MenuItemText="phr_saml_Service_Provider_Settings" CFTemplate="editServiceProviders.cfm">
	<CF_RelayNavMenuItem MenuItemText="phr_saml_Certificate_Management" CFTemplate="certificateManagement.cfm">	
	<CF_RelayNavMenuItem MenuItemText="phr_saml_metadata" CFTemplate="metadata.cfm">	
</CF_RelayNavMenu>


